[2015-03-02 11:15] BrianGenisio commented on #642
It appears so.  Have you tried this?

[code]

Documented on the [Board Wiki](https://github.com/rwaldron/johnny-five/wiki/Board)

[2015-03-02 11:27] Jackbennett commented on #641
This is the first thing I've made so my experience might not be the level you intend this library for  but I'll explain my reasoning for you to judge.

L293D chip pinout for reference, pin numbers form here refer to this diagram not an arduino.
![image](https://cloud.githubusercontent.com/assets/791134/6439560/c3faea48-c0cb-11e4-87ee-a80f58b4291d.png)

The 3-way as wired I can see that;
- Pin 2 an

[2015-03-02 14:46] #629 closed

[2015-03-02 14:46] #642 closed

[2015-03-02 16:07] rwaldron opened #643 "Button, Servo (and others?): isInverted or invert?"
Problem:

- `Button` has a constructor options property called `invert`
- `Servo` has a constructor options property called `isInverted`

At this point I think we need to just make it so that _either_ will work on both, then drop one of them for 1.0

[2015-03-02 16:21] dtex commented on #643
I'll patch servo to recognize both.

I like ```invert``` because ```isInverted``` is relative to what?

[2015-03-02 17:16] rwaldron commented on #643
Yeah, agreed. I think in 1.0 we'll kill "isInverted" in favor of `invert`

[2015-03-02 17:19] dtex commented on #641
The key is the difference in the voltage being applied to the two poles of the motor. With pin 2 on the H-Bridge being fed a digital signal and pin 7 on the H-Bridge being fed an analog signal:

Pin 2 | Pin 7 | Difference | Result
------------ | ------------- | ------------- | -------------
Low | 0 | **0** | Stopped
Low | 64 | **+64** | Forward half speed
Low | 128 | **+128** | Forward half speed

[2015-03-03 18:10] gabrielpapke commented on #486
Hi @rwaldron, firstly, congratulations to Johnny-five project, is exciting.
I'm beginner yet, and i have some difficulties to use my LCD display with johnny-five framework, the model is i2c PCF8574T, and i tried to use your example for tests, but doesn't work.
Is there some reason to not work?
Thanks.

[2015-03-03 18:46] rwaldron commented on #486
@gabrielpapke can you share your code?

To initialize that device:

[code]

I will add an alias for `PCF8574T`

[2015-03-03 18:49] rwaldron commented on #486
Added.

[code]

[2015-03-03 20:32] gabrielpapke commented on #486
When i initialize the device the display show only box like [this image](http://www.michaelkahane.com/blog/wp-content/uploads/2012/10/IMAG0352.jpg)
And [this](http://i2.wp.com/cdn3.bigcommerce.com/s-vt19phz/product_images/uploaded_images/tronixlabs-i2c-backpack-arduino-tutorial-5.jpg?resize=450%2C425) is my component.

This is my code:
[code]

Thanks for attention.

[2015-03-03 21:06] rwaldron commented on #486
var five = require("johnny-five/lib/johnny-five.js");
[code]

Note that the controller is **PCF8574AT**, that's the chip model as printed on the chip itself. This is very important, as it determines which default address to use.

Here's a video of the above code with the same LCD: https://www.youtube.com/watch?v=thFte7gjoNI

[2015-03-03 22:49] gabrielpapke commented on #486
I'm using the code from repo, i have updated the repo but still not working :(
I tried with controllers: **PCF8574T, PCF8574AT, PCF8574** again.
The same problem: when I initialize the device the display show only boxes.
Is it because the chip model is different from yours? **PCF8574T** without the "A" letter.

Thanks for attention.

[2015-03-03 23:54] mcinnes01 opened #644 "MCP23S17 support"
Hi,

I just wondered if it possible or if there already is some support/implementation for control an MCP23S17 with johnny-five and an arduino or raspberry pi?

Many thanks

Andy

[2015-03-04 00:51] rwaldron commented on #644
Not currently—what are they generally used for?

[2015-03-04 00:52] rwaldron commented on #486
Whatever the chip number on your chip, use that.

Can you share a picture of your own wiring?

[2015-03-04 03:26] gabrielpapke commented on #486
![img_4309](https://cloud.githubusercontent.com/assets/5304816/6477653/97337806-c204-11e4-9b34-e002ec21890d.JPG)
This is my wiring, is there something wrong?
(The reflex is a bit disturbing, sorry)

[2015-03-04 07:48] mcinnes01 commented on #644
They are an spi driven real gpio expander allowing for all 16 pins to be controlled individually as inputs or outputs. There is also an i2c version. Apparently the piface expansion board uses one. Also they have 2 pins that can be pull high or low to give 4 combinations to address up to 4 chips individually on the same chip select. I've seen drivers for written for arduino, wiring pi and netduino

[2015-03-04 07:50] mcinnes01 commented on #644
Forgot to mention can also assign interrupts to pins.

[2015-03-04 15:44] rwaldron commented on #486
Sorry if this is a dumb question, but you've made sure that StandardFirmata is on the board, correct?

Can you take a picture of the back of the LCD, as close as possible but without blurring the writing on the chip and the pcb? I really appreciate your patience :)

Also, this picture is really great :) I _think_ I might've noticed something, but I can't be sure—can you take a look at these solder

[2015-03-05 03:02] gabrielpapke commented on #486
Thanks for your patience too!
No problem, the StandardFirmata is on board, i'm using others components and they are working :)

I don't have so much experience with solder, the solder can not touch each other?
Sorry if this is a dumb question haha

Sorry about my english, I from Brazil and i speak portuguese.

Take a look at the pictures:
![img_4317](https://cloud.githubusercontent.com/assets/5304

[2015-03-05 14:21] frxnz commented on #631
@rwaldron I'm hoping to get started on this this weekend. What is the plan for deprecating the existing classes?

[2015-03-05 16:34] rwaldron commented on #486
Correct—each solder joint must be "isolated" such that it only affects the circuit nodes that it's connecting. If any of those are touching on the LCD, then it could (at least) not work correctly or (at worst) permanently damage the LCD.

Do you have access to a multimeter? If you do, set it to "continuity" mode, look for this icon:

![](http://lizarum.com/assignments/physical_computing/images/mul

[2015-03-06 19:41] markwest1972 commented on #309
Hello!

I just came across this issue while trying to solve a problem with my robot, which is based on an Pololu Zumo Chassis.  I'm having the same problem, as the chassis motors are connected to pins 9 & 10.

When adding servos to my robot the net effect that I can no longer control the speed of these motors.

Unfortunately the robot is a bit tricky to dismantle, so I just wondered if you could t

[2015-03-06 20:12] rwaldron commented on #309
@markwest1972

Well, there is actually no software for any platform that can fix this because the Zumo is hard wired to use pin 9 and 10 for PWM speed control of the two motors. https://www.pololu.com/docs/0J57/5

Are they connected to 9 and 10? What about using other PWM capable pins?

[2015-03-06 20:12] rwaldron commented on #631
None yet, so let's see where we're at once you're ready :)

[2015-03-06 20:22] markwest1972 commented on #309
@rwaldron thanks for a quick reply!

Unfortunately, according to @soundanalogous, the servo library disables analogWrite() (PWM) functionality on pins 9 and 10.  As the Zumo is hard wired to use pin 9 and 10 I guess I'm pretty stuck, no matter which pins I connect the servos to.

I see that this is a problem whether I use Johnny-Five or native Arduino :(

Anyway, I've posted a question on the Polo

[2015-03-06 20:44] rwaldron commented on #309
It disables the literal call to `analogWrite` on those pins, but doesn't flat out disable them. Those two pins can still be controlled with a `board.servoWrite(pin, 0-180)` call (which results in a call to `servo.write(pin, 0-180)` on the board). All you'd need to do is `five.Fn.map(speed, 0, 255, 0, 180)` to map the speed value.

[2015-03-06 21:01] markwest1972 commented on #309
Ok, I just need to think about how that would work....

At the moment I used the following commands to set up and control the motors on the Zumo chassis.

How would I add the board.servoWrite(pin, 0-180) calls to this code?

[2015-03-06 21:23] rwaldron commented on #309
Let's ask @dtex

I think it might make sense for the `Motor` class to use `servoWrite` internally, instead of `analogWrite`, but Donovan will know if there are issues with that.

In the meantime, give this a try:

[code]

This just overrides the present definition of `setPWM`. I have no idea if it will work, but it seems like it should. If it does, then that buys time for Johnny-Five to implement

[2015-03-06 21:26] markwest1972 commented on #309
Thanks a lot!  I'll give that a try tomorrow (it's wine o'clock here in Oslo and time to put the robot to bed for the night).

As always, thanks for your help!  I really appreciate it!

[2015-03-06 21:39] rwaldron commented on #309
Enjoy your evening!

No problem :)

I will see about assembling my zumo as well and we'll get to the bottom of this together.

[2015-03-06 23:13] dtex commented on #309
I had it in my head that servoWrite handled the value differently, but I found this in firmata.js:

https://github.com/jgautier/firmata/blob/master/lib/firmata.js#L657-L661
[code]
So I don't see what difference it would make.

[2015-03-06 23:18] rwaldron commented on #309
Ah, yes. It's the pin's _mode_ that matters: https://github.com/firmata/arduino/blob/master/examples/StandardFirmata/StandardFirmata.ino#L299-L315

So you _could_ set the pinMode to 4 (servo) and still call analogWrite

[2015-03-06 23:22] dtex commented on #309
God I hope I'm just exhausted and overlooking something obvious, but I'm beginning to think the range is not being mapped properly at all. I don't see where we are mapping degrees [0, 180] to our PWM range [0, 255]. It's doing it for the PCA9685 but not for servos connected to the Arduino's pins.

[2015-03-07 03:49] soundanalogous commented on #309
So you can use board.servoWrite to drive a regular DC motor? Hummm, never thought of trying that.

[2015-03-07 06:17] markwest1972 commented on #309
Ok, just got up and done a test.

The good news is that it works!  I am now able to control the speed of the motors! +1:

The bad news is that the motors are now constantly buzzing / shaking.  This happens whether or not the additional servos are connected.  Another side effect is that the motors are now a lot slower.

[2015-03-07 07:54] markwest1972 commented on #309
In case it helps, heres a link to my question on the Pololu Forum, where they suggested using different timers to control the servos and the motors.

http://forum.pololu.com/viewtopic.php?f=29&t=9622&sid=488bde4bb7bfaa341329eafcd3bfcc10

[2015-03-07 15:25] rwaldron commented on #309
Slowdown and jitter is likely caused by the pwm range disparity between
servo.write and analogWrite (in the C program running on the board). I had
forgotten about that, and this is probably not the right solution.
On Sat, Mar 7, 2015 at 2:55 AM Mark West <notifications@github.com> wrote:

[2015-03-07 15:26] rwaldron commented on #309
For some extra dollars, you could add an adafruit pca9685 and get 16 servos
controlled via I2C :)
On Sat, Mar 7, 2015 at 10:25 AM Rick Waldron <waldron.rick@gmail.com> wrote:

[2015-03-07 15:52] markwest1972 commented on #309
That's certainly one option!  I'm also looking into remapping the 9 & 10 Pins on the Zumo Shield.

In the mean time let me know if you've got any other ideas you'd like me to try out.  I have a test rig ready to go at a moments notice!

[2015-03-07 16:13] bennysce opened #645 "Error in image button.png"
Hi, noticed on the lasercat workshop that the button image referred to at https://github.com/rwaldron/johnny-five/blob/master/docs/button.md is incorrect. I don't think that red wire is correctly placed on the board for it to work. The red wire has to be set in the same column as the leg for the button.

See johnny-five/docs/breadboard/button.png.

[2015-03-07 17:34] soundanalogous commented on #309
You could use an Arduino Mega, but it would overhang so that may not be ideal.

[2015-03-07 17:50] markwest1972 commented on #309
@soundanalogous I'm actually using a RaspberryPI, connected to the Zumo via an Arduberry.  I'd like to keep all of this if possible, so the remapping option is currently my favourite.  But I'll keep the Mega in mind.

[2015-03-07 20:52] gabrielpapke commented on #486
A don't have access to a multimeter now, but I already test the LCD with C++ code directly with Arduino, and it works.
The problem can be still in the LCD? If the problem can be on the LCD, I will provide a multimeter.

Thanks for the tips. :)

[2015-03-08 18:52] aramperez commented on #645
I'm not that familiar with johnny-five yet, but if the code states "button = new five.Button(8);", shouldn't the yellow wire go to pin 8 on the Arduino instead of pin 2?

[2015-03-09 14:26] rwaldron commented on #645
You are correct :)

Also correct :)

Thanks for the bug reports—I'll have a fix for this asap.

[2015-03-09 14:34] #645 closed

[2015-03-09 14:36] Resseguie commented on #645
@rwaldron FYI, you might just b e able to use the FZZ I did for your presentation a while back but move to pin 8.

https://www.dropbox.com/s/j8jkks2ojx4q8cz/button8.png?dl=0
https://www.dropbox.com/s/ckuk04d460rciqb/button8.fzz?dl=0

[2015-03-09 14:37] Resseguie commented on #645
Never mind, you beat me to the update.

[2015-03-09 16:34] rwaldron commented on #486
If it works with the C code, then it's not the LCD. That also means that I don't know what's wrong and I'm completely out of ideas :( I have about 10 LCDs here, 3 of which are variations of yours, 1 that is identical and all of them work for me, so I'm at a loss.

[2015-03-09 23:11] mcinnes01 commented on #627
@rwaldron thanks for your clear steps I've been looking to be able to do this for ages and within about 20 minutes I'm able to control my arduino over ethernet with johnny-five. I've been trying to do this with octoblu and microblu_mqtt for ages but to no avail. Are there likely to be some features coming soon and in terms of stability where would you say this is up to? Like octublu I like the ide

[2015-03-09 23:24] rwaldron commented on #627
@mcinnes01 are you using [etherport](https://github.com/rwaldron/etherport)?

[2015-03-09 23:30] mcinnes01 commented on #627
@rwaldron I am indeed, its great well done!

[2015-03-09 23:40] rwaldron commented on #627
Excellent :)

[2015-03-09 23:40] #627 closed

[2015-03-10 07:51] markwest1972 commented on #309
@soundanalogous @rwaldron Just out of interest, does Johnny-Five / Firmata do anything specific with the various timers on the ATmega chip?

[2015-03-10 23:45] spemmons commented on #491
I ran [Istanbul](http://gotwarlost.github.io/istanbul/) to check code coverage and found that the tests are pretty good at...
* Statements: 82.66% (3236 / 3915)
* Branches: 69.48% (1300 / 1871)
* Functions: 80% (556 / 695)

But it would be great to see the % higher, especially for branch coverage. Of course, there could be many parts of he codebase (e.g., like the Examples) that could be removed f

[2015-03-11 04:40] soundanalogous commented on #309
@markwest1972 StandardFirmata already uses all of the timers of an ATmega328p. The number of timers available depends on the specific microcontroller. An Arduino Mega more timers than an Arduino Uno even though both are in the ATmega chip family.

I don't think direct timer access via the Firmata protocol would be useful since you could not return any data when the timer interrupt fires (sending s

[2015-03-11 07:30] markwest1972 commented on #309
@soundanalogous Thanks for your answer!  I now have a better understanding of the challenges here.

If anyone else reading this thread is interested, I found this article to be informative : http://www.engblaze.com/microcontroller-tutorial-avr-and-arduino-timer-interrupts

[2015-03-11 12:34] LenaicTerrier commented on #88
On [https://github.com/jgautier/firmata#i2c](the firmata page) it's indicated that `sendI2CWriteRequest` and `sendI2CReadRequest` functions are both deprecated. Is it also the case for **johnny-five** ?

[2015-03-11 14:13] rwaldron commented on #88
Yes, all classes will be migrating to the new API in time

[2015-03-11 20:00] markwest1972 commented on #309
I just resolved this issue remapping the pins so that 9 and 10 are no longer used.  For more information on how to do this visit this thread : http://forum.pololu.com/viewtopic.php?f=29&t=9622.

Really happy now,  My PI Controlled Zumo now has a pan and tilt camera :dancers:

[2015-03-11 22:18] rwaldron commented on #309
So awesome! Can you do a write up for the wiki (and forth coming website :D)?

[2015-03-12 07:58] markwest1972 commented on #309
Can do.  Got a lot on over the next week, but will get something down before Easter.  Heres the Robot BTW.

![markawest_2015-mar-12](https://cloud.githubusercontent.com/assets/9844371/6614071/d2d00612-c895-11e4-9563-53a59f8e7639.jpg)

She may not look like much, but she's got it where it counts, kid. I've made a lot of special modifications myself.

[2015-03-12 15:09] Resseguie commented on #309
@markwest1972 Looks cool! Maybe I missed it earlier, but are you using teh Zumo 32U4 or the older "Zumo for Arduino" version? Just curious.

[2015-03-12 15:20] markwest1972 commented on #309
The older version.

[2015-03-12 16:53] rwaldron commented on #309
Oh wow—that looks like a bot I've been building this week :D

![](https://dl.dropboxusercontent.com/u/3531958/edison-spy-bot.jpg)

[2015-03-13 10:02] markwest1972 commented on #309
@rwaldron Nice!  Do you have video of it in action?

[2015-03-15 03:22] den2k opened #646 "Zumo IR Array not working with Johnny Five"
I've been having great success getting Johnny Five to work with the Zumo bot.  Motor control through wireless works great with keyboard control.

I'm now trying to get the attached IR Array to work.

The challenge I have is running the following code.

[code]

The issue is the various pins are already in use.

pin: 2 is already in use
pin: 4 is already in use
pin: 3 is already in use
pin: 0 is alr

[2015-03-15 12:32] BrianGenisio commented on #646
A couple of things related to this:

The `IR.Reflect.Array` currently only supports analog sensors.  The Zumo array is a digital sensor, which uses pulse timing to determine the values.  Instead, if you want to use a reflectance array in Johnny-Five, you will need to use an [analog array](https://www.pololu.com/product/960).

Because of this, you need to use analog pins only (A0, A1, A2, etc).  In

[2015-03-15 14:52] rwaldron opened #647 "Update ESC class"
- [x] Update to controller pattern
- [X] Implement PCA9685 controller

[2015-03-15 20:53] den2k commented on #646
I didn't realize this made a difference. Good to know and seems obvious now. Luckily I have an analog version of their IR array. I'll try that when I get a chance and see if it makes a difference. I'll also just try with just the analog pins on the current array and see what I get.

[2015-03-15 23:23] r3sk commented on #285
I am trying to set 2 ds18b20 sensors on the same pin like:
[code]

but i get this error:
[code]

am i doing something wrong?

[2015-03-15 23:34] fsamir opened #649 "How to handle reconnects?"
Hi there,
what is the right way to safely handle when the user pulls off the USB cable?
Also, how to auto reconnect once the USB is connected again?

The blink example crashes when the USB cable gets pulled off.

Thanks,
Franklin

[2015-03-16 00:46] BrianGenisio commented on #646
Cool.  Glad to know you have an analog one lying around.  I can assure you, however, that if you connect a digital array up to analog pins, the driver won't work.  The encoding is completely different.  As far as I understand, the Zumo array only comes in digital.  The Pololu sensor comes in digital or analog.

[2015-03-16 15:14] rwaldron commented on #649
Unfortunately, it's not possible to maintain state integrity when the serial line is disconnected. Once the USB is plugged back in, StandardFirmata will reset on the board.

[2015-03-16 15:14] #649 closed

[2015-03-16 15:21] rwaldron opened #650 "Wiki Update: Getting-started-with-Johnny-Five-and-the-Intel-Galileo-gen2"
Need to update https://github.com/rwaldron/johnny-five/wiki/Getting-started-with-Johnny-Five-and-the-Intel-Galileo-gen2 to use the IoT DevKit image instructions.

[2015-03-17 21:01] Resseguie commented on #629
I have concerns about the fix for this. It exposes `isAnode` in the underlying Led class (and generated docs). But does that even make sense? Can there be such a thing as "common anode" for a single LED? See the added example here that doesn't make sense to me: https://github.com/rwaldron/johnny-five/blob/master/docs/led-anode.md

[2015-03-17 21:03] nodebotanist commented on #629
I agree. I can take a look at this tonight when I am back at the lab.

[2015-03-18 17:05] rwaldron commented on #309
@markwest1972 This project has become my albatross...

- When using wall power, the board and code work perfectly. Once I switched to LiPo power, strange things started happening.
- With a 4C, 2.25A LiPo, regulated by a 12V 3A (max) BEC:
- The board failed to initialize the GPIOs necessary for the compiled bindings lib to detect which kind of breakout it was attached to: Arduino or Mini? It was de

[2015-03-18 20:05] markwest1972 commented on #309
Ouch!  That sounds like hard work.  It'll be worth it when you are done though!

If you fancy a break have a look at this : https://vimeo.com/122570460.  My robot has come on a bit since Christmas, but I think it's now time to put the Zumo away and start with a new project.

[2015-03-18 20:20] Resseguie commented on #309
@markwest1972 that's cool!

[2015-03-19 03:35] brunocascio opened #655 "Error Device or firmware error"
Hi!

I have an arduino Mega 2560.

I run Kali Linux (Debian 7) and when run, i get:

[code]

I don't understand the problem...

[2015-03-19 11:57] martinheidegger opened #656 "Start event is called without delay. Confusing to beginners"
I just had a question at the NodeSchool Osaka where one member tried to run this:

[code]

A not quite uncommon thing to expect to work. Since a event system is expected to have _a_ delay anyways. However johnny-five [calls the method directly](https://github.com/rwaldron/johnny-five/blob/35ab892a17bf53765720b350b32efea2da181c1a/lib/motor.js#L564) so it has to look like this:

[code]

It is hard t

[2015-03-19 12:01] mapaiva commented on #655
@brunocascio Have you uploaded StandardFirmata to your arduino?

[2015-03-19 15:19] rwaldron commented on #655
@brunocascio as @mapaiva suggested, please make sure that StandardFirmata has been uploaded to your board. Here are instructions: https://github.com/rwaldron/johnny-five/wiki/Getting-Started#trouble-shooting

[2015-03-19 22:20] dtex commented on #656
It is not clear to me how this could be changed. Even if we were doing something asynchronously and could emit the event after I/O to the board we would still be at risk of a race condition.

[2015-03-19 22:41] fivdi commented on #656
Would replacing [this](https://github.com/rwaldron/johnny-five/blob/master/lib/motor.js#L563-L565):
[code]
with this:
[code]
not improve things a lot?

[2015-03-19 23:40] dtex commented on #656
Hmmm, I wonder why we are not using that in more places. I even see where I commented it out in Servo though I have no memory of why. Perhaps there was an issue with Travis and our fake timers? We aren't even looking for that event in tests so that probably wasn't it. I'm going to dig through the history of Servo and Motor and see if I can find the reason.

[2015-03-19 23:44] brunocascio commented on #655
Works! thanks @rwaldron @mapaiva !

[2015-03-19 23:44] #655 closed

[2015-03-20 00:36] kisPocok opened #658 "Does "QC1602A v2.0" LCD supported in J5?"
Hi,

I recently bought one (2 row, 16 col version) and I can't handle it with johnny-five. Could you help me?

Thanks,
D.

[2015-03-20 18:55] rwaldron commented on #658
The units that I'm seeing are parallel wiring—is that how yours is?

[2015-03-21 19:29] landshark22 commented on #530
Did anyone ever solve this problem? We are having a few issues communicating with our ESC including getting reverse to work properly.

[2015-03-21 20:13] rwaldron commented on #530
No, not yet. @carldanley was going to ship his bot to me so I could work on it... not sure if that's still the plan. I just bought an ESC that has reverse capabilities—that will be here on Tuesday, which is the soonest I can work on this. I appreciate your patience :)

[2015-03-21 20:15] rwaldron commented on #530
I just found this on another site...

Have you tried calibrating like this?

[2015-03-22 00:33] carldanley commented on #530
@rwaldron Thanks for the reminder! Email me your address so I can send my RC car your way.

[2015-03-22 19:01] rwaldron commented on #530
@carldanley let's hold off on that. I have a bidirectional ESC on it's way, so it might be able to solve this without needing your entire RC car :D

[2015-03-22 20:50] martinheidegger commented on #656
Looks like a good start to me. Its always a bit scary to see changes without unit tests though :)

[2015-03-22 21:58] dtex opened #663 "Write unit tests for emitted events in Motor"
In the tests, define the listener(s) after calling the trigger to ensure that events are emitted on process.nextTick

[2015-03-22 21:59] dtex commented on #656
So unit tests on the event emitters? Easy enough but different issue #663. Closing this.

[2015-03-22 21:59] #656 closed

[2015-03-23 08:14] markwest1972 commented on #309
@Resseguie Thanks :)

[2015-03-23 10:26] McDonnellDean commented on #639
Sorry for the delay getting back, working on a job move (to my first node job yay!)

I think this should mostly work already, mostly.

Let me have a look over the next couple of days and see what changes are needed to get this going but I'm pretty sure we are only limited by the Peizo itself.

[2015-03-23 13:20] #643 closed

[2015-03-23 17:34] boneskull opened #665 "refactor LedControl"
After trying to tweak `LedControl.js` to work with a [24-segment, bi-color bar-graph](https://www.adafruit.com/products/1721), I've come to the conclusion that the code needs some refactoring, because it scales poorly.
- if you are attempting to use the `HT16K33` controller in the context of a bar graph (since that's the chip the bar graph backpack uses), certain functions should not be available,

[2015-03-23 19:06] dazld commented on #326
I finally managed to try this out - sadly the behaviour seen in the top post is still there. I'm going to chalk this up to dodgy hardware (despite working A1 with standard arduino IDE). I'd be happy to donate the LCD to a maintainer if anyone is interested in seeing why - but, regardless, can probably close this.

[2015-03-23 19:49] rwaldron commented on #665
That's a lot to read. I'll need some time to consider and respond.

[2015-03-23 20:09] rwaldron commented on #665
Why not create an `Led.BarGraph` class?

[code]

This is a nit-pick, but there is no `setFoo` here.

[code]

Controllers aren't really meant to offer re-usable code, quite the opposite: they provide the component or device specific code.

Those literally do the same, but with the overhead of a function call and loops :P

I don't follow this... clarify?

Its the controller used when no `controller:

[2015-03-23 20:51] rwaldron commented on #326
Right and this should work with Johnny-Five. I've purchased many LCDs to ensure that they all work correctly and I'm at a loss this time. Can you share the code you're using?

[2015-03-23 22:10] boneskull commented on #665
@rwaldron

Hmm, I think I need to be a bit more clear.  The `isMatrix` flag, for example, causes extra conditionals within functions to check for it (see also `isBicolor`).  This is an antipattern; it doesn't scale.  Nor does checking dimensions at the constructor level, nor does explicitly mixing functions in.  Basically, we're jamming too much stuff into each controller.

Let me rephrase then.

[2015-03-23 22:33] rwaldron commented on #665
Yep, I agree. (We have a problem with `isBicolor`... it's already in the book)

Agreed.

This is irrelevant to the task at hand (see below)

...

`LedControl` is legacy and it's clear to me that you have a plan. I want you to rewrite the class, use the existing classes that have it right as a guideline, along with your plan. I'll contribute/advise at the highest level (API surface, etc), @BrianGen

[2015-03-23 22:40] rwaldron commented on #665
Yeah, `lib/led-components/*.js`, something like that?

[2015-03-24 04:15] dtex commented on #665
A quick point about controllers. We have two levels of classification: controllers and devices. Devices are the "types" referred to above ("matrix", "seven-segment", "bargraph", etc). Controllers should be read as "interfaces". They are how we communicate with or control the device.

User methods could be bound to devices and the specifics of the controller would be hidden from the user. Motor.js

[2015-03-24 04:28] dtex opened #666 "Servo offset bug"
There is a bug in servo that I wanted to document in case anybody else has struggled with it. It appears when a servo opts object has both a range and offset property and the problem is compounded when a servo is inverted.

The offset property applies a transform to the local coordinate space of the servo. We are currently enforcing our range limits after the offset has been applied. This means th

[2015-03-24 13:20] rwaldron commented on #666
Nice find and even better documentation :)

[2015-03-24 16:43] boneskull commented on #665
@rwaldron @dtex @BrianGenisio

Out of curiousity, what is the function of `priv`?  Why do we make a `state` object and `priv.set(this, state)`?

@rwaldron Alright, I'll show you what I come up with!  I'm certainly more of a JavaScript guy than a hardware guy...

[2015-03-24 16:48] rwaldron commented on #665
`priv` is used to store instance private data—this pattern is used throughout Johnny-Five. The `state` object is initialized in the constructor to allow constructor-local access to that reference. The private side table can then be accessed anywhere that `this` is present.

[2015-03-24 17:15] rwaldron commented on #530
Just an update: my speed controller arrived, so I can start working on this on my end.

[2015-03-24 19:19] carldanley commented on #530
Awesome, let me know if you need anything. I can also test code on my end as well.

[2015-03-24 19:24] landshark22 commented on #530
Update from us as well. We played with it a bit more after I posted this the other day and we were able to figure out we do have reverse. I have not yet tried the calibration procedure above.

I don't have my notes in front of me, but as far as I remember this is what we came up with for the HobbyKing ESC mentioned previously.

50 was the start/reset point.
45-54 Motor would not spin

Forward:
55-

[2015-03-24 19:24] boneskull commented on #665
@rwaldron ...in the module only, though, right?

[2015-03-24 20:15] boneskull opened #668 "breakout Led"
See #665 for discussion; in a nutshell, Led and all Led-related classes should live in `lib/led/` for the sake of organization.

I'm on this

[2015-03-24 20:18] rwaldron commented on #530
Your notes here are really helpful (thank you), they confirm the understanding I've come to have for 3 stage (Forward, Brake, Reverse) brushed motor speed controllers. Specifically: the forward window is greater, with a larger range and speed capability, than the reverse range.

This unit likely has an internal BEC that's sensing a jump and automattically shutting down. These are commonly built in

[2015-03-24 20:19] rwaldron commented on #665
Correct—this pattern is used instead of putting icky `_fakePrivate` properties all over the instances.

[2015-03-24 20:43] carldanley commented on #530
@landshark22 do you have some sample code (maybe a gist) of the portion that controls the ESC? I want to test your calculations from my end as well.

[2015-03-24 21:02] rwaldron commented on #530
@carldanley this is useful, if you have a speed controller programmer:  http://www.axialracing.com/blog_posts/787000000

I made it into an Arduino C program as well:

[code]

(Hook up a rotary potentiometer to A0)

[2015-03-24 21:25] boneskull opened #669 "IS_TEST_MODE could be nicer"
`IS_TEST_MODE` is a global, set throughout several files in `test/`, but most importantly (I think) `test/bootstrap.js`.

This is all well and good if you are running the tests via Grunt.  However, if you wish to run the Nodeunit tests directly via an interactive debugger--thinking JetBrains' debugger--there's no way to specify the order in which the test files should run.

That's a limitation of

[2015-03-24 21:29] rwaldron commented on #669
On the whole, I'm not really opposed to this at all, but...

Doesn't this mean that Jetbrains still has to run grunt?

[2015-03-24 21:51] boneskull commented on #669
@rwaldron No, because I can set env vars within my IDE.

[2015-03-25 00:07] landshark22 commented on #530
@rwaldron I figured it was something like that.

@carldanley, this is what we've been using and I'll preface this by saying I don't know if it's right, I just now it's been working, I am starting from 0 in coding my daughter is just as green as I am so we struggled for a while to get this to work:

[code]

and we use the following command to adjust speed

[code]

[2015-03-25 02:04] rwaldron commented on #669
So, you're going to set it explicitly, but everyone else will get via `grunt`?

[2015-03-25 02:20] rwaldron commented on #530
Whoa, this is awesome—there is a line of code that does literally nothing, but it's **totally** valid syntax! Check it out:

[code]

This is effectively a no-op, because `range:` is parsed as _LabelledStatement_, whose _Statement_ is just an _Expression_ (_ArrayInitializer_).

Ok, enough nerding out... You don't actually need to set that range for ESC—`[0, 100]` is the default :)

[code]

[2015-03-25 02:49] landshark22 commented on #530
Cool, that's great. We'll try that out. When things started moving we stopped messing with the code :)

A little more info that may or maynot be helpful but worth adding I suppose.

We have the motor/ESC connected to an Arduino Mega, the Mega is connected via USB to a Raspberry Pi 2 running Raspian. We are connected to the Ras Pi 2 via the ethernet connection and sending commands and editing the .

[2015-03-25 04:22] den2k commented on #646
I hooked up a QTR-8A array to the Zumo bot and I now have readings, but I don't think it is calibrating correctly with the following code.  I have 5 sensors hooked up and I should be seeing 0 - 4001 I believe.  Not sure what the 2000 base value means in my case.  I also continue to see Pin in use when I run this code. Hmmm?

var five = require("johnny-five");
var board = new five.Board({
	port: "c

[2015-03-25 11:29] McDonnellDean commented on #639
Going to take a stab at this enhancement this weekend.

[2015-03-25 11:29] McDonnellDean commented on #639
PS... I need a hero by Bonny Tyler will be the test tone... ya'll know why :smile:

[2015-03-25 12:55] rwaldron commented on #530
All information is useful :)

This sounds like an awesome project! I'll report back later today

[2015-03-25 13:10] rwaldron commented on #639
That's a seriously emotional montage :heart:

[2015-03-25 13:15] McDonnellDean commented on #639
Absolutely!

[2015-03-25 13:21] BrianGenisio commented on #646
While calibrating, you need to make sure that all sensors see both extremes (white and black).  So in the 2 second window you created, wave the sensor at the height you expect over white and black.

2 seconds is a bit short to do it well.  I like to take a keypress input instead, and then serialize the calibration data to a file.  If the file exists, deserialize it and pass it to the component (`l

[2015-03-25 21:59] rwaldron commented on #530
Great news: I was able to figure out bidirectional control today. Additionally, I spent time with ESC, updating it to the controller model and adding support for PCA9685 (that's in review right now)

[2015-03-25 22:03] rwaldron commented on #530
@carldanley I don't think "sport mode" will ever be supportable in any reasonable sense. "Sport Mode – Fwd / Brake / Rev", from what I've learned, this requires a "double tap" of the throttle—1 to brake and then it can be reversed. This isn't meant to be programmed by any code on any platform, this is for use with transmitter + receiver. "Training Mode" which splits the range into 50% forward and

[2015-03-25 23:13] ecdeveloper opened #674 "Ping module not working + Memory leak error"
Here is a very simple code:

[code]

For some reason nothing is outputted to the stdout. The more so, after 10-15 seconds it throws an error:
[code]

If I remove the Ping related code - the error doesn't occur.

I followed the Ping setup guide. Uploaded the custom Firmata sketch.

I also tested the device/circuit with an Arduino application - it works fine.

Any ideas what may be wrong?

[2015-03-26 01:28] carldanley commented on #530
That is excellent news. For knowledge purposes, are you mentioning that sport mode is only available when a transmitter/receiver is used? Is that some feature that the transmitter makes available to us? Sorry for the confusion.

Also, for the bidirectional support, did you need to modify anything in j5 for this to work OR did you adjust values until it worked like @landshark22 has been mentioning?

[2015-03-26 01:34] rwaldron commented on #530
No, it's available, it's just something you did with your figure, and not with code. Johnny-Five needed some changes, I'll be pushing those soon

[2015-03-26 01:36] rwaldron commented on #674
Can you send a picture of your circuit wiring?

[2015-03-26 09:19] ecdeveloper commented on #674
Red is 5V on Arduino, and + on the board
Blue is GND and -

![ping circuit]
(http://oi62.tinypic.com/mu8yo6.jpg)

[2015-03-26 10:41] cybertiti commented on #674
Hi, I had the same issue before changing to the firmata modified sketch.
With the good firmata version, everything is working.

[2015-03-26 10:49] cybertiti opened #675 "Firmata modifed for ping, other sensor not working anymore"
Hi,
My sensor "new five.Sensor({pin: "A5", freq: 60000})" is not working anymore since I changed for the modified firmata needed for using the "new five.Ping(0)".
Do i need to change something for Sensor library to work with modifed firmata ?
Best regards,
Thierry

[2015-03-26 13:58] ecdeveloper commented on #674
@cybertiti which method for changing Firmata have you used? I actually used both (cloning the jgautier/arduino-1.git repo, and also copy/pasting the Firmata code into the Arduino IDE).

[2015-03-26 14:05] rwaldron commented on #674
@ecdeveloper thanks for the clear image :heart:. I will assemble your circuit today and try to reproduce :)

[2015-03-26 14:06] ecdeveloper commented on #674
@rwaldron Thanks! Looking forward to see your results :)

[2015-03-26 14:13] rwaldron commented on #675
Can you provide your complete code example? A picture of your circuit would also be helpful—thanks in advance!

[2015-03-26 14:17] rwaldron commented on #674
@ecdeveloper (unrelated to report) I notice that the board has "JY-MCU" printed on it—does this board have built-in Bluetooth? (I've never seen a board with that printed on it)

[2015-03-26 14:20] ecdeveloper commented on #674
Wow. Just noticed that too :D I don't really know, when I ordered it I was sure it's a regular UNO without any extra built-in features.

[2015-03-26 14:40] rwaldron commented on #674
Interesting—would you mind taking a few pictures from different angles and of the back side? If not, that's ok :)

[2015-03-26 14:48] ecdeveloper commented on #674
@rwaldron https://www.dropbox.com/s/88t1066vahuztxt/arduino%20uno.zip?dl=0

[2015-03-26 15:09] rwaldron commented on #674
You're the best :)

[2015-03-26 15:10] ecdeveloper commented on #674
:smile:

[2015-03-26 15:31] cybertiti commented on #674
@ecdeveloper I used the cloning git version, but you need to check is the firmata directory used by IDE is the right one by searching pulse_in in your sketch. The first time i did it, i uploaded the standard firmata because IDE was loading from the wrong directory.

[2015-03-26 15:33] ecdeveloper commented on #674
@cybertiti Hm, probably you're right. I remember when I tried cloning the repo, I didn't find any "pulse_in" matches in sketch. Will double check tonight, thanks.

[2015-03-26 15:36] cybertiti commented on #675
Sure, here is the last part of the code, the complete one is a bit long :
if (args.indexOf("noArduino") == -1) {
  board = new five.Board();
  board.on("ready", function() {
    var controller = process.argv[2] || "GP2Y0A41SK0F";
    motorL = new five.Motor({pins: {pwm: 5, dir: 4}});
    motorR = new five.Motor({pins: {pwm: 6, dir: 7}});

    tilt = new five.Servo({pin: 10, range: [0, 60], startAt

[2015-03-26 15:39] cybertiti commented on #675
![20150322_223412](https://cloud.githubusercontent.com/assets/11662659/6849998/9f12653a-d3d6-11e4-8fb6-c834e0062317.jpg)

[2015-03-26 15:41] cybertiti commented on #675
![20150322_223340](https://cloud.githubusercontent.com/assets/11662659/6850039/e691ba6e-d3d6-11e4-940f-9f717d83d810.jpg)
And the front view with the sensors

[2015-03-26 15:44] cybertiti commented on #675
The Sensor on A5 is for voltage sensing, and was working perfectly before i changed the firmata with the modifed firmata for Ping library

[2015-03-26 15:51] rwaldron commented on #674
I just used the "copy/paste" method and cannot reproduce the issue. Here is the circuit I assembled:

![](https://dl.dropboxusercontent.com/u/3531958/nodebots/ping-674-1.jpg)

![](https://dl.dropboxusercontent.com/u/3531958/nodebots/ping-674-3.jpg)

And here's a video demo of the circuit controlled by the program in `eg/ping.js`:

https://www.youtube.com/watch?v=puDJJWomqzc

-----

The error you'r

[2015-03-26 15:59] rwaldron commented on #675
Can you provide a link? I will likely need to purchase whatever you're using

Before we embark on solving this issue, all I ask is that you remain patient with me :) In some cases we'll be at the mercy of shipping times if I have to order components.

[2015-03-26 16:11] rwaldron commented on #530
Here's a bit more detail...

----

The "Forward, Brake, Reverse" setting on all of the speed controllers that I've looked at in the last couple of days requires a "flick of the trigger finger" because it assumes you're using something like one of these:

![](http://i00.i.aliimg.com/img/pb/803/732/221/1248771656649_hz_myalibaba_web14_16803.jpg)

![](http://www.rchelicopter.com/wp-content/uploads/20

[2015-03-26 16:13] cybertiti commented on #675
![axzit](https://cloud.githubusercontent.com/assets/11662659/6850688/ed25e766-d3da-11e4-8673-80db807973c7.png)
You need 2 resistor, in my case i used a 47 Kohm for R1 and a 25 Kohm for R2.
Resistor value can be change, these one are for a Vin up to 14 Volt

[2015-03-26 16:13] #647 closed

[2015-03-26 16:29] Resseguie commented on #530
Just a clarifying remark for those not familiar with these transmitters. The concept of "pushing the throttle forward" applies to the second type that Rick shows. It's physically reversed in the trigger style transmitter where you "pull the trigger" to drive forward and "push the trigger away from you" to brake/reverse. Wanted to make sure we didn't get confused with physical direction of the thro

[2015-03-26 16:30] Resseguie commented on #530
(this stuff is hard to describe in just text!)

[2015-03-26 16:39] rwaldron commented on #675
Oh great, that's very simple. I have just ordered the Romeo v2.2

[2015-03-26 16:44] rwaldron commented on #530
Oh man, while I wrote that I was describing the physical act—as I actually did it in real life—with the the second style controller. Thanks for the additional clarification, because THAT would've been confusing :D

[2015-03-26 16:45] cybertiti commented on #675
Oh great, Romeo v2 is really a nice board. If you zoom on my first picture, you can see the resistor plugged in the A5 blue analog input, the Vin is plugged before the DC converter, label VIN on the board. It's really easy to build, and working perfectly to monitor battery voltage.

[2015-03-26 18:20] carldanley commented on #530
This makes total sense now; thanks for taking the time to explain it @rwaldron!

@Resseguie - you're absolutely right; just one of those things that's difficult to read through.

[2015-03-27 02:58] henricavalcante opened #677 "Usb keyboard simulator"
We can simulate a keyboard using an usb shield, firmata and johnny-five?

[2015-03-27 13:29] markwest1972 commented on #309
@rwaldron Write up completed : https://github.com/rwaldron/johnny-five/wiki/Adding-Servos-to-a-Pololu-Zumo-Robot

Hope it's ok!

[2015-03-27 14:10] Resseguie commented on #309
Seems straightforward enough to me. Thanks for the writeup!

My only minor comment is regarding "Doing this will permanently damage your Pololu Zumo!"

I'd maybe soften that to "may" instead of "will". Depends on your definition of "damage". :)

[2015-03-27 14:15] markwest1972 commented on #309
@Resseguie Good catch.  Me fix.

[2015-03-27 14:22] Resseguie commented on #309
@markwest1972 I added one more clarification that PWM is disabled on 9 & 10. It could have been read as "all PWM is disabled" with the previous wording.

[2015-03-27 14:27] rwaldron commented on #309
@markwest1972 that's fantastic—thanks!

I made a couple minor edits:

1. I saved your images to my public dropbox and updated the guide to display the images inline
2. Set the syntax highlighter to "js" for the code at the end

[2015-03-27 14:28] rwaldron commented on #677
I'm not sure, I've never tried. Can you provide any links to existing Arduino C examples?

[2015-03-27 14:33] markwest1972 commented on #309
@Resseguie @rwaldron Thanks!

[2015-03-27 16:14] henricavalcante commented on #677
I'll try tonight and show my experiments here.

[2015-03-27 20:33] ecdeveloper commented on #674
@rwaldron Thanks!!! Connecting it directly solved the problem! :)

[2015-03-27 20:33] #674 closed

[2015-03-27 21:06] soundanalogous commented on #674
pulse_in (in Arduino / c) has a while loop that is blocking until the pulse has finished. This will create significant delays if you are trying to read other sensors and/or control actuators at the same time. Data will still buffer through the UART as best it can but you risk loss of data by using pulse_in. This is why I have never included the routine in StandardFirmata. Once someone creates an i

[2015-03-27 22:06] ecdeveloper commented on #674
@rwaldron I will try to connect it back how it has been connected before, will let you know either it works or not.

@soundanalogous It seems related to this issue - https://github.com/rwaldron/johnny-five/issues/675

[2015-03-27 22:34] ecdeveloper commented on #674
@rwaldron Now it works with my previous circuit. Magically :D

[2015-03-28 22:00] GrossDesignCo opened #678 "RangeError with MPU6050 on Edison"
Hi there, I'm working on an Intel Edison (arduino breakout board) & running into the following error
[code]

when I run anything, including the basic Accelerometer script (https://github.com/rwaldron/johnny-five/blob/master/docs/accelerometer-mpu6050.md)

Here's my modified version to incorporate the edison/gallileo-io plugin
[code]

It doesn't look like this occurs on other platforms, could it be

[2015-03-29 16:53] lyzadanger commented on #419
Hi! I've been putting some thought into addressing this more systematically. I'm not going to open a PR just yet because my changes make some assumptions and raise some questions to consider.

**Assumption 1**: Some tests are failing on multiple kinds of slow hardware, so I assume that by *default* slow tests should *not* get run. That means in practice that the `grunt default` task would run a su

[2015-03-29 16:59] dtex commented on #419
Re: Assumption 1: I seem to recall that the complaint on Raspberry Pi was that the tests just took too long, not that they were failing but as you saw they even fail on a "real" computers occasionally though not nearly as often as on Travis.

[2015-03-29 17:54] landshark22 commented on #530
Ok, great news

bur here's couple of a really stupid newb questions.

1. How do I check the currently installed version of johnny-five (installed on a Ras Pi 2 running Raspian)

tried:

[code]
and received a "command not found" error

2. How do I upgrade to the latest?

I attempted this:
[code]
and then:
[code]
lots happened just not sure if we got the latest.

Not only are we new to coding also n

[2015-03-29 22:13] McDonnellDean commented on #639
@lyzadanger  @rwaldron @julianduque @Resseguie @BrianGenisio

So I think I have a proposal for this to share

_Saria's Song: Zelda:OoT -_
`"d=8 o=4 b=125: f a 4b f a 4b f a 4b e5 4d5 b c5 b g 2e a b g 2e 2p"`

The new syntax is basically RTTL+ but plain old RTTL is also supported. It breaks down like so:

`"d=8 o=4 t=125:"`
- set the detault note duration & octave, and the tempo
- `b` can be used

[2015-03-30 00:34] Resseguie commented on #639
I like it!

[2015-03-30 09:17] McDonnellDean commented on #419
@lyzadanger That looks perfectly on point!

[2015-03-30 14:46] lyzadanger commented on #639
I think you should start workin' on it! Curious to see what "quirks mode" ends up looking like.

[2015-03-30 15:27] dtex commented on #678
@GrossDesignCo I imagine the reason nobody has chimed in yet is because you might be the first trying out that specific combination. I tried to take a look anyway and noticed that the line numbers in your trace don't seem to match up with the latest version (0.8.2). What version of Galileo-IO are you running? I don't know of any specific changes that would have made a difference for you, but it ce

[2015-03-30 15:35] McDonnellDean commented on #639
@lyzadanger Gonna start on it tonight I think. Quirks mode is really only a flag that will do some standard shifting of values to ensure that older tones work. Not sure how to implement it yet though, I need to be mindful that I can't assume all tones will shift by the same about. Either way though I think we will get close enough to get RTTL tones working and have a nice input method too :D

[2015-03-30 15:48] lyzadanger commented on #419
I'll do a write-up and submit a PR tonight or tomorrow night, availability-dependent!

[2015-03-30 16:50] kbarre123 commented on #285
Hey @r3sk , I'm getting the same errors as you. We're discussing a fix over on [Gitter](https://gitter.im/rwaldron/johnny-five?at=5516e4092987ee48769b4254) if you want to follow along and help test.

[2015-03-30 17:17] rwaldron commented on #530
:P no such thing.

There is no Johnny-Five binary, if your project has a package.json, then presumably that file has the version installed listed?

Johnny-Five isn't a package that's available this way.

----

The patch for this ESC issue isn't released yet, I'm waiting to try a few more ESCs. Once it is, then you'll be able to update on the Pi with:

[code]

Hopefully this helped?

[2015-03-30 17:37] rwaldron commented on #678
@GrossDesignCo I will set this up locally and see what I can learn—will post back as soon as I know more :)

Wife's birthday weekend!

[2015-03-30 17:42] GrossDesignCo commented on #678
Ah, that's interesting. I just updated from 0.8.1 to 0.8.2 and I'm getting the following notice now.
[code]

[2015-03-30 17:44] GrossDesignCo commented on #678
Thanks @rwaldron!

It looks like I'll be updating my Edison's OS today. I'll follow up with the results.

[2015-03-30 17:50] rwaldron commented on #678
Ah, yeah—Intel stopped supporting the older OS images.

----

I just tried your example above and the good news is that with the latest os image and Johnny-Five + Galileo/Edison-IO work as expected :)

[2015-03-30 19:37] #669 closed

[2015-03-30 19:57] rwaldron commented on #675
Just checking in—I haven't received the Romeo yet, but will update when I do.

[2015-03-31 01:11] GrossDesignCo commented on #678
So I installed the latest Yocto image from intel and I'm still getting the same results. (well, a couple line numbers are different). I suppose my next guess is that I'm missing a dependency somewhere.

[code]

[2015-03-31 05:40] toome123 opened #680 "It is possible to run johnny-five on MeteorJS framework"
Does anyone know if  can use johnny-five with MeteorJS framework.. Main problem is that node modules is asynchronous , while meteor is synchronized..I know is have some way  to run npm modules on meteor , but i dont know how , and whether there is any specificity for johnny five.
i search across internet , but I'm still not resolved. Thanks

[2015-03-31 09:40] cybertiti commented on #675
Hi Rick, i hope your romeo will arrive soon !
Just an update, other library like LED are not working correctly neither with modified firmata.
I revert back to the original firmata and everything is working fine again, except US and IR proximity sensor for sure.

[2015-03-31 13:41] landshark22 commented on #530
It did thanks.

[2015-03-31 14:23] rwaldron commented on #530
Great!

[2015-03-31 14:25] rwaldron commented on #678
Can you tell me the output of this:

[code]

[2015-03-31 16:01] rwaldron commented on #675
Quick question, did you select Arduino Leonardo when you uploaded the Ping Firmata?

[2015-03-31 16:25] rwaldron commented on #675
Sorry I missed this before now: the Ping instances are being set up with pin 0 and 1, which is not allowed because those are the RX/TX lines being used by the Pi to talk to the Romeo.

[2015-03-31 16:35] boneskull commented on #669
@rwaldron yeah, that's the idea.  just gives it some flexibility at little/no cost

[2015-03-31 16:37] GrossDesignCo commented on #678
Yep:

[code]

[2015-03-31 17:10] rwaldron commented on #675
An update.

I received the Romeo yesterday afternoon and today I assembled the following:

![](https://dl.dropboxusercontent.com/u/3531958/nodebots/675-first-attempt.jpg)

- A1: GP2Y0A21YK \*
- A2: GP2Y0A21YK
- A3: GP2Y0A21YK
- A4: GP2Y0A21YK
- A5: Slide Potentiometer as a substitute for the voltage level sensor, I wanted to be able to change the value at will.
- D7: Ping
- D8: Ping

The following

[2015-03-31 20:15] rwaldron commented on #678
The error you're seeing can only be reached if the native bindings aren't installed. These are supposed to be present by default, but you can make sure by doing this:

[code]

Did you install johnny-five and galileo-io via npm or are you using the git repo? Recommend: `npm install johnny-five galileo-io`

[2015-03-31 22:02] GrossDesignCo commented on #678
I used npm for JF & Galileo-io, just re-installed to see if I had anything out of date from a week ago.

I also installed libmraa0 with that same script yesterday & it seemed to work fine.  After running it just now I got the message `Package libmraa0 (0.6.1) installed in root is up to date.`

I'm a little perplexed now, after reinstalling johnny-five and galileo-io the accelerometer script throws

[2015-03-31 22:20] rwaldron commented on #678
Yeah... that's weird. I have `mraa@0.5.4-110-g459ecc0` as the version that Galileo-IO installs, so I will have to update and see what happens.

[2015-03-31 22:37] rwaldron commented on #678
I was able to reproduce your bug with 100% consistency by unplugging the sensor from SDA/SCL.

[2015-03-31 22:54] GrossDesignCo commented on #678
Wow. I just removed an intermediary board (servo shield from Adafruit with stacking headers) and the accelerometer started logging like magic.

[code]

[2015-04-01 02:36] rwaldron commented on #678
Sounds like it was preventing the sensor from reaching the i2c bus

[2015-04-01 02:36] rwaldron commented on #678
Can we close this?

[2015-04-01 02:54] GrossDesignCo commented on #678
Yep. I think it's closed. Thanks again.

[2015-04-01 02:54] #678 closed

[2015-04-01 15:11] Resseguie opened #681 "add three arg and object signature to Led.RGB.prototype.color()"
See spark-io signature for internalRGB:
https://github.com/rwaldron/spark-io/commit/ab5931fb3dcdccb4f604540c592a3309e765f692#commitcomment-10525495

[2015-04-01 15:27] rwaldron commented on #681
Thanks for the quick file-and-assign follow up :)

[2015-04-01 15:28] rwaldron commented on #678
Great—thanks for your patience and cooperation :) glad we could get this solved for you.

Please post back any updates about your project as well, either here or on twitter—I'd love to see what you're building

[2015-04-01 16:22] GrossDesignCo commented on #678
Will do! I'm looking forward to getting it off the ground.

Cheers.

[2015-04-01 18:27] Resseguie opened #683 "throw error if bad values passed to Led.RGB.color()"
`if (red === null || red === undefined) { throw ... }`

companion to: https://github.com/rwaldron/spark-io/issues/54

[2015-04-01 18:28] Resseguie commented on #683
Depends on #682 (or may just need to be added there)

[2015-04-01 18:51] #681 closed

[2015-04-02 00:57] kukulako opened #685 "Make: JavaScript Robotics PDF"
GREETINGS, I bought the book in pdf format. I thought that explained how to program from scratch in johnny five, but was not, someone could tell me where to learn from scratch? . that whenever I find a tutorial discusses javascript DOM ... anyone know?

[2015-04-02 03:45] Resseguie commented on #685
Just to clarify, are you looking to get started with JavaScript in general, or Johnny-Five specifically? The book assumed basic familiarity in JavaScript. It's really geared towards software developers that want to try their hand at hardware using a language they are already comfortable with.

[2015-04-02 03:49] Resseguie commented on #685
As suggested in #440 Johnny-Five can be a good project to start flexing your wings in JavaScript once you have some of the very basics down pat. I say jump into the examples folder or start with one of the projects in that book and just start tinkering.

[2015-04-02 16:53] Resseguie commented on #677
@henricavalcante that's essentially what the MakeyMakey does, right? Could you look at their source for inspiration? The arduino code is under the firmware folder here:
https://github.com/sparkfun/makeymakey

[2015-04-02 16:55] Resseguie commented on #677
Looks like it just uses the Arduino Keyboard library:
http://arduino.cc/en/Reference/MouseKeyboard

[2015-04-02 18:33] Resseguie commented on #685
"tell me if a book JavaScript jQuer jon Duckett it a good book for learn javascript and then learn jhoony five"

@kukulako I got your email about book recommendations, but I'm not familiar with that one. I thought I'd bring the question back here in case anyone else wants to chime in with suggestions before we close this issue.

Though I haven't read it, the book you referenced (http://amzn.to/1Hn

[2015-04-02 18:34] Resseguie commented on #685
I'm going to mark this issue as closed, but others can still feel free to chime in with suggestions on books and tutorials.

[2015-04-02 18:34] #685 closed

[2015-04-03 01:02] frxnz commented on #631
Finally getting back on this. I've got the analog distance sensors refactored, moving on to what is currently `IR`/`IR.Proximity`.

Do you want to continue emitting the `motionstart` and `motionend` events? The `GP2Y0D805Z0F` sensor is the only one emitting them right now, and for a proximity class I'm not sure they make sense. Just wanted to double check before I remove them.

[2015-04-03 11:19] Nutelac opened #686 "Persistent store"
It's possible to save data that will persist even after device shutdown? For example to Arduino EEPROM memory?

[2015-04-03 12:08] fivdi commented on #686
I don't think so, but the file system on the computer running the Johnny-Five Node/io.js application could be used to save data.

[2015-04-03 12:39] Nutelac commented on #686
I plan to run Johnny-Five on Arduino Yún Linux (I guess it does not matter). However, than you for response. I didn't realize that I could use simple JSON file.

[2015-04-03 12:53] rwaldron commented on #631
You're right, that's an oddball—I think that has to move to IR.Motion, which means we need to refactor that class as well (which is ok, it was just a matter of time!)

[2015-04-03 13:08] frxnz commented on #631
Ok I just did a little reading up on the GP2Y0D805Z0F. Since it's more of a boolean sensor and doesn't return a distance to obstruction, it doesn't belong in the proximity class.

In that case I'll move on to Ping and Sonar. I may need to pick up a few more sensors.

[2015-04-03 13:20] frxnz opened #687 "Motion: Refactor motion class and consolidate sensors"
Similar to #631, IR motion sensors (and motion sensors of any other type) could be consolidated into one `Motion` class.

* [Passive Infrared](https://github.com/rwaldron/johnny-five/blob/master/lib/pir.js): Senses an object entering or leaving range
* [GP2Y0D805Z0F](https://github.com/rwaldron/johnny-five/blob/master/lib/ir.js#L22): Senses an object entering or leaving range

[code]

[2015-04-03 13:23] frxnz commented on #687
Just to reinforce the case for this being `Motion` instead of `IR.Motion`, there are [devices like this](https://www.sparkfun.com/products/12875) that use ultrasonic sensors instead of infrared sensors.

[2015-04-03 14:46] rwaldron commented on #687
Good call :)

`controller: "GP2Y0D805Z0F"`

[2015-04-03 14:48] rwaldron commented on #631
I can also help test

[2015-04-03 14:57] frxnz commented on #687
Looking for clarification on this in #688

[2015-04-03 16:22] frxnz commented on #631
Ok thanks! I'll pick up any sensors that I may use and/or are not crazy expensive.

[2015-04-03 22:04] dtex commented on #666
Fixed wtih 29783f8

[2015-04-03 22:04] #666 closed

[2015-04-04 12:00] #686 closed

[2015-04-04 22:24] himedlooff opened #691 "Not sure if my LCD is supported"
Is it possible to use the following LCD screen?
![image](https://cloud.githubusercontent.com/assets/1093373/6994883/67da5488-daf7-11e4-805b-8feb665f665d.png)
http://www.dfrobot.com/wiki/index.php?title=LCD4884_Shield_Fro_Arduino_(SKU:DFR0092)

I'm not sure where to find the controller name and it also doesn't seem to specify how many rows and columns it supports (I think it may be 14x6). Maybe it'

[2015-04-04 22:55] rwaldron commented on #691
That's correct, this LCD uses SPI which is not yet supported by the Firmata protocol that Johnny-Five uses for board communication.

[2015-04-04 23:04] himedlooff commented on #691
Thanks!

[2015-04-04 23:04] #691 closed

[2015-04-05 02:27] BrianGenisio opened #692 "OneWire temperature sensors (DS18B20) can't have multiple devices per pin"
The OneWire spec allows multiple devices per pin, but the `Temperature` class doesn't handle multiple temperature sensors properly.
- [x] Bust out the DS18B20 controller into a sharable driver, like the IMU
- [x] Re-work the controller to register with the driver
- [x] Make sure the un-addressed sensor still works
- [x] Throw an error if there is more than one un-addressed sensor
- [x] Unit tests

[2015-04-06 01:34] Resseguie opened #695 "Better organization for breadboards and generated docs"
In #693 I found a couple aspects of the examples and generated docs process to be troublesome.

1) The `grunt examples` task updates docs for examples in programs.json but doesn't delete previously generated docs that are no longer referenced. We had a bunch of old outdated .md files in there.
2) To fix above, I just cleared out the docs folder before regenerating, but that required being careful

[2015-04-06 06:24] cybertiti commented on #675
Hi Rick,
I'm glad to see you've got everything working, maybe my issue is because i used the input 0 and 1. I'm going to test with another input.
Which firmata did you upload to the romeo ? the modifed one you describe in you ping sensor post ?
Do you like your new romeo board ?
Thanks for your help, you're doing a great job.

[2015-04-06 07:34] cybertiti commented on #675
You were right, moving away from pin 0 & 1 did the trick.
Ping sensors are working perfectly now.
But I still have an issue with IR sensors reporting "null" value only ...

[2015-04-06 14:44] #530 closed

[2015-04-06 15:04] rwaldron commented on #695
This will break links to those files :\ (I've used the raw links in slide decks). I think it's safe to just glob for the files you want to delete.

I like this alot. If we change it to:

[code]

Then we will solve another major problem that's been haunting me: how to **easily** include multiple diagrams for an example. Eventually I want diagrams for every single supported platform :)

[2015-04-06 15:45] Resseguie commented on #695
But what if we still checked in the docs folder as we do today, it would just be fully generated from the originals under eg/breadboard.

Relying on non-generated files in docs and docs/breadboards is dangerous because I likely just deleted any such non-generated files in #693 for example. Do I need to put those back? When doing cleanups, how do we know which are safe to delete?

I don't feel supe

[2015-04-06 15:59] Resseguie opened #697 "Revive awesome.md"
But make it part of programs.json with a different tplType that lets the generator know that it should be a link to external github projects or web page.

[2015-04-06 17:48] Resseguie commented on #683
Fixed by #684

[2015-04-06 17:48] #683 closed

[2015-04-06 19:03] rwaldron commented on #675
@cybertiti I'm out of town for a few days so I won't be able to test this until I get back—I appreciate your patience :)

[2015-04-06 21:08] Resseguie opened #698 "Refactor gripper component using controller/device model"
Deemed too specific.

[2015-04-06 21:09] rwaldron commented on #698
Agreed.

[2015-04-06 21:11] rwaldron commented on #698
OR...

If we can refactor this into a controller/device model and add support for several different types of gripper components, then we can keep it.

[2015-04-07 08:36] McDonnellDean commented on #639
Ok all,

I've come across something I need some feedback on. I mentioned this in gitter already but I thought I would post here for posterity.

The issue has to do with `tone()` vs `frequency()` For clarity let me show the relationship of some notes:

- Note: A4 = Freq: 440Hz

If I pass a note's frequency to tone, `tone(440, 200)` I get an A4 note for 200ms. If I pass the same to frequency, `frequ

[2015-04-07 15:40] rwaldron commented on #639
This might _look_ like "RTFM", but I promise that it's not...

From https://github.com/rwaldron/johnny-five/wiki/Piezo

- **frequency(frequency, duration)** Play tone at `frequency` (in Hz) for `duration` milliseconds.

[code]

- **tone(frequency, duration)** Play a `tone` for `duration` ms. The `tone` value in this case is a computed duty cycle (in microseconds). This is a lower-level method than

[2015-04-07 15:55] rwaldron opened #700 "breadboards.json: Update breadboards.json format to use an array of objects"
From: https://github.com/rwaldron/johnny-five/pull/699#issuecomment-90308662

Slight modification: Update breadboards.json format to use an **array** of **objects**

Example:

[code]

- **breadboard** is required
- **title** is optional
- **description** is optional

[2015-04-07 15:56] Resseguie commented on #700
+1

[2015-04-07 15:56] rwaldron commented on #700
Thanks for jumping on this :)

[2015-04-07 15:57] Resseguie commented on #700
I was already contemplating doing exactly that. Also helps solve some of the markdown formatting I wasn't happy with.

[2015-04-07 15:58] Resseguie commented on #695
Fixed by #699

[2015-04-07 15:58] #695 closed

[2015-04-07 16:02] Resseguie opened #701 "Add more examples to breadboards.json"
breadboards.json has been created to allow multiple breadboards per example and/or specifying a breadboard png/fzz with a different name than the example itself.

Many of the current examples use duplicate breadboards, but with different file names (eg: see all the led-*.png). Need to update breadboards.json to consolidate all these and just point to a common reusable diagram. (eg: led-13 or led-1

[2015-04-07 16:20] McDonnellDean commented on #639
@rwaldron No that makes perfect sense, So I had it right almost in that we aren't setting the freq directly rather we are using it to create the duty cycle.

I'm not going to lie, I didn't even know we had a wiki section, I had assumed all the docs are in the repo proper, is there a difference between the two or is there a rule from using one over the other?

[2015-04-07 16:21] lyzadanger commented on #639
The clarification @rwaldron makes is very helpful :+1:

The wiki vs. not-wiki has confused me in the past, too :).

[2015-04-07 16:47] Resseguie commented on #639
@rwaldron has admitted in the past that using "docs" for "generated examples" wasn't the best, but we're kinda stuck unless we are willing to break old links.

Wiki = Documentation
"/docs" = generated example files

[2015-04-07 16:51] lyzadanger commented on #639
@Resseguie Old links from external places, you mean? As in, we don't want to kill extant URLs? I'm very keen on helping with this...while I don't necessarily think the Wiki needs to stop existing, I do think finding docs could be clearer. Sign me up (in another thread, ob'ly) if there's ever a docs project!

[2015-04-07 16:57] rwaldron commented on #639
That's putting it nicely... I **hate** that I called it that.

@lyzadanger

I completely agree. Here's what we can do:

- new website in the works, I will chat with you on gitter about that if you like
- add a nice bold header + link (to wiki for now, website later) at the top of all the generated examples.

[2015-04-07 17:02] Resseguie commented on #639
I'll add that as part of #700 or related.

[2015-04-07 17:06] Resseguie opened #702 "Combine programs.json, titles.json, and breadboards.json"
Proposed format (draft):

[code]

[2015-04-08 08:36] boneskull opened #704 "neurotic diatribe about jsdoc, types, and optional parameters"
I see a lot of this:

[code]

To my knowledge and experience with JSDoc3, this is at least somewhat incorrect.  A `Number` is an object instantiated with the `new` keyword; likewise with `String`.

[code]

I think the above is what we want here.  It may not make any practical difference, but using `Number` introduces ambiguity about the parameter's type, while `number` does not.

Something of type

[2015-04-08 14:19] rwaldron commented on #704
Yep.

Yep.

------

LedControl was originally written as a port of LedControl.cpp, which was an awesome contribution, but 3 years later I wish this wasn't the case.

W/r to `addr`: it's not really "optional", I just hate the idea of making users write code that doesn't have an obvious explanation, eg. the address number of a device in a collection of devices is strange if you only have 1 of these

[2015-04-08 14:28] #700 closed

[2015-04-08 14:28] #701 closed

[2015-04-08 14:28] #702 closed

[2015-04-08 17:21] Resseguie opened #705 "Add links to wiki documentation from generated examples"
Make it easier to find the official API documentation from the example pages.

Probably need to add a "classes" property to each example in programs.json so we'll know which page(s) need to be linked.

[2015-04-08 17:24] Resseguie commented on #705
@lyzadanger You might be interested in tracking or helping on this. I didn't get to it with my PR to combine the various example .json files.

The new programs.json format looks like:

[code]

You could probably add:

[code]

to each example entry, and then iterate over those in the Gruntfile to produce the wiki links.

[2015-04-08 17:38] lyzadanger commented on #705
@Resseguie I'd be happy to take this, with the caveat that I'm traveling this week. What's the urgency level, you think? It may be some days before I can do it.

[2015-04-08 17:49] Resseguie commented on #705
No urgency on my part, it's just something that's come up several times in relation to not being easy to find related API docs.

[2015-04-08 17:49] Resseguie commented on #705
Shall I assign you @lyzadanger?

[2015-04-08 17:52] lyzadanger commented on #705
@Resseguie Certainly.

[2015-04-08 18:10] rwaldron commented on #705
Note that we'll have to write a replacement routine for johnny-five.org's build system

[2015-04-08 18:43] Resseguie commented on #705
Is that what the  stuff is for in the templates?

If these links go inside those existing start/end blocks, will it work as-is?

Or do you want a replacement that swaps them out for website links to the same API docs?

[2015-04-08 19:04] rwaldron commented on #705
Probably. That's just used to demarcate sections in the source markdown content for removal

Yes.

If the classes used in a given example are listed in the programs.json entry, then the website can remove the repo links and make it's own links from that data.

[2015-04-08 20:22] Resseguie opened #707 "Remove broken links to non-existent .fzz files in generated docs"
h/t @leobalter in #706

I have a bug in the Gruntfile.

[2015-04-08 20:22] Resseguie commented on #707
It's supposed to ignore .fzz files that don't exist.

As @leobalter suggests, there really should be a FZZ, but I still want to update Gruntfile to ignore if it's not there.

[2015-04-08 20:45] #707 closed

[2015-04-09 05:40] dtex opened #711 "Readme is messed up on npm"
![screen shot 2015-04-09 at 12 33 28 am](https://cloud.githubusercontent.com/assets/854911/7061006/e51b2d94-de50-11e4-8bcd-b419b682bf6d.png)

[2015-04-09 13:54] scottgonzalez commented on #626
This is done.

[2015-04-09 13:56] #626 closed

[2015-04-09 16:26] cowboy opened #712 "Support PancakeBot?"
Because I want to `pancakes.forEach(printPancake);`

https://www.kickstarter.com/projects/1853707494/pancakebot-the-worlds-first-pancake-printer

[2015-04-09 16:31] rwaldron commented on #712
I :heart: that you shared this, but complete 3D printers are out of scope for Johnny-Five. It's possible to program your own 3D printer using the following Johnny-Five Component classes:

- `Stepper`
- `Button`
- `Sensor`

;)

[2015-04-09 16:31] #712 closed

[2015-04-09 16:32] tkellen commented on #712
build your own pancake factory!

[2015-04-09 16:33] tkellen commented on #712
[code]

[2015-04-09 16:38] rwaldron commented on #711
Filed: https://github.com/npm/newww/issues/850

We'll close this issue when that is resolved

[2015-04-09 17:17] Wilto commented on #712
![](http://wil.to/_/prince-disapproves.gif)

[2015-04-09 21:36] scottgonzalez commented on #561
Since there doesn't seem to be an existing reference to the PR: #667.

[2015-04-09 21:46] scottgonzalez opened #715 "Document `Led#animate()`"
This method isn't currently documented, but it seems like it's probably public API. If this *is* intended to be public API, I can write up the documentation. I'm also wondering if the API should be a little more user-friendly:

* Make `duration` optional, defaulting to `1000`, just like `.pulse()` and `.fade()`.
* Optional `complete` callback, also like `.pulse()` and `.fade()`.

There's also an e

[2015-04-09 21:49] scottgonzalez opened #716 "Led animation callbacks"
`.pulse()` takes a callback, which is invoked on every "beat" of the animation, but `.strobe()` doesn't take a callback. Is this intentional?

Note: The callbacks for `.pulse()` and `.fade()` are not documented. Are these intended to be public API? If so, I can document them.

[2015-04-09 22:00] scottgonzalez opened #717 "Missing image in Led documentation."
2927dbb5054a973177fd4307da7e587d718d4673 removed `docs/breadboard/led.png` which is used on https://github.com/rwaldron/johnny-five/wiki/Led. I'm not sure if this was supposed to be replaced with a different image or if that image should have remained.

[2015-04-10 01:16] Resseguie commented on #717
Thank you. It's now led-13.png (because we're sharing it between multiple examples. Wiki updated.

[2015-04-10 01:16] #717 closed

[2015-04-10 01:21] Resseguie commented on #716
@rwaldron may have a different opinion, but I don't think a callback is useful for `.pulse()` or `.strobe()` since they repeat until `.stop()` is called. I'd be ok with taking it out of `.pulse()`

Callback on `.fade()` should be documented and match `.fadeIn()` and `.fadeOut()` (which are also missing callback docs it appears).

[2015-04-10 02:21] scottgonzalez commented on #716
I thought the callback for `.pulse()` was odd too, since it's called repeatedly. The only use case that came to mind was trying to pulse something X times and using the callback to track the count, then calling `.stop()`. Removing it seems fine, assuming nobody's aware of people using the callback.

[2015-04-10 02:23] scottgonzalez commented on #715
Just adding a note for myself to check the callback implementation for all the animation methods. If `complete` becomes optional, we can simplify some code in methods like `.fade()`.

[2015-04-10 05:01] goliatone opened #719 "Servo Arduino Raspberry Pi serial port"
Logging this here as it drove me nuts for a good while.

I have a servo connected to an Arduino Uno which is connected to a Raspberry Pi 2 B. I was running the sample servo script. It was able to connect, as soon as I would send a command from the `rpl` it would error out with a **Error: Serialport not open.**.

However, I installed the arduino IDE- `sudo apt-get install arduino`- and I was able t

[2015-04-10 13:08] Resseguie commented on #719
cc @bryan-m-hughes

[2015-04-10 16:57] rwaldron commented on #561
Nothing wrong with explicit link, but Github auto links it:

![](http://i.gyazo.com/24fb6c74b921c28f5cd2dbfa04bb44c4.png)

[2015-04-10 17:10] rwaldron commented on #716
s/strobe/blink/

`pulse` is handled by `animate` because it has more than just "on" and "off" states; because `animate` accepts a callback, `pulse` accepts a callback (to pass through).

There is no reason why `blink` **couldn't** have a callback that's invoked on each interval as well; however I can imagine a scenario where some code is running on a lower resource platform and that callback preve

[2015-04-10 17:13] rwaldron commented on #715
Yes

That would be awesome :)

Yes

Yes

I haven't given it much thought, so I will defer to @Resseguie (and whoever else has valuable input)

[2015-04-10 17:47] Resseguie commented on #716
Except there's a bug in the pulse implementation so that the callback is only called the first time:
https://github.com/rwaldron/johnny-five/blob/master/lib/led.js#L381-L386

Fix in #720

[2015-04-10 17:53] bryan-m-hughes commented on #719
It makes sense that trying to power the servo from the Arduino from the Pi wouldn't work. The Raspberry Pi's power supply is pretty notorious. On older models, powering and controlling a servo straight from the pi would cause the board to reset the instant you turned it on! The newer models are better, but powering servos from the pi still isn't really an option.

@goliatone can you tell us more a

[2015-04-10 18:19] #668 closed

[2015-04-10 18:43] Resseguie commented on #715
Do we know of any case where .animate() is used directly as part of the public API?

[2015-04-10 19:36] rwaldron commented on #715
No, but it's exposed on `Led` instances and safe enough for users that want to roll their own goodies. No harm, right?

[2015-04-10 19:40] Resseguie commented on #715
No, it's just never been intuitive to me the relationship between delta/step/etc at a cursory glance. But because I'm slow doesn't mean it shouldn't be there. ;)

[2015-04-10 21:02] scottgonzalez commented on #715
Maybe some docs will clear that up :wink:

[2015-04-10 21:49] goliatone commented on #719
Well, I was **able to control** the Arduino board from the Raspberry Pi without extra power by installing the arduino IDE and loading a basic sketch.
I will dig around for the error logs, I know I did save them.

[2015-04-10 22:19] bryan-m-hughes commented on #719
Well, just because it worked under testing doesn't mean you should do it :-P. As soon as the servo stalls, it'll probably reset the RPi.

So just to clarify, do you only get that error when powering servos from the RPi? or do you get that error all the time?

[2015-04-11 04:22] goliatone commented on #719
You can install the arduino IDE on the RPi. I had a node script and an arduino sketch that were equivalent. Running the node script gave me a **Error: Serialport not open** but running the sketch did not- and the servo was behaving as expected so the serial port was actually open.

You actually **have** to enable serial port communication on the RPi. By default is used by a login shell that you ca

[2015-04-12 00:01] GrossDesignCo commented on #678
Followup: It sounds like a dumb obvious solution, but I connected the INT pin on the accelerometer to Digital IO pin 2 on the adafruit servo shield, and the mpu6050 started working like a charm.

I think this is because the shield is also communicating with the edison via i2c, but I don't have a solid enough handle on what the interrupt pin actually does to offer a certain explanation. I also have

[2015-04-14 00:28] goliatone opened #727 "Servo: Event move:complete"
I just observed that servo **will not** fire events if **time** is not provided:
[code]

If you **do specify** a time argument, it does fire the event:
[code]

Is this behavior expected? If so, could we mention such detail in the wiki?

[2015-04-14 01:20] dtex commented on #727
Expected behavior. It's an exclamation on the wiki tonight.

Ha, so much for speech to text... Let's try that again...

That is expected behavior. I'll write up an explanation for the wiki tonight.

[2015-04-14 02:27] dtex commented on #727
So currently the wiki says:

## Events

It's recommended to use a rotary potentiometer as the mechanism for determining servo movement.

- **move:complete** this is emitted when a timed move is completed.

---------------------------------------

Here's my proposed change:

## Events

It's recommended to use a rotary potentiometer as the mechanism for determining servo movement.

- **move:complete

[2015-04-14 02:50] goliatone commented on #727
Yes, I think is better.
I actually had read that paragraph in the documentation, but apparently my
attention got stuck on the potentiometer part and I started thinking how
would that work making me not pay enough attention to the move:complete
part.

On Mon, Apr 13, 2015 at 10:27 PM Donovan Buck <notifications@github.com>
wrote:

[2015-04-14 07:50] Traverso commented on #727
What about:
move:complete this is emitted when a timed move is completed.
The event won't fire unless a time argument has been passed to the servo.to method

[2015-04-14 17:04] Resseguie commented on #727
@dtex Could we just fire the event anyway, even for the synchronous task? That makes the event listening code simple and consistent as in the OP example.

[2015-04-14 18:41] dtex commented on #727
That makes me uncomfortable because the servo will not have actually finished moving when move:complete is fired.

[2015-04-14 18:49] rwaldron commented on #727
Agree.

[2015-04-14 18:52] Resseguie commented on #727
Misunderstood you then. I thought you were saying the whole thing was synchronous (including the servo movement) if no duration given.

I thought that was strange, but it's what your proposed doc update implied to me.

[2015-04-14 18:54] dtex commented on #727
Well in that case my wording is poor. @Traverso's is simpler and avoids that miscommunication

[2015-04-14 18:55] rwaldron commented on #727
Unless you explicitly specify the duration, the value angle is written to the servo, and it travels there at default factory speed. There is no way to know how long that takes or when it completed without closing the feedback loop with some kind of sensor. Therefore, it's wrong to emit confirmation of completion when you have no control over the time an operation takes.

[2015-04-14 18:56] Resseguie commented on #727
agreed

[2015-04-14 23:32] scottgonzalez commented on #716
Updated the wiki.

[2015-04-14 23:32] #716 closed

[2015-04-14 23:38] scottgonzalez opened #728 "Led animation callbacks when the animation is cut short"
Currently all the Led animation methods take an optional callback, but those callbacks aren't invoked if `.stop()` is called or if another animation is started in the middle of the current animation.

Is this the desired behavior or would you like a PR to invoke the callback?

[2015-04-15 01:18] rwaldron commented on #728
@Resseguie @dtex @boneskull wdyt?

[2015-04-15 01:18] Resseguie commented on #728
@dtex how would this work if we make the switch to your Animation()?

[2015-04-15 01:20] dtex commented on #728
On animation we have onStop and onComplete. onStop only fires when the user explicitly calls Animation.stop(), whereas onComplete is only called when the animation finishes naturally.

[2015-04-15 01:21] Resseguie commented on #728
I could convince myself that both behaviors is "correct" with a little thinking.

On one hand, if I specify a callback, I might expect it to be in a particular state when my callback function is called. (Probably more so for servos than leds, but...)

But I might just care that it's not running anymore, in cases where I want to fire off the "next thing," whatever that is.

[2015-04-15 01:21] Resseguie commented on #728
@dtex Oh, I like that concept. Answers both my cases above.

But do you always have to register a listener for both? Or could 'stop' also fire when it completes?

[2015-04-15 01:25] dtex commented on #728
My bad, stop is also called when the animation completes.

[2015-04-15 01:26] Resseguie commented on #728
So @scottgonzalez it might be a moot point if we make the switch to use the other external Animation functions.

[2015-04-15 01:30] dtex opened #729 "Remove references to degrees in Animation()"
Animation() was written with Servo() in mind but now that we are looking at supporting other types of hardware we need remove device specific language from the Animation() class.

This will require mapping the degrees param in existing servo animations to a to a device neutral label (i.e. value). This can be done in the Servo.normalize method.

[2015-04-15 01:39] Resseguie opened #730 "Reuse Animation for Led instead of it's own implementation"
For example. Led.prototype.pulse becomes something like:

[code]

[2015-04-15 01:40] Resseguie commented on #715
Re: switching to the Animate implementation instead of the separate one in led.js: #730

[2015-04-15 01:41] Resseguie commented on #728
See #730

[2015-04-15 02:28] scottgonzalez commented on #730
If I'm understanding this correctly, this would change the behavior of `.pulse()`. Is that desired, or would `.stop()` be added before the `.enqueue()`? This is also missing the callback, which I guess would use the `onloop` option.

[2015-04-15 02:40] scottgonzalez commented on #728
Sure, let's hash out the details in #730. If we're going to use `onstop` for the Led animations, we'll need to document that the callback for all the methods like `.pulse()` might be invoked with the Led in a random state due to the animation being stopped. Once we have a decision, we can make sure we have tests to cover the desired scenarios.

[2015-04-15 02:41] dtex commented on #730
You're right. To behave the same stop() would have to be added before enqueue().

[2015-04-15 07:30] boneskull commented on #730
I'm coming here from #728.  I don't have a whole lot of input other than what I know from using [bluebird](https://github.com/petkaantonov/bluebird).

Bluebird has a "cancellable Promise" API, which works like this:

1.  Create a `Promise`, which are by default *not* cancellable
2.  Call `myPromise.cancellable()` which flips some bit
3.  If `myPromise` is not canceled, it is resolved or rejected l

[2015-04-15 12:30] dtex commented on #730
Oh, this is good foresight. Currently any device or group of devices that are being animated have a ```render``` method. The render method can be overridden with anything you want. I use this ability to define an IK solver for my robots' legs. You could combine ```colorCycle``` and ```pulse``` this way, but I think we can do better. I will look at allowing multiple properties of a device to be ani

[2015-04-15 13:16] scottgonzalez commented on #730
Although it's not currently documented, `Animation` has two events: `animation:pause` and `animation:stop`. However, in the case of `Led`, the animation methods (such as `.pulse()`) return the `Led` instance for chaining, so you don't have access to the events. However, the `Led` instance could forward the `Animation` events. We'd only need to do that setup once, something like (untested):

[code]

[2015-04-15 13:41] Resseguie commented on #730
Yep, sorry. That was pseudo-code-ish. I should have specified.

[2015-04-15 16:05] marvindebruin commented on #674
Ive tried connecting it directly and indirectly and both give the memory leak error. Maybe closing this issue was a bit premature?

 warning: possible EventEmitter memory leak detected. 101 listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at EventEmitter.addListener (events.js:160:15)
    at EventEmitter.once (events.js:185:8)
    at Board.pulseIn (/Volumes/Work HDD/Repo

[2015-04-15 16:07] ecdeveloper commented on #674
@marvindebruin In my case the problem was because of insufficient power. I was using usb power, and I had multiple things connected to my board.

[2015-04-15 16:53] rwaldron commented on #674
No, because the issue isn't software related :(

[2015-04-15 17:44] marvindebruin commented on #674
Ill add an external power supply to the mix and get back at it tomorrow. Hope this solves it.

@rwaldron I get it now :)

[2015-04-15 17:51] rwaldron commented on #674
Cool, let us all know how it goes :)

[2015-04-15 19:01] Resseguie opened #731 "Accept time for servo.min/max/center so move:complete is fired"
The `move:complete` event is only fired for timed moves, but `.min()`, `.max()` and `.center()` don't accept a time parameter.

[2015-04-15 19:01] bartmichu opened #732 "Led.RGB stop() errors on 0.8.56"
Hi, after updating to 0.8.56 I'm getting errors when I try to ```led.stop()``` in repl
[code]

[code]
LED stops blinking anyway so it kind of works. Arduino Nano ATmega328 connected like in wiki examples. Code was working fine before ```npm update``` when I was on 0.8.53

[2015-04-15 19:43] Resseguie commented on #732
Thanks, I'll have a look!

[2015-04-15 20:12] #731 closed

[2015-04-15 20:17] rwaldron commented on #732
@Resseguie I see the issue:

[code]

Should be:

[code]

Can you write a patch, with tests?

[2015-04-15 20:26] Resseguie commented on #732
90% there already...

[2015-04-15 20:37] Resseguie commented on #732
It worked before because `this` and state/priv was shared, I guess.

It doesn't actually need to call stop on each of the individual R/G/B leds. It just needs to clear `this.interval` and set `isRunning = false` as it does in Led.prototype.stop.

I'm going to go ahead and duplicate the Led.prototype.toggle in Led.RGB too so we avoid this in the future for that function.

I'm adding tests for stop

[2015-04-15 21:01] Resseguie commented on #732
PR: #734

[2015-04-15 21:05] Resseguie opened #735 "Move mock-firmata to standalone repo"
Make it available for use in other libraries, creating Johnny-Five apps without hardware, etc.

[2015-04-15 21:39] dtex commented on #735
mock-io?

[2015-04-15 21:54] rwaldron commented on #732
@bartmichu please confirm that v0.8.58 addresses this bug (close when ready)

[2015-04-15 21:55] rwaldron commented on #735
`mock-io` is good with me. Should I make this repo and module? I will make you both authors/owners

[2015-04-15 23:09] Resseguie commented on #735
Sounds good to me.

Is io plugin model generic enough for testing other libraries, etc?

[2015-04-15 23:16] Resseguie commented on #735
How does or should this relate to board-io? I'm mobile so I can't look in detail until later.

[2015-04-16 04:45] bartmichu commented on #732
Confirmed, no problems now. Thanks guys!

[2015-04-16 04:45] #732 closed

[2015-04-16 09:38] marvindebruin commented on #674
So I added an external power source (5v adapter hooked up to a second arduino) and turned it on. Still no success. Ive measured the Voltage and it gives 5V to the sensor. so that works. Ive tried the sensor in this conf with the basic ping script and that works.
![img_3124](https://cloud.githubusercontent.com/assets/5748147/7178166/fc9f00f8-e42c-11e4-870d-c936baf5dfcf.JPG)
![img_3125](https://clou

[2015-04-16 11:44] Resseguie commented on #732
@bartmichu thanks for the report!

[2015-04-16 13:12] rwaldron commented on #735
Minimal testing, yes.

[2015-04-16 14:11] rwaldron commented on #674
Did you share a ground line across the two Arduinos? This really should not be necessary at all. Please try with wiring exactly as shown here: https://github.com/rwaldron/johnny-five/issues/674#issuecomment-86586234

[2015-04-16 14:19] rwaldron commented on #674
![](https://raw.githubusercontent.com/rwaldron/johnny-five/master/docs/breadboard/hc-sr04.png)

[2015-04-16 15:09] rwaldron commented on #735
Could be that we just use Board-io. I have PR towards that end: https://github.com/achingbrain/board-io/pull/5

[2015-04-16 15:19] marvindebruin commented on #674
Hey Rwaldron, this made no difference. Could it be Im using a different firmata / where can I get the proper one if not from the examples. Ill try that first just to rule it out.

[2015-04-16 15:27] rwaldron commented on #674
Yes, it very well could be. Are you using the special Ping-specific Firmata that's provided in the docs? https://github.com/rwaldron/johnny-five/wiki/Ping#setup

[2015-04-17 04:17] hail-seitan opened #736 "Should throw error when trying to Stepper.step() when Stepper.direction is undefined"
Right now you can call step() on a Stepper when its direction is undefined, without getting any errors. I spend a few hours trying to figure out why my stepper motor wasn't working, and it was because the direction was undefined. Stepper motors are nontrivial to wire so it would be nice to be alerted when code is broken.

I added a small warning in the Stepper wiki.

Thank you for your work on thi

[2015-04-17 16:13] rwaldron commented on #736
Thanks for the report and for updating the docs.

I wonder if `step()` should warn the user if no direction is set?

[2015-04-17 16:53] Resseguie commented on #736
It creates a new Error here, but doesn't look like anything is done with it:
https://github.com/rwaldron/johnny-five/blob/master/lib/stepper.js#L409

Can it just default to either cw or ccw?

Or add a check up front that makes sure one is supplied initially, similar to other opts, like here:
https://github.com/rwaldron/johnny-five/blob/master/lib/stepper.js#L128-L132

But I've got other concerns w

[2015-04-18 02:35] Resseguie commented on #736
Hmm, I was going to try and dive in on this, but it doesn't look like I've got the right hardware to run and test it. Time to place an order, I suppose!

[2015-04-19 01:27] Resseguie opened #737 "Add Led.RGB.intensity()"
Similar to current `Led.brightness()` but has range 0-100 (percent).

Should consider deprecating `.brightness()` completely and add `.intensity(0-100)` to Led as well.

Reasoning: "brightness" can be misinterpreted. "intensity" is standard term in lighting industry.

[2015-04-19 02:36] chedongzhe opened #738 "how can i access max6675, max31855K"
how can i access max6675, max31855K with johnny-five

[2015-04-19 03:18] Resseguie opened #739 "Stepper's MAXSTEPPERS should be per board"
The Stepper component defines a MAXSTEPPERS value (6) and says "correlates with MAXSTEPPERS in firmware".

But that value should be per board and not global.

[2015-04-19 03:20] Resseguie commented on #736
@hail-seitan Care to have a look at that PR? I don't have hardware, so I just implemented against tests.

[2015-04-19 18:58] rwaldron commented on #737
Thanks for filing this. I will finish up my patch and push a branch for review tomorrow

[2015-04-19 18:58] rwaldron commented on #739
Good catch

[2015-04-20 23:48] rwaldron opened #742 "Refactor Led.RGB to device/controller model."
- Add support for BlinkM controller.

[2015-04-21 09:27] McDonnellDean commented on #639
See #741 For current status of the above

[2015-04-21 18:03] henricavalcante commented on #677
I found this file https://github.com/practicalarduino/VirtualUsbKeyboard/blob/master/VirtualUsbKeyboard.pde that uses this project http://code.rancidbacon.com/ProjectLogArduinoUSB, can I use something like this with johnny five?

[2015-04-21 19:14] boneskull opened #745 "custom logging"
afaik, if you don't want J5 dumping its logs to console, your recourse is to monkeypatch:

[code]

Any ideas on how to make this easier?

[2015-04-21 19:19] rwaldron commented on #745
Doesn't `debug: false, repl: false` shut it up?

[2015-04-21 19:19] rwaldron commented on #745
(if not, then we got bugz)

[2015-04-21 20:15] boneskull commented on #745
Don't worry; that works. But I don't want do suppress the logging--I want to redirect it.

[2015-04-21 20:45] rwaldron commented on #745
Ah, I see. I completely misunderstood. That was before I ate lunch.

Let's figure out a way to allow this

[2015-04-21 22:58] boneskull commented on #745
probably some cmd-line flag that allows you to specify an adapter module

[2015-04-22 00:27] scottgonzalez commented on #745
Perhaps the simplest solution would be to just emit log events from `Board.prototype.log`?

I did a search for uses of `console` and it looks like there are lots of warning/deprecation notices that go directly through `console.log()`/`console.warn()`. If you want to handle these as well, you could create a log module and have everything use that.

[2015-04-22 00:29] scottgonzalez commented on #742
If you have some explanations or examples of this model, I could try to tackle this. Would probably give me some better understanding of how everything works.

[2015-04-22 00:45] scottgonzalez commented on #617
So it sounds like all you want is the method to disconnect, not to reconnect. When reconnecting, you would just create a new board instance. Is that correct?

If so, can't we have the boards track their components (perhaps though `Board.mount()`) and do some cleanup on disconnect? This seems like it's technically possible, but the question is does the cost of extra logic for every component outwei

[2015-04-22 01:03] rwaldron commented on #617
It's not that simple at all: all references to any component instance that holds any reference to any aspect of a board instance, or any of its properties, that exist in user code (way outside of Johnny-Five's control) would have to become unreachable, `delete`'ed or set to `null`.

[2015-04-22 01:06] rwaldron commented on #617
Also, consider that "connect" and "disconnect" don't make any sense for code that runs on the board. What does it mean to call `board.disconnect()` on a beagle bone?

[2015-04-22 01:07] rwaldron commented on #745
Yeah, those need to be cleaned up :/

[2015-04-22 01:35] scottgonzalez commented on #617
My impression was that this would actually be very likely to happen, given the example of `express-enrouten`. I assumed the use case was instantiating the board, performing some action, and disconnecting all within the scope of a single request. Once the request is complete, everything gets garbage collected (assuming Johnny-Five is cleaning up internally).

[2015-04-22 01:36] scottgonzalez commented on #617
I honestly have no idea, having no experience with that, but I would assume it just means that the board instance is no longer usable. So you wouldn't actually break the connection to the board, but all the references would be destroyed.

[2015-04-22 01:43] Resseguie commented on #742
I need to learn more about the device/controller model too, so I'm happy to think it through with you @scottgonzalez

Servo and LCD are two examples I was going to start with.

@dtex is a good resource for understanding the organization.

[2015-04-22 03:16] dtex commented on #742
Motor is also a good example. Mentioning @BrianGenisio because he's been in the position of having to make sense of it all.

[2015-04-22 03:22] dtex commented on #742
This helps: https://github.com/rwaldron/johnny-five/issues/665#issuecomment-85332468

And there was another, more detailed explanation but I'm having trouble finding it right now.

[2015-04-22 03:33] dtex commented on #742
Here's the other: https://github.com/rwaldron/johnny-five/issues/486#issuecomment-63515604

[2015-04-22 03:49] Resseguie commented on #742
Seems like we always have to hunt that stuff down. We need to put an "understanding devices/controllers" section on the wiki somewhere and make it easy to find.

[2015-04-22 13:35] scottgonzalez commented on #742
I'll take notes as I work on this tonight, then we can flesh it out into full API docs or a tutorial or something.

[2015-04-22 14:52] frxnz commented on #742
[We have this](https://github.com/rwaldron/johnny-five/wiki/Control-System-Hierarchy-Overview), but looking at the comments @dtex linked we could maybe expand on it a little.

[2015-04-22 17:02] Resseguie opened #746 "Expand wiki entry for Control System Hierarchy (component, controller, device)"
The basics of the Control System Hierarchy are described [here](https://github.com/rwaldron/johnny-five/wiki/Control-System-Hierarchy-Overview) but it would be helpful to expand this, and maybe add examples.

Two comments from @dtex that might provide additional content to include:
https://github.com/rwaldron/johnny-five/issues/665#issuecomment-85332468
https://github.com/rwaldron/johnny-five/issu

[2015-04-22 17:03] Resseguie commented on #742
Thanks @frxnz. An example or two there to put them in context would probably also be helpful.
See #746

[2015-04-22 18:07] rwaldron commented on #746
Sure, sounds like a good idea.

[2015-04-23 15:02] kirkstrobeck commented on #247
+1 on johnny five gps

[2015-04-23 15:35] dtex commented on #738
Hi @chedongzh

Sorry nobody has gotten back to you. I suspect nobody has any first hand knowledge of these specific devices. It looks like they use SPI. How best to tackle that will depend on what MicroController you are using. Are you using an Arduino?

[2015-04-23 16:04] rwaldron commented on #738
(Somehow I just missed it! sorry :frowning:  )

[2015-04-23 18:23] boneskull commented on #617
@rwaldron

I also have this use case.  I want to "hot-plug" physical boards:

1.  I'm running a web server.
2.  I'll probably leverage `Serial.detect()` or something to find a new device
3.  When the device disconnects, it will need to be destroyed in memory.

My server knows which "component" objects belong to which `Board` instances, and it should be trivial to simply zap the `Board` and everyth

[2015-04-23 19:49] #736 closed

[2015-04-23 19:49] #739 closed

[2015-04-24 06:12] mMerlin opened #749 "Requests to create a digital Pin with mode 0 not working"
johnny-five@0.8.58
$ uname -srvpio
Linux 3.19.3-200.fc21.x86_64 #1 SMP Thu Mar 26 21:39:42 UTC 2015 x86_64 x86_64 GNU/Linux
$ node --version
v0.10.38

The Pin() constructor is not honoring requests to create a Pin with mode 0.  The problem is pin.js:86
[code]
Back at pin.js:32
[code]
sets isAnalogInput to true, only for an analog pin number (prefix "A" or "I").  Everything else is javascript 'fals

[2015-04-24 07:38] mMerlin opened #750 "No callbacks reached for digital input Pins"
context: johnny-five@0.8.58
$ uname -srvpio
Linux 3.19.3-200.fc21.x86_64 #1 SMP Thu Mar 26 21:39:42 UTC 2015 x86_64 x86_64 GNU/Linux
$ node --version
v0.10.38

This seems like it should have been reported long ago as a bug, but I can not see what I am doing wrong.  I started by trying to create a digital sensor and could not get the .on('data', callback) to actually execute the callback.  So I dro

[2015-04-24 12:17] rwaldron commented on #749
Excellent bug! Thanks for the thorough report :)

[2015-04-24 12:27] rwaldron commented on #749
I can fix this now, _or_ if you'd like to convert your tests and add them to `test/pin.js` and make your suggested change, that works too. Let me know!

[2015-04-24 12:56] rwaldron commented on #750
@mMerlin thanks again for such a great bug report :)

Maybe, but I'm not surprised when bugs in `Pin` class go unnoticed, because I suspect it's very rarely used in practice, as the most common components have a dedicated class.

Can you give more detail about the sensor you're using?

A few things I've noticed about both:

- Neither have a call to `pinMode`
  - This will work with `analogRead` be

[2015-04-24 15:58] Resseguie commented on #750
@rwaldron Should we 1) add tests to cover callbacks and 2) maybe throw an error if pinMode not set before trying to do a read? (Similar to what we added for Stepper recently?)

[2015-04-24 16:21] rwaldron commented on #750
@Resseguie I want to see what's going here first.

[code]

Like I said, I want to know more about the specific sensor that was having problematic results before we make an decisions or write any patches.

[2015-04-24 17:29] mMerlin commented on #749
I had a look at the tests, but do not understand how (at least) the mocking works.  I could easily do a pull request with just the one line fix to pin.js, but not so sure about the tests.  Is there an overview description somewhere about how the tests work?  Also is there a way to run a test from node instead of through grunt?  To learn how the test run, I could use node-debug, and trace a bit.  I

[2015-04-24 17:41] rwaldron commented on #749
Do this and I will write up some tests.

There might be, but I don't actually remember— @divanvisagie would know

[2015-04-24 18:32] mMerlin commented on #750
@rwaldron said:

And I still left a potentially important (or at least useful) detail of the environment out.  I tested this with Arduino boards Uno and Duemilanove.

BTW is there a simple way to get node+johnny-five to report details of the attached board, that would be good to paste into bug reports?

@rwaldron said:

Will do as separate comment.  A bit big to insert here.

I did not even think

[2015-04-24 19:05] Resseguie commented on #750
The simplest example testing callbacks is the one for stepper that was added recently:
https://github.com/rwaldron/johnny-five/blob/master/test/stepper.js#L358

[2015-04-24 19:21] rwaldron commented on #750
Whoops, you're right. I completely forgot about that. I also documented it incorrectly. Sorry for the total confusion there. Updated: https://github.com/rwaldron/johnny-five/wiki/Pin#methods

Beyond that, I can't really help figure out why a sensor isn't being read properly unless I know what kind of sensor it is—that's more important than any code examples.

[2015-04-24 20:44] mMerlin commented on #750
@rwaldron said:

Not sure what you mean by 'kind of sensor'.  The (back several steps/layers) context was a simple external digital input.  When I started this, I was looking at something to use for a heartbeat for some plot.ly processing.  Since then, I found Board.loop(), which works just fine for that application.  Still want to be able to 'listen' to custom hardware, that uses a simple digital

[2015-04-24 21:46] Resseguie commented on #750
@mMerlin As a side note, I'm quite interested in plot.ly myself, so I'd love to see what all you're doing with that. Feel free to hit me up separately on gitter, twitter, etc.

[2015-04-24 22:12] mMerlin commented on #750
@Resseguie
See the brand new repository https://github.com/mMerlin/auto-water
You should (I think) be able to leave comments using issues there.
That project was a restructure / refactor / cleanup of code created from various examples by someone else at WCRS http://www.robotgames.com/
That was the first place I saw johnny-five or plot.ly.  I got involved because the original code was not working,

[2015-04-24 22:24] rwaldron commented on #750
I was just wanted to understand what you were trying to accomplish. Who knows, maybe you were plugging an analog sensor into a digital port and expecting that to work? I don't know, it's just one of the things I always ask.

Yes, this shouldn't be a problem.

I located a bug in `Sensor` class that was trying to short circuit the read callback for sensors that were type=digital. I fixed that issue

[2015-04-24 22:25] rwaldron commented on #750
I'll wait to for confirmation before closing.

[2015-04-25 02:02] mMerlin commented on #749
I see a variation of my fix was included in the latest set of commits.  I created some more unit test for pin.  A PR is queued for that, although it has failing asserts.  I need a few details about whether they are detecting a bug that needs fixing, or the tests should be changed.  See the note with the PR.

[2015-04-25 04:13] mMerlin commented on #750
I ran johnny-five@0.8.61 through my various sample code.  Here are the results:
* analog Sensor works the same, and is correct
* digital sensor is now calling the data event handler, but there is no read result value.  Both the value passed as an argument to the handler, and this.value are null.
* analog Pin works the same, and is correct
* digital Pin is now calling the data event handler, and (w

[2015-04-25 04:25] mMerlin opened #753 "properties of state object passed to pin.query(callback)"
What are the properties (supposed to be) for the state object passed to the callback for pin.query()?  The documentation at http://johnny-five.io/api/pin/ and https://github.com/rwaldron/johnny-five/wiki/Pin show
[code]
but a samples I get in a test also include state: 0.  Is the documentation out of data?  What do the values of the state property mean?  I have only seen a zero in my limited explo

[2015-04-25 17:30] rwaldron commented on #750
- What do you mean, specifically, by "no read result". The following two programs, when run with nothing attached to the board, have the same output:

[code]

[code]

Here is the output I recorded: https://gist.github.com/rwaldron/3481fcc67629e14f4a08

- There is a legacy bug, dating back to 3 years ago in which I stupidly put an error argument as the first argument to event handlers—that fix will

[2015-04-25 17:52] rwaldron commented on #753
This is a copy of the current in-program-memory representation of a given pin. This information is coordinated between Firmata.js and StandardFirmata. This is only a _copy_ so modifying it doesn't result in any observable changes to the pin (eg. setting value = 1 will bring the pin high).

These are the exact same thing ;)

I've updated the docs to include a table that describes each property of t

[2015-04-25 17:52] #753 closed

[2015-04-25 18:11] rwaldron commented on #749
Ugh, I had actually meant to manually enter you as the author, but I completely forgot by the time I was done with the patch. I'm really sorry about that :(

[2015-04-25 22:56] dtex commented on #730
Hey guys, if there is anything that is being held up by the Animation() implementation, please move ahead without it. The Animation() implementation should not break backwards compatibility on the API (if it does I'm doing it wrong). I'm struggling with implementing the mock process.nextTick/global.setImmediate functions. I'll refactor/rebase as needed.

[2015-04-25 23:07] rwaldron commented on #730
Don't worry about mocking them, we can put timing sensitive tests in the extended set—without mocks.

[2015-04-26 04:13] mMerlin commented on #753
I assume you meant: setting value = 1 will NOT bring the pin high

[2015-04-26 05:57] mMerlin commented on #750
Environment:
$ uname -srvpio
Linux 3.19.4-200.fc21.x86_64 #1 SMP Mon Apr 13 21:43:26 UTC 2015 x86_64 x86_64 GNU/Linux
$ node -v
v0.10.38
$ npm list johnny-five
...
└── johnny-five@0.8.62
Arduino Duemilanove with standardFirmata

That null result was for Sensor, not Pin.  With dummy loads attached to the board.  It is setup to drive leds on every pin, led + resistor to ground:
[code]
The output I g

[2015-04-26 06:25] bartmichu opened #754 "Button: value property"
Hi, would you consider adding readonly ```value``` property to indicate a digital state reading? Something like in ```IR.Motion``` class.

I'm mocking about with the lights and reed switches (I use ```Button``` class for that) and it would be really helpful to simply check its current state.

[2015-04-26 14:08] rwaldron commented on #754
Thanks for the report—this is definitely a bug and yes, absolutely.  All component class instances should have that property, but some are still missing. Do you want to write a patch and some tests?

[2015-04-26 15:40] bartmichu commented on #754
Don't really know how to do that I'm affraid, I would probably break something in the process :)

[2015-04-26 18:01] dtex commented on #730
I have proposed API additions for LED. Currently we handle:
[code]

For completeness I would like to add:
[code]

And for new functionality I would like to add:
[code]
The most obvious use case here would be to change the default easing function, but all the [segment options](https://github.com/rwaldron/johnny-five/wiki/Animation#segment-properties) would be available.

Thoughts?

[2015-04-26 18:32] dtex commented on #730
Adding an example:
[code]

[2015-04-26 22:37] valencreative opened #755 "RPI / Arduino Nano hang on Device or Firmware Error"
Hello Guys,

I currently developing a node-express-socket-johnny app for RPi and run into an issue when i tested my app.js on the raspberry pi2. It was developed and worked fine on my Mac with all the same module versions, but the RPi hang on this:

[code]

It needs to be look like this btw (from my Mac):

[code]

thanks for the kind solutions

[2015-04-26 23:23] bryan-m-hughes commented on #755
Can you connect to the Nano from the Raspberry Pi using the Arduino IDE? It may be possible that you don't have the right FTDI drivers installed, and this would be a good way to verify one way or another.

[2015-04-27 03:14] Resseguie commented on #730
I like it.

[2015-04-27 05:10] dtex commented on #730
I've moved forward with it. Everything is working nicely, I just need to finish up the extended tests and rebase. The mocked setImmediate and nextTick felt so close and so much better than the status quo... We have got to try again (and by "we" I mean someone smarter than me).

A couple of notes:
* The signature for fade() is ugly. It already had 3 params and now with a possible opts object it's w

[2015-04-27 06:11] dtex commented on #730
I have a PR ready at #756

[2015-04-28 00:43] Resseguie commented on #737
Related to #370

[2015-04-28 00:51] scottgonzalez commented on #370
I guess this needs to be bumped to 0.9.x/0.10.x?

[2015-04-28 00:57] Resseguie commented on #370
@rwaldron shall we add a 0.9 label so we don't forget this at the time?

[2015-04-28 13:37] scottgonzalez commented on #569
If you're changing the signatures with #561 anyway, I'd say you should just go all the way and do the standardization to a single argument.

[2015-04-28 18:40] bartmichu commented on #754
It looks like we can also use ```isDown``` property in this case, at least until it gets fixed.

[2015-04-28 18:48] rwaldron commented on #754
No worries, I just wanted to offer you the chance to fix it if you'd like to. I can take care of it. I'll ping when this is ready

[2015-04-28 18:51] #754 closed

[2015-04-28 18:52] rwaldron commented on #754
johnny-five@v0.8.64

[2015-04-29 14:17] rwaldron opened #759 "v0.9.0"
May 11

https://github.com/rwaldron/johnny-five/labels/0.9.0

[2015-04-29 14:23] scottgonzalez commented on #759
[Standard Event object](https://github.com/rwaldron/johnny-five/issues/569) and [Migration to a 0-100% value range](https://github.com/rwaldron/johnny-five/issues/370) were recently brought up.

https://github.com/rwaldron/johnny-five/labels/0.9.0 should probably be updated to accurately reflect waht you want in 0.9.x.

[2015-04-29 20:49] frxnz commented on #631
Closed with #688

[2015-04-29 20:49] #631 closed

[2015-04-29 21:16] Resseguie commented on #735
@rwaldron I'd like to reopen this. I like the new use of board-io to stub things out instead of copying all that functionality to mock-firmata. But just that by itself doesn't give me all that I'm interested in.

Our concept of `mock-io` would still need to set `this._pins` etc (as in test/util/mock-firmata.js) to be useful for testing w/o hardware and the other benefits we talked about above. `mo

[2015-04-29 21:22] Resseguie commented on #687
@frxnz this can close now, right?

[2015-04-29 21:24] frxnz commented on #687
@Resseguie Nope, `Proximity` closed #631. `Motion` is next on my list.

[2015-04-29 21:26] Resseguie commented on #759
Should we get #742 in there too? cc @scottgonzalez

And probably #737 since it's related to 0-100 ranges. cc @rwaldron
Should we deprecate `brightness()` in Led AND RGB as part of 0.9? (related to above)

And #756? cc @dtex

Should we remove Gripper as in #698 and then put it back later once a device/controller model is added? (cc me)

Does #665 need to be addressed before 0.9? cc @boneskull

And

[2015-04-29 21:28] Resseguie commented on #687
Got it!

[2015-04-29 21:29] Resseguie commented on #759
And do we want Motion refactor in 0.9? #687 cc @frxnz

[2015-04-29 21:31] frxnz commented on #759
Is this the right time to remove deprecated classes like `IR.Distance`, `IR.Proximity`, and `Ping`?

I should also be able to get Motion refactored this weekend if we want to get that in.

[2015-04-29 21:31] Resseguie commented on #759
If some of those I listed aren't actually breaking, then of course we can wait.

[2015-04-30 00:18] scottgonzalez commented on #759
I'm just waiting for my SparkFun and Adafruit orders to arrive so I have the PCA9685 and BlinkM controllers to work with.

[2015-04-30 00:19] rwaldron commented on #631
:clap:

[2015-04-30 03:10] scottgonzalez commented on #746
As I ask a million questions about controller initialization in gitter, @Resseguie says:

[2015-04-30 06:18] bbence84 commented on #674
I have a slightly different issue / question, sorry for hijacking the thread. :) What I am trying to do is to check periodically the sensor from a node red flow. The sensor returns the correct value just fine in a vanilla node.js app, but I cannot get it to work in node red (http://nodered.org/docs/hardware/arduino.html). It returns zero. How do I connect the onchange callback in a node red flow?

[2015-04-30 10:56] McDonnellDean commented on #759
@Resseguie @rwaldron I can finish this before the 4th. I was really hopping to get some feedback on my changes before finalising. They aren't breaking though. I kept the old API fully intact so it can be sunsetted gracefully.

[2015-04-30 11:46] scottgonzalez opened #762 "Controller initialization logic"
I noticed that many components support the same controllers and each component handles the controller initialization directly. For example, the PCA9685 controller is currently supported by:

* esc ([initialization block](https://github.com/rwaldron/johnny-five/blob/310cdd11a4331ff1552a69a49d12826ea5e0b0f0/lib/esc.js#L26-L45))
* servo ([initialization block](https://github.com/rwaldron/johnny-five/

[2015-04-30 12:07] scottgonzalez commented on #762
It looks like `motor` is actually supporting [Adafruit Motor/Stepper/Servo Shield for Arduino v2](https://www.adafruit.com/product/1438), which seems to be built on the PCA9685 chip. I'm basing this on the [Arduino code](https://github.com/adafruit/Adafruit_Motor_Shield_V2_Library/blob/b2ba608b22afe495c2ec6643eafbb7f9c81dc71d/Adafruit_MotorShield.h#L22).

[2015-04-30 14:07] rwaldron commented on #759
I'll be honest, I'm a little overwhelmed by the number of large things we have here. I changed the date to May 11th, but still: some of things can't reasonably be done, and done well, in that time frame.

[2015-04-30 14:09] scottgonzalez commented on #759
Was 0.9.0 originally planned to be released so soon, or was the date just picked because there was an uptick in discussion and it seemed like there wasn't a lot to do?

[2015-04-30 14:21] dtex commented on #762
The Arduino code is good for a quick start, and our initialization process is very similar to their's, but to really understand what's happening with the PCA9685 this document is invaluable: http://www.nxp.com/documents/data_sheet/PCA9685.pdf

Also, I think it's helpful to not think about supporting specific boards or shields. We are supporting the PCA9685 chip which works the same regardless of w

[2015-04-30 14:21] dtex commented on #762
Not to say it was a bad idea, just that it was premature.

[2015-04-30 14:28] rwaldron commented on #762
Yeah, these just needed to be updated (I just pushed an update).

See comment here: https://github.com/rwaldron/johnny-five/blob/310cdd11a4331ff1552a69a49d12826ea5e0b0f0/lib/servo.js#L40-L47

That was the plan that @dtex and I discussed some time ago, but we wanted to see what each controller implementation needed before we jumped the gun on an abstraction.

[2015-04-30 14:30] rwaldron commented on #759
I originally wanted to do it in January

I made it up when I filed this, which I did from my phone at the dog park and didn't really consider all of the issues with 0.9.0 label.

[2015-04-30 14:33] rwaldron commented on #674
Try this:

[code]

[2015-04-30 22:20] bbence84 commented on #674
Thanks, but this does not seem to work.
I think the reason is that node-red isn't supposed to work in this callback fashion, Or does it? How would you use the johnny five pushbutton object in node-red?

[2015-05-01 00:29] boneskull commented on #759
If you're following semver, #665 would probably necessitate a major release.

[2015-05-01 01:04] Resseguie commented on #759
@rwaldron I added 0.9.0 label to all the things mentioned here. Feel free to remove ones that you deem not 0.9. I just figured that would make it easier for everyone to track.

[2015-05-01 01:19] scottgonzalez commented on #759
Nothing ever requires a major release in 0.x versions.

[2015-05-01 02:05] frxnz opened #766 "Possible memory leak with GP2Y0D805Z0F"
Using [this device](http://osepp.com/products/sensors-arduino-compatible/osepp-ir-proximity-sensor-module/) over I2C, getting a memory leak warning:

[code]

Running this code:

[code]

It's entirely possible this is a wiring issue, since none of the pins are labelled. I've tried it a couple different ways with the same results.

![image](https://cloud.githubusercontent.com/assets/1072711/7425741/

[2015-05-01 03:22] dtex commented on #766
These line numbers don't seem to match up. What version of Johnny-Five?

[2015-05-01 03:50] rwaldron commented on #766
This bug is not likely in Johnny-Five. It pops up when there is something wrong with the wiring causing the component to fail.

[2015-05-01 03:55] rwaldron commented on #674
Sounds like a bug in node-red, because all of Johnny-Five's sensor/input component classes are emitters.

[2015-05-01 05:04] boneskull commented on #759
@scottgonzalez Ah, yes, of course.  Well, regardless, I have no time to get to that in the immediate future.

[2015-05-01 12:02] frxnz commented on #766
@rwaldron Do you have one of these? Does the wiring above look right?

On Thursday, April 30, 2015, Rick Waldron <notifications@github.com> wrote:

[2015-05-01 12:25] fivdi commented on #766
@frxnz is it because there are no pull-ups? SB1 & SB2 should be shorted according to the [document](http://osepp.com/wp-content/uploads/2012/01/OSEPP-PROX-01_REV1_1.pdf) linked to above.

[2015-05-01 13:17] frxnz commented on #766
"Only short SB1 and SB2 if sensor is not connected to OSEPP I2C Shield". The pinout on the shield is just Vcc, GND, SDA and SCL.

[2015-05-01 13:34] fivdi commented on #766
Yes, "Only short SB1 and SB2 if sensor is not connected to OSEPP I2C Shield". In the photo above the proximity sensor is connected directly to the Arduino and not indirectly through an [OSEPP I2C Shield](http://osepp.com/products/shield-arduino-compatible/i%C2%B2c-expansion-shield/). I don't actually have one of the proximity sensors or an OSEPP I2C Shield, but the document leads me to believe tha

[2015-05-01 13:42] frxnz commented on #766
@fivdi Ah good catch. I assumed it was the I2C shield because I'm bad at reading. There are indeed 2 solder bridges on the back, and they're open. I'll close them tonight and give this another try. Thanks!

[2015-05-01 17:08] JpEncausse commented on #617
I have the same issue.
I'd like to close the Board to free COM port and create a new one.

[2015-05-01 20:05] rwaldron commented on #617
Copy this and run it in your console please:

[code]

The result will illustrate the problem I've been trying to explain.

[2015-05-01 21:43] brewh0use commented on #380
Have you ever had a chance looking into this again? I was hoping to hook up a stepper motor the adafruit motor shield, but haven't had any luck so far :-(

[2015-05-01 22:01] rwaldron commented on #380
@dtex are you still working on this?

[2015-05-01 22:07] bbence84 opened #767 "Node-RED or Johnny-Five issue?"
I cannot seem to start Node-Red anymore (it worked before) if I enable johnny-five in the context:

        jfive:require("johnny-five"),
        j5board:require("johnny-five").Board({ port: "/dev/ttyACM0", repl:false })

This gives the below error upon running node-red (node-red-pi --max-old-space-size=128):

1430517767179 Device or Firmware Error A timeout occurred while connecting to the Board.

[2015-05-01 22:51] dtex commented on #380
No, but I did get a 12V stepper motor to test with.

[2015-05-01 23:26] rwaldron commented on #767
@monteslu any thoughts?

[2015-05-01 23:30] boneskull commented on #617
Implement some sort of "destroy" event.  Call `Board#disconnect()` and it will broadcast the event to all of its components.  Components would then be responsible for listening for this event, and clean up after themselves.  (this is how AngularJS does it)

[2015-05-01 23:40] rwaldron commented on #617
That's a huge amount of work for a feature that's only useful to one of the many platforms that Johnny-Five runs on. Furthermore, the Angular comparison is bogus, because not even Angular can go and find all references, including alias bindings, to eliminate them.

[2015-05-01 23:47] boneskull commented on #617
(re: AngularJS, it's just a part of it--think using jQuery/jqLite to bind an event to a DOM node--when that DOM node's Scope is destroyed, you will want to unbind the event b/c of memory leaks.  You subscribe to a `$destroy` event and unbind within it.)

I'm not sure I understand why this is only applicable to one platform?  How is a BBB any different (and I don't mean semantics)?

I'm not going t

[2015-05-01 23:52] bryan-m-hughes commented on #617
One possible solution for hot-plugging, etc that doesn't require any change to J5: I think you should be able to use the ```child_process``` or ```cluster``` modules to isolate the board to its own process, thus allowing you to easily destroy the board by destroying the process. Disclaimer: I have not actually tried doing this, but I would be surprised if it didn't work.

[2015-05-01 23:52] scottgonzalez commented on #617
Perhaps the way to move forward is for one of the interested parties to send a PR with a proof of concept that implements the destroy behavior at the high level, plus one or two components. Then provide an example web app that repeatedly connects to a board, initializes some components, then disconnects in response to a request.

[2015-05-01 23:55] scottgonzalez commented on #617
@bryan-m-hughes's suggestions also sounds reasonable. I wonder if you could even get away with just using a new VM context instead of a new process.

[2015-05-01 23:59] bryan-m-hughes commented on #617
@scottgonzalez do you know if Node.js provides nice, easy to use APIs for spinning up new VM contexts? I'm not familiar with any, but then again I've never gone looking for them (I use cluster personally for this stuff)

[2015-05-02 00:19] rwaldron commented on #617
@scottgonzalez I agree.

@boneskull the semantics of "disconnect" don't make any sense if the code is running directly on the board that it's controlling. What is it disconnecting?

[2015-05-02 00:25] boneskull commented on #617
@rwaldron

:smile: Perhaps `destroy` more appropriate?

[2015-05-02 00:28] bryan-m-hughes commented on #617
I dunno, I feel like even that doesn't really make sense in the Node.js world. It's not a common idiom unless you're dealing with something that has a connection, which BBB, RPi, Yun, etc don't have.

[2015-05-02 00:29] rwaldron commented on #617
What is it destroying?

[2015-05-02 00:30] boneskull commented on #617
objects

[2015-05-02 00:33] bryan-m-hughes commented on #617
to clarify my point above: it's not The Node Way (tm) to have a manual method you call to destroy/disconnect/etc, unless it's a stream. BBB, RPi, etc aren't streams, therefore any method like that just isn't The Node Way (tm).

This isn't to say we must religiously follow the usual way of doing so, of course, but deviating from it requires compelling arguments. I don't think we're at that point, e

[2015-05-02 00:35] scottgonzalez commented on #617
https://nodejs.org/api/vm.html

[2015-05-02 00:38] bryan-m-hughes commented on #617
@scottgonzalez Nice! I'm actually not familiar with that API (ooo new Node API to learn, that doesn't happen often :))

Maybe it would be a good idea to test this process/context isolation approach, and if it works, add some docs on best practices for this use case.

[2015-05-02 00:38] boneskull commented on #617
@bryan-m-hughes I *think* I understand how this would work with `child_process`, but I don't know jack shit about `cluster`.  Same idea, basically?

It's very likely I have an XY problem here.  I really just want to hot-plug stuff and not suffer memory leaks when removing.  I don't really care how we solve that problem.

[2015-05-02 00:39] bryan-m-hughes commented on #617
@boneskull yeah, cluster is similar, just higher level and _awesome_ when you want to manage a group of these things.

[2015-05-02 00:43] bryan-m-hughes commented on #617
The basic approach would be (assuming cluster), for the master process to just be a controller/manager. No J5 code in it. It would spawn off one or many child processes where the J5 code goes. Whenever it's time to disconnect, you can send messages back and forth between the master and J5 process to coordinate a shutdown of the J5 process and spawn up a new one once it's done.

[2015-05-02 00:43] boneskull commented on #617
@bryan-m-hughes I should be able to test this soon.  I should be able to figure it out on my own, but if you can provide me some direction or a starting point, that may speed things along.

[2015-05-02 00:46] bryan-m-hughes commented on #617
For an example of cluster being used in this fashion, check out https://github.com/bryan-m-hughes/aquarium-control/tree/master/server. It's ancient (way predates raspi-io, so no J5), but still "in production" controlling the lights of my aquarium after 2 years, so obviously the approach works well. Just pretend the src/controller.js file is filled with J5 code :D

[2015-05-02 00:47] boneskull commented on #617
@bryan-m-hughes :+1:

[2015-05-02 01:26] Resseguie commented on #698
@rwaldron So I now vote that we plan to refactor this later to the controller/device model but not let it hold up 0.9.0. You good with removing that label from this issue?

[2015-05-02 01:30] rwaldron commented on #698
Works for me

[2015-05-02 06:24] bbence84 commented on #767
One clarification: the first two lines I mentioned (to init johnny five when starting node red) is taken from this tutorial:
http://nodered.org/docs/hardware/arduino.html

[2015-05-02 13:49] bbence84 commented on #767
Ok, solved this, kinda. Reinstalled the whole Rasperry image, started from sratch. Not sure what was causing this though.

[2015-05-02 13:49] #767 closed

[2015-05-02 14:03] rwaldron commented on #767
That's bizarre! I'm glad this is resolved though. Please re-open if you encounter the issue again in the future.

Let's ping @bryan-m-hughes so this is at least on his radar in case we have to revisit.

[2015-05-03 01:02] scottgonzalez opened #768 "Board timeout and serialport error handling"
There's currently [logic to detect timeout errors between `connect` and `ready`](https://github.com/rwaldron/johnny-five/blob/c3af2c4131d8a20bb2e9a00987db9dc18dfe4f34/lib/board.js#L374-L389), but there's no timeout logic for a board that's not connected at all. Is that intentional? It seems like `new five.Board()` with no connected devices should probably result in a timeout as well.

There's also

[2015-05-03 02:37] rwaldron commented on #768
If there is no board physically attached, `new five.Board()` will wait for you to plug a board in: https://github.com/rwaldron/johnny-five/commit/fb85d50090023a66f968609bb5efcbabd4bedb14

Yep, `serialport.list` will never produce an error there—it's probably there for the sake of callback parameter consistency, but it will never be anything but `null`. This has been [true forever](https://github.c

[2015-05-03 06:51] deevolutionism opened #770 "LED.Matrix HT16K33 How to draw updating integers"
I pulled an example from the Johnny-Five documentation on Adafruit's 8x8 LED matrix. I noticed that the functionality currently built in allows you to write static characters as well as create your own shapes using arrays. However, I can't figure out how to draw a variable int to the matrix. I have a project that involves voting and need to be able to pass an int into the draw function. Is there a

[2015-05-03 12:53] scottgonzalez commented on #768
Ah, and only when there is no board connected do you see the "Looking for connected device" message. Sounds good.

I had spent some time trying to figure out if this was the case. When I saw [serialport's own code checking for the error](https://github.com/voodootikigod/node-serialport/blob/171377b55ad6d114b8f6e6e9874be4ef39f8f128/bin/serialportList.js#L6-L9), I thought it *might* throw errors, bu

[2015-05-03 21:26] bryan-m-hughes commented on #767
Interesting, I'd never heard of node-red before.

[2015-05-04 00:02] rwaldron commented on #770
Not at the moment, but it wouldn't be hard to add. I will work on this tomorrow and will keep you posted.

[2015-05-04 00:03] rwaldron commented on #768
Comment is good. If it ever gets updated, we'll update to emit the error

[2015-05-04 01:02] deevolutionism commented on #770
Thanks! That would be awesome! It's going to be part of a wireless binary voting system Im making thats sort of based off of Steve Lamberts "public forum" piece. I am also going to be implementing v1.0 Xbee modules to transmit the collected data to either my laptop or a raspi 2 where a lan server will be hosted.
![imag0076](https://cloud.githubusercontent.com/assets/9488353/7447821/0ed145b2-f1d7-1

[2015-05-04 01:41] rwaldron commented on #770
That's sharp!

I was looking at the code and saw that all characters are stored as strings, 0-9 are present, and a number will be coerced to a string anyway (I think this needs to be better documented anyway).

Does the following work?

[code]

[2015-05-04 01:42] #768 closed

[2015-05-04 02:22] deevolutionism commented on #770
The above works fine, but the problem is that its a static number and needs to be a variable.

My code stripped down to just the basic button and matrix below:

[code]
However, when i pass the votes1 variable into the draw function, it gives me an error.

[2015-05-04 13:38] rwaldron commented on #770
Ok, this helps me understand a bit better. Can you paste the error here?

[2015-05-04 13:51] rwaldron commented on #770
Just a quick note: I'm away from home this week and don't have this hardware with me, but I just ordered 2 of them from adafruit for overnight delivery. Hopefully by tomorrow I can be more help ;)

[2015-05-04 18:41] rwaldron commented on #770
I was able to get my hands on a shift register & matrix and I discovered a bug, maybe it's the bug you're hitting, maybe not? Hitting the button to count up past 9 will throw an exception, because there is no entry in the character table. [I fixed that](https://github.com/rwaldron/johnny-five/commit/1703a6ae53282a86df56b6819ead44e744150a5a#diff-9f8ec4adada6464c0d7658ef23115071R1095)

[2015-05-04 19:09] deevolutionism commented on #770
This was the error I got when I used

[code]

 /Users/deevolution/node_modules/johnny-five/lib/led/ledcontrol.js:262
        character = LedControl.MATRIX_CHARS[chr].slice(0);
TypeError: Cannot read property 'slice' of undefined
    at LedControl.draw (/Users/deevolution/node_modules/johnny-five/lib/led/ledcontrol.js:262:49)
    at Board.<anonymous> (/Users/deevolution/Documents/4th-Semester/Studi

[2015-05-04 19:23] rwaldron commented on #770
Yep, that was the error I just fixed.

[2015-05-04 19:24] rwaldron commented on #770
published to npm v0.8.70

[2015-05-04 19:40] deevolutionism commented on #770
AWESOME! that did the trick. Thank you!

I think I was expecting similar functionality to Adafruit's [LED backpack library] (https://github.com/adafruit/Adafruit-LED-Backpack-Library) which allows you to easily pass variables into  their print() function. Maybe you've played around with their library before, but if not you should definitely check it out. if you could steal some of their functional

[2015-05-04 20:02] rwaldron commented on #770
It's definitely a goal to be able to animate the displayed output, modified font size, etc :)

Thanks again for the report and for your patience!

[2015-05-04 20:02] #770 closed

[2015-05-04 20:03] rwaldron commented on #770
It just occured to me that I still have 2 ht16k33's on their way via overnight delivery... 0_0

[2015-05-04 20:49] deevolutionism commented on #770
One other (hopefully) quick problem! The matrix runs successfully on Arduino Uno when I2C clock is attached to analog 5 and 12C data is attached to analog 4. Running on the mega with I2C clock attached to digital pin 21 (SCL on Mega) and digital I2C data to digital pin 20 (SDA on Mega) nothing is being displayed on the matrix. I also attempted to hook up clock to analog 5 and data to analog 4 on t

[2015-05-04 21:22] rwaldron commented on #770
That's strange, Johnny-Five doesn't do anything differently for I2C on any of the Arduino boards, but of course I don't have my Mega here with me :| I will try to pick one up this evening from RadioShack. This might be a dumb question, but here goes: the Mega has the latest version of Firmata/StandardFirmata (2.4.3) flashed to it, right?

[2015-05-04 21:31] deevolutionism commented on #770
D'OH! :laughing: though i had it flashed, guess not. Thanks again, man!

[2015-05-04 21:46] rwaldron commented on #770
Is it all good now?

[2015-05-04 22:11] deevolutionism commented on #770
Works great!

![johnny-five-button-counter](https://cloud.githubusercontent.com/assets/9488353/7463626/eeb90b86-f288-11e4-89d4-b1ebb9c05767.gif)

Thanks!

[2015-05-04 23:13] scottgonzalez opened #772 "Incorrect example diagram for LED - PCA9685"
The diagram on http://johnny-five.io/examples/led-PCA9685/ shows the LED connected to PWM and V+ instead of PWM and GND.

[2015-05-05 00:21] rwaldron commented on #770
I love this!

cc @annagerber

[2015-05-05 00:23] rwaldron commented on #772
The fzz is in the repo, can you fix it?

[2015-05-05 00:41] rwaldron commented on #770
@deevolutionism one important thing: the numbers stop at 99 (because I'm not sure if we can fit anything  bigger). Currently if you try to display a number that can't be displayed, it will throw an intentional error exception, but maybe maybe we can change that to a logged warning instead? What do you think?

[2015-05-05 00:43] scottgonzalez commented on #772
Bah. I actually did that and pushed a branch, but then got distracted and never sent the PR :-/

#773

[2015-05-05 00:48] #772 closed

[2015-05-05 01:00] deevolutionism commented on #770
I may opt to make those numbers percentages rather than single votes and just laser cut a little percentage symbol to put next to the matrix.

[2015-05-05 03:16] deevolutionism commented on #770
Alternatively I might utilize this limitation to my advantage. When the number of votes for one side have reached 99, it is the conditional for when the next set of items will be compared and voted upon. Don't worry about making any nit-picky changes. I can work within these constraints just fine.

Thanks a bunch for your support! Keep up the good work on this library!

[2015-05-06 15:23] LegendaryTom opened #779 "Missing sensor events on long running script"
Hi,

I'm running a script that measures the number of electric pulses that are output from a utility meter.  I have an Arduino connected to an electric meter to measure electric consumption in kWh.    For every 0.072 kWh our building consumes, the input to the board will toggle from high to low, or low to high.  This script uses Sensor.within() to find out how many pulses have occurred.

[code]

T

[2015-05-06 15:58] #766 closed

[2015-05-06 17:20] rwaldron commented on #779
This is really interesting and not something that I've encountered myself yet—but we'll work through it together :)

First thing: my relationship with the Yun has not been a positive one. I've bricked (100% non-responsive) 2 of the 3 that I've purchased, so I had long since given up trying—looks like I need to come back around on that. Can you share the setup steps used to prepare your Yun to run

[2015-05-06 23:47] mMerlin commented on #779
One idea would be that some of the timing in firmata relies on a timer/counter that is wrapping around.  When the count reaches maximum value, and wraps to zero, some comparisons start failing.  I am not aware of anything that should be kicking in at 10 plus hours.  I have hit similar when working (directly) on an Arduino when using the micros() values.  That wraps at just over an hour of run time

[2015-05-06 23:56] mMerlin opened #780 "What determines the board that is associated with (internal to) a component?"
I created a package to create components based on a hardware 'model' object.  The package exports a function that takes the description objects as parameter, and returns an object containing the created components.

The package requires 'johnny-five', but it does NOT create an instance of a board.  Given my understanding of javascript scoping rules, I was expecting to need to pass the board instan

[2015-05-07 00:15] mMerlin commented on #750
Still getting null results from that sample code with johnny-five@0.8.71

Unless the fix is supposed to come as part of 0.9.0 ?

[2015-05-07 00:18] #749 closed

[2015-05-07 00:42] mMerlin commented on #704
FYI the link provided (presumably) about the curried argument is dead.  A recent restructure moved that to an led (sub) folder.  Looks like https://github.com/rwaldron/johnny-five/blob/master/lib/led/ledcontrol.js#L312-L327 matches now.  Even without moving files, line number ranges are prone to break.  Maybe https://github.com/rwaldron/johnny-five/blob/affa20e9d6ae2c38074eaa6a7e65a5ba88a4ebfc/lib

[2015-05-07 01:19] scottgonzalez opened #782 "RGB LED does not fully turn off with PCA9685"
I tried using two different types of common anode RGB LEDs and neither one fully turned off, they both were very dimly lit. I don't have any common cathode RGB LEDs to test with.

[2015-05-07 04:16] mMerlin commented on #625
Is/has anything happening/ed with this?  I searched the wiki but did not find anything about TTD, TDR, testing.

I have been looking for information about getting started with johnny-five projects and nodeunit.  I started by using "grunt-init node" to get the initial structure, then copied mock-firmata.js and mock-pins.js from the test/util folder to my own project, plus added board-io to the dev

[2015-05-07 05:42] mMerlin commented on #779
Check the version of firmata you are using.  I noticed in the firmata/arduino repository https://github.com/firmata/arduino that a recent (Apr 11, 2015) commit
https://github.com/firmata/arduino/commit/e2cede35460333ed97c27f271dadbf7349b11c0e
brought StandardFirmataYun up to date with StandardFirmata

[2015-05-07 13:03] rwaldron commented on #750
Thanks, can you be more specific? Which example?

[2015-05-07 13:05] rwaldron commented on #780
Take a look at the component plugin template here: https://github.com/rwaldron/johnny-five/blob/master/docs/plugin.md

[2015-05-07 13:09] rwaldron commented on #780
Sorry, hit "Comment" button too soon!

- That link above is for defining third party component classes.
- To instruct a component to use a specific board, all classes accept a `board` property in their constructor options, eg

[code]

[2015-05-07 14:03] LegendaryTom commented on #779
The Yun is the only board I've worked with, but it does seem to have a lot of "quirks" to work around.  Here are my notes that I use for setting up new Yun's: http://htmlpreview.github.io/?https://gist.github.com/LegendaryTom/d0bf1a384b10e3f8547b/raw/

Fair warning, the very first step voids your warranty and has the potential to brick your Yun.

Here's what's in the notes:
1: Flashing UBOOT on th

[2015-05-07 14:35] LegendaryTom commented on #779
@mMerlin I will try out that version of firmata and see how it goes.

[2015-05-07 18:37] mMerlin commented on #750
Current environment
[code]
_d-test.js_
[code]
[code]

[2015-05-07 18:48] mMerlin commented on #780
I saw a sample of the board property someplace, but it did not look like it was being used.  I tried to force an error by setting it to null.  I guess the low level code that uses that is filtering it out, if the board property is 'falsey', which would ignore null, undefined, 0, and empty strings.

So for my case, I can just supply a board parameter on the call.  If it is supplied, it gets used.

[2015-05-07 19:01] Resseguie commented on #780
@mMerlin I think the magic you're looking for is here:
https://github.com/rwaldron/johnny-five/blob/master/lib/board.js#L690

Components call Board.Component which in turn calls Board.mount. If the board property is set, it uses it. If not, it tries to guess from all currently defined boards.

[2015-05-07 19:02] Resseguie commented on #780
Example of where Led calls Board.Component:
https://github.com/rwaldron/johnny-five/blob/master/lib/led/led.js#L169-L171

[2015-05-07 19:32] rwaldron commented on #750
[code]

[2015-05-07 20:21] rwaldron commented on #782
Using your example, I see complete on and complete off. Is this the wrong example to repro? Let me know!

[2015-05-07 20:25] rwaldron commented on #625
Nothing has happened yet, but not because no one cares ;)

I'm not really sure how to solve this, or even how to approach it. My first and most naive thought would be to produce Mock-Johnny-Five and publish it as a module. It would have all the stuff Johnny-Five has, but everything would be empty and ready for use as a mock. "Mock-Johnny-Five" would be generated and maintained by a build process,

[2015-05-07 20:28] rwaldron commented on #779
@LegendaryTom Thanks for the run down. I will try this as soon as I have a moment available.

Sort of related: One thing to note: the Nino-IO plugin is designed to work on an Arduino Yun that's running LininoOS. This would change step 7, 8, 9 to:

7: `npm install johnny-five nino-io`

[2015-05-07 21:54] mMerlin commented on #780
That 'guessing' is not very smart.  It just picks whatever the first board in the array is.  Of course, I can not think of anything to use for reasonable criteria.

That does explain where the defaulting is coming from though.  At least after I update my understanding of node.js packages.  From exploring, a module that is 'required' in more than one place is really only loaded once, so the the sco

[2015-05-07 21:54] #780 closed

[2015-05-07 22:28] mMerlin commented on #750
It seems we have some sort of environment difference.

Tested with 2 different Arduino Duemilanove boards (328), an UNO, and a Nano (328),
all with the same results.

StandardFirmata example sketch loaded from Ardiuno IDE version 1.0.6

First install below used the latest commit from the repository.  Second used
whatever npm thinks is the 'latest'

[code]

[2015-05-08 00:08] scottgonzalez commented on #782
Yeah, I have it wired as shown in the new example. I ran `node eg/led-rgb-anode-PCA9685.js`, then from the REPL I ran `led.stop().off()` and this is what I end up with:

![breadboard with PCA9685 and common anode RGB LED](http://f.cl.ly/items/283P2T2r0o1u2t2A183Y/Displaying%20IMG_0945.JPG)

[2015-05-08 01:32] rwaldron commented on #780
It's worked quite well for over 3 years without producing a single known or reported complaint. The same code is run for every IO-Plugin of every platform that's supported and has never produced a bug (that's been reported). If a program needs to be explicit, it can be, but otherwise I see nothing "smart" about burdening the code with ceremonial boilerplate.

[2015-05-08 01:36] rwaldron commented on #750
What are those failures at the end? I'll look at the more tomorrow

[2015-05-08 01:39] rwaldron commented on #782
I've tried several different RGB LEDs (diffused & clear) and I can't reproduce. I'll pick it back up tomorrow morning and see if I've missed something

[2015-05-08 02:35] mMerlin commented on #780
Like I said, I can not think of any available criteria that could be used to make it 'smarter'.  Simple is good too.  The 'not smart' was more directed to the 'guess' reference in the earlier comment.

[2015-05-08 06:10] mMerlin commented on #750
I did some research on the errors.  I am not a linux expert, but here is what the analysis showed.

I **assumed** that the messages mean there is a problem between the available package versions, and what package manager for the packages says is needed.  Here is a simpler list, that shows the chain with the failing lines.
[code]
First verify that it is easily reproducible with a fresh install:
[co

[2015-05-08 06:12] mMerlin commented on #750
Simple local fix to get rid of the npm error messages

[code]
cd back to the j5-exploring project folder
[code]
No more error messages.

Did not change the output of **node d-test** though.  Still all null.

[2015-05-08 14:36] rwaldron commented on #145
I believe this is no longer a problem since node-serialport provides pre-built versions when necessary.

[2015-05-08 14:36] #145 closed

[2015-05-08 14:37] #188 closed

[2015-05-08 14:38] rwaldron commented on #192
http://johnny-five.io/api/led.matrix/
http://johnny-five.io/api/led.digits/

[2015-05-08 14:38] #192 closed

[2015-05-08 14:38] rwaldron commented on #197
http://johnny-five.io/api/switch/

[2015-05-08 14:38] rwaldron commented on #198
http://johnny-five.io/api/wii

[2015-05-08 14:38] #198 closed

[2015-05-08 14:39] #249 closed

[2015-05-08 14:39] rwaldron commented on #261
I have never encountered issues with Configurable Firmata

[2015-05-08 14:39] #261 closed

[2015-05-08 14:41] rwaldron commented on #358
Thanks again for the guide!

[2015-05-08 14:41] #358 closed

[2015-05-08 14:41] rwaldron commented on #266
Closing here, since work has resumed elsewhere <3

[2015-05-08 14:41] #266 closed

[2015-05-08 14:42] rwaldron commented on #276
This is the recommended Johnny-Five component for OLED devices: https://github.com/noopkat/oled-js

[2015-05-08 14:42] #276 closed

[2015-05-08 14:43] rwaldron commented on #419
Forgot to close!

[2015-05-08 14:43] #419 closed

[2015-05-08 14:44] rwaldron commented on #438
Now that Johnny-Five has an IMU/Multi class, exploration here can move forward

[2015-05-08 14:45] #522 closed

[2015-05-08 14:45] #507 closed

[2015-05-08 14:46] rwaldron commented on #479
We did this! Hooray!

[2015-05-08 14:46] #479 closed

[2015-05-08 14:46] rwaldron commented on #461
There have been major updates

[2015-05-08 14:46] #461 closed

[2015-05-08 14:47] rwaldron commented on #729
https://github.com/rwaldron/johnny-five/commit/d12f8fba241c6d1e074cffa7e030762f9e12f400

[2015-05-08 14:47] #729 closed

[2015-05-08 15:06] Resseguie commented on #197
@rwaldron that link 404's currently. Is there supposed to be `switch` docs somewhere?

[2015-05-08 15:09] Resseguie opened #784 "Update grunt example task to modify programs.json"
Make `grunt example` interactive to not only build boilerplate example, but also interactively add an entry to `programs.json` (optional).

Needs to also consider case where example already exists and user wants to use `gunt example` to just add the `programs.json` entry.

[2015-05-08 15:09] rwaldron commented on #197
Doh. I just typed it out assuming it was done and never actually looked. What an ass.

[2015-05-08 15:57] JCMais commented on #266
@rwaldron where?

[2015-05-08 20:00] brewh0use commented on #380
Please let me know if there is any way I can help. Happy to test with the motors that I have available.

[2015-05-08 20:01] rwaldron commented on #266
@JCMais https://github.com/ajfisher/node-pixel

[2015-05-08 20:58] rwaldron commented on #197
- https://github.com/rwaldron/johnny-five/wiki/Switch
- http://johnny-five.io/api/switch/

[2015-05-08 20:58] #197 closed

[2015-05-08 23:28] mMerlin opened #786 "invalid package dependencies reported by npm list"
Is it just my environment, or is this a general issue getting npm to install the serialport package as part of a johnny-five dependency?

Environment info:
$ uname -srvpio
Linux 3.19.5-200.fc21.x86_64 #1 SMP Mon Apr 20 19:51:56 UTC 2015 x86_64 x86_64 GNU/Linux
$ node -v
v0.10.38
$ npm -v
2.7.6
$ npm list johnny-five
johnny-five@0.8.73

While trying to discover the differences in our environments f

[2015-05-08 23:58] rwaldron commented on #786
Maybe there's a permissions issue? I've never had/seen this issue :(

[2015-05-08 23:59] rwaldron commented on #380
I hate to pass the buck, but if you want to get unblocked, the EasyDriver or the Pololu Drivers work great ;)

[2015-05-09 00:17] mMerlin commented on #786
Maybe.  Doesn't really look like it though:
[code]

[2015-05-09 00:19] rwaldron commented on #786
@voodootikigod I need help with this

[2015-05-09 00:28] mMerlin commented on #786
I just dropped https://github.com/voodootikigod/node-serialport/issues/523 for this in the node-serialport issues, linked back here.

If you have not seen this, what version of node-pre-gyp is shown with npm list node-pre-gyp after npm install johnny-five?  What is your base environment?  I am using a laptop with Fedora 21 64 bit.  Recent rebuild, so there is not a lot of 'extras' on there yet.

[2015-05-09 10:20] Darkein opened #787 "this.io.pulsein undefined when using proximity"
Hi,
i'm a new j5 user, and i really love this library.

unfortunately i encounter an error when i'm tring to use the proximity api.
I'm on windows 8, using node11 x86. I'm triing to play with the hc-sr04 sensor on an arduino mega with custom firmata.

          this.io.pulseIn(settings, function(microseconds) {
                  ^
TypeError: undefined is not a function
    at Proximity.<anonymous>

[2015-05-09 13:21] Senade opened #788 "Pulse Sensor Node.js Implementation"
Hey,

I have written javascript code using the the same algorithm so that the Pulse Sensor Amped (https://github.com/WorldFamousElectronics/PulseSensor_Amped_Arduino/tree/master/PulseSensorAmped_Arduino_1dot4) can be used with node.js. However I am getting inaccurate values for BPM. What might the issue be?

[code]

[2015-05-09 13:22] Senade commented on #328
Hey,

Could you guys have a look at a similar problem that I'm having?

https://github.com/rwaldron/johnny-five/issues/788

[2015-05-09 14:57] voodootikigod commented on #786
I would suggest closing this here - it is 1) not a j5 issue and 2) not even a serialport issue. Its npm not abiding by the package specification.

[2015-05-09 17:14] soundanalogous commented on #788
This would sort of calculation would be better handled on the microcontroller itself. There is interest in adding such functionality to the Firmata protocol: https://github.com/firmata/protocol/issues/31.

[2015-05-09 17:15] frxnz commented on #787
It looks like you may have mismatched versions of Johnny-Five and firmata. `pulseIn` was recently changed to `pingRead` in https://github.com/jgautier/firmata/commit/bfc1e1ea1286e2e0f4025f67c87ce42aeb344dbf

Updating Johnny-Five should resolve the issue, `Proximity` was updated in v0.8.74. Do you know what version you're running?

[2015-05-09 17:15] rwaldron commented on #787
Sorry about that, I had accidentally published Firmata with the pulseIn=>pingRead changes.

This is fixed with:

- https://github.com/rwaldron/johnny-five/commit/c5de5cdacb6e3b0b83c9efbbe3b9113e056a5204
- https://github.com/jgautier/firmata/commit/bfc1e1ea1286e2e0f4025f67c87ce42aeb344dbf

- johnny-five@0.8.74
- firmata@0.5.0

All you need to do is `npm uninstall johnny-five && npm install johnny-f

[2015-05-09 17:16] rwaldron commented on #787
@frxnz naw, it was my fault. I had accidentally `npm publish`ed Firmata.js :|

[2015-05-09 17:17] rwaldron commented on #786
Closing. Thanks everyone

[2015-05-09 17:17] #786 closed

[2015-05-09 17:20] frxnz commented on #787
@rwaldron Aha, just noticed 0.8.74 came after this issue. I thought `pingRead` had landed in J5 yesterday. Carry on.

[2015-05-09 17:26] rwaldron commented on #787
You were totally right, there was a mismatch—but it was my fault :D

[2015-05-09 17:42] Senade commented on #788
There's no other way around it presently?

[2015-05-09 17:43] soundanalogous commented on #788
It won't be as accurate.

[2015-05-10 09:45] Darkein commented on #787
Thank you for correcting the problem so fast! I'll try again this afternoon.

[2015-05-10 13:43] rwaldron commented on #787
Awesome, and sorry about the bug. Once you confirm that this works correctly please close the issue. Thanks again!

[2015-05-10 19:09] Darkein commented on #787
Works for me, thanks!

[2015-05-10 19:09] #787 closed

[2015-05-11 20:31] LegendaryTom commented on #779
@mMerlin I tried the newer version of standard firmata over the weekend and it seems to still be experiencing the same issue:
[code]

@rwaldon I was aware that there are j5 plugins for many different boards.  But somehow I passed over the fact that there is one for the Yun.  I will definitely try this out.

[2015-05-11 21:03] rwaldron commented on #779
Just make sure that you're running the right OS (LininoOS). I'm almost scared to recommend it because of the frustration I experienced. Maybe we should just press on with your current set up.

For now, let's strip away the `Sensor` class:

[code]

[2015-05-11 22:19] haydockjp commented on #644
Hi,

I noticed that if I install the npm package (npm install johnny-five) I get "expander.js" in the lib and the eg folder.  It seems to be an interface for MCP23017.  I can't find it in the Git Hub repository.

If I add this to the johnny-five.js file, I can get an example to work.
    Expander: require("./expander"),

Is this okay to use?

Jon

[2015-05-11 22:44] mMerlin commented on #786
Assuming this was caused by npm, it appears that the latest update for the registry fixed the problem.  A simple
[code]
now (properly) install/use node-pre-gyp@0.6.7
Comparing the before and after (npm package registry) generated node_modules/serialport/package.json files, the used version of npm changed from 2.5.1 to 2.8.3.  The version in my environment was 2.7.6, which (after discovering above)

[2015-05-11 23:00] mMerlin commented on #788
Something to consider.  The current Sensor class does some filtering to reduce noise in analog signals.  I do not know if that could be affecting your results or not.  see the median function lib/sensor.js@104

Also the "read" event has been deprecated in favour of a "data" event.

[2015-05-12 14:05] rwaldron commented on #644
It's a secret!

I'm kidding ;)

I have this problem where I always forget that npm will publish all the files that aren't "npmignored". So, as you've discovered, I'm working on a new class that will allow users to take advantage of io expanders and allow Johnny-Five to use io expanders in controller definitions. Since you're interested, I encourage you to play with the class, but with the understa

[2015-05-12 14:08] rwaldron commented on #788
Yep. I also have a plan to allow this filtering to be customized. It would still default to the present filtering, but would allow a custom filter to override.

[2015-05-12 14:25] haydockjp commented on #644
I'll have a play. I have a few other components to master for my project
too.

I assume you have seen the Ada Fruit Arduino library?

Jon
On May 12, 2015 7:05 AM, "Rick Waldron" <notifications@github.com> wrote:

[2015-05-12 18:41] rwaldron commented on #644
I'm using this as a baseline for the implementation, it's not really a "port" since the sync reads aren't possible, but I've found what I hope is a smart strategy. I've made a bunch of changes to this today, so please don't fall in love yet ;)

[2015-05-12 19:30] mMerlin commented on #788
Care to share the plan?  I have some ideas that have been bouncing around in my head as well.  Been planning a post to get thoughts before writing any code.
* flag to limit the number of previous entries to keep in the queue
  * unshift when over limit after push
* provide callback hook to allow main program to provide custom processing
  * looks like part of your plan
* expose the samples array (

[2015-05-12 19:46] rwaldron commented on #788
Instead of "I also have a plan to allow this filtering to be customized" I should've said "I long standing desire to allow this filtering to be customized".

Yeah, I guess I never considered the 10 minute period case.

Based on your ideas above, here's a rough sketch of what I'd like the exposed API to look like:

[code]

[2015-05-12 22:58] mMerlin commented on #788
Any changes in the v0.9.0 queue for sensor?

I have some ideas to extend that api.  I'll flesh it out and post as a new issue before coding any of that.  Above looks like a workable base.

Concept: (for johnny-five in general).  Should it be valid to modify the sampling configuration dynamically, or only during instance creation?

[2015-05-12 23:57] rwaldron commented on #788
I wouldn't want it to be such that `sensor.sampling.size` were a plain property that could be assigned to, but if it were presented like this:

[code]

That should update some private state (a simple example of how private state is maintained: [Relay](https://github.com/rwaldron/johnny-five/blob/master/lib/relay.js#L7-L59)). The private state would be accessed by the interval, so once `sampling(..

[2015-05-13 02:34] mMerlin commented on #788
I looked at earlier (not closely) some of the existing private state handling.  Private data plus getter function(s), and single setter function for the whole sample block.  Works for me.

[2015-05-13 12:42] Senade commented on #788
Guys, so the bottomline is that pulse sensor cant be implemented as of yet right?

[2015-05-13 12:42] Senade commented on #788
Guys, so the bottomline is that the pulse sensor cant be implemented as of now right?

[2015-05-13 13:17] rwaldron commented on #788
This might be a great candidate for our I2C "component backpack" project. cc @ajfisher

[2015-05-14 00:44] soundanalogous commented on #788
I created a Firmata wrapper for the PulseSensorAmp a few years ago... had totally forgotten about it. I could possibly add it to configurable firmata per the new device architecture. This would add pulse sensor support for Arduino compatible boards, but not for boards like raspberry pi.

[2015-05-14 00:47] soundanalogous commented on #788
One thing to think about is if both methods were supported (i2c component backpack and Firmata device wrapper), could the 2 version coexist in johnny-five? I'd assume you'd have a different controller for each version.

[2015-05-14 01:17] ajfisher commented on #788
@soundanalogous With ping this is the approach I've taken, either a dedicated firmata that can handle it (the one that uses pulsein) or an i2c component backpack. Different controllers for each one and you set that at the point where you create the object.

Yep I think pushing this down to the micro is going to give you a better result.

@Senade If you're interested in doing this, hop over to http

[2015-05-14 09:27] Senade commented on #788
@ajfisher Hey, I'm designing an advanced wheelchair prototype for my final undergrad project, and real-time health tracking is one of the features. So yes, I am interested. Can you guide me through the process please?

[2015-05-14 13:29] Abv204 opened #791 "Unable to control ESCs on Intel Edison"
Hi, I am working on a project using Intel Edison and johnny-five to control a tricopter. The thing is the board is connected and initialized and then I get a type error something like this
 TypeError: Object #Galileo has no method 'servoConfig'
    at ESC.Controllers.DEFAULT.initialize.value (/home/edison/node_modules/johnny-five/lib/esc.js:72:17)
    at new ESC (/home/edison/node_modules/johnny-f

[2015-05-14 14:30] rwaldron commented on #791
Thanks for the report, I'll get this fixed immediately

[2015-05-14 15:56] YesPapa commented on #420
Hello,

What about this issue? Is it possible to use the johnny-five library with a camera?

Thank you.

[2015-05-14 16:49] aabm00 opened #792 "Do Arduino Yun need LininoIO and Ideino to upload Johnny-five files?"
Hello
I'm new programming with Arduino. I got an Arduino Yun, and I want to use it to read from sensors and send the data via wifi to a node server using johnny-five. I started to configure the board but I have some doubts that I would appreciate some help.
This is the process that I have followed to install johnny-five following the instruction in [nino-io] (https://github.com/rwaldron/nino-io):

[2015-05-14 16:57] rwaldron commented on #792
Let's keep this over [here](https://github.com/rwaldron/nino-io/issues/4) :)

[2015-05-14 16:57] #792 closed

[2015-05-14 17:05] rwaldron commented on #791
Please update Galileo-IO (or Edison-IO) to v0.8.14 and confirm that the issue is resolved—thanks!

[2015-05-14 17:06] rwaldron commented on #420
Johnny-Five itself does not support a generic camera, as it's out of scope for the framework. I recommend using [node-opencv](https://github.com/peterbraden/node-opencv) along with Johnny-Five to create robots with camera capabilities. I'm building a rover that uses an ffmpeg stream via websockets to the browser display: https://www.youtube.com/watch?v=xr7hjaZHKFU

[2015-05-14 17:12] rwaldron commented on #788
Yep. We just give them different "controller" names and definitions, then they sit side by side :)

[2015-05-14 19:06] Abv204 commented on #791
Failed at the galileo-io@0.8.14 postinstall script 'node scripts/postinstall'.
npm ERR! This is most likely a problem with the galileo-io package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node scripts/postinstall

This is the error I get when trying to update.

[2015-05-14 19:39] mMerlin opened #793 "validating analog pin number"
I am writing some unit tests for a johnny-five project.  The project includes a user modifiable configuration file with details like which pin a sensor is connected to.  I want the unit test to sanity check the properties exported by the configuration.

Is there an simple way to check that an entry is a valid analog pin number, in a board agnostic way?

Looking at some of the existing test code, I

[2015-05-14 21:05] LegendaryTom commented on #779
I ran that code from Tue, 12 May 2015 22:45:00 to Wed, 13 May 2015 21:00.  I kept the terminal window open on my desktop and it received just over 4 million lines of output.  So I just did some skimming of the output until I found a place with a gap.

[code]
Throughout most of the log, the difference in time between each line of output was about 20ms.  However, for the 750ms period following the g

[2015-05-14 21:57] mMerlin commented on #779
What environment are you running node.js on?  That symptom and description indicate (to me) that something outside of johnny-five and node.js 'took over' the system for a short time, then when it released, the queued firmata analogRead did some catchup.

750 ms / 5 ms is 150 entries.  That gap is 2332 ms.  Plus the 750 ms 'speedup' time is 3082 ms.  At 20ms separation, that would be 154 entries.

[2015-05-14 22:18] YesPapa commented on #420
Ok. Thank you.

[2015-05-14 22:26] soundanalogous commented on #420
I have serious doubts that SoftwareSerial support in Firmata would support a camera. It would be better handled by wrapping the Adafruit library and then requesting the buffer from Firmata than trying to relay the buffer data through SoftwareSerial.

[2015-05-14 22:39] rwaldron commented on #791
I'm not sure why it would error like that, especially if you'd previously installed it with no issues. I'll take a closer look and report back what I find.

[2015-05-14 22:44] rwaldron commented on #791
Please run:

[code]

And post the output—thanks!

[2015-05-14 23:07] rwaldron commented on #793
`MockFirmata` is "board agnostic" as any IO Plugin, but all IO Plugins must implement instance properties called `pins` and `analogPins`: https://github.com/rwaldron/io-plugins#minimum-plugin-class-requirements

I recommend using https://github.com/achingbrain/board-io to create testable "board" objects.

[2015-05-14 23:30] rwaldron commented on #791
I think I know what this is. If you've flashed your board with the 2.1 image, Intel broke the native bindings (missing some header file). You'll need to flash with 2.0 and reinstall johnny-five and galileo-io. I'm sorry that's such a pain in the ass—if I worked at Intel, I could do something about it, but I don't, so I can't. Here's a link to the page that has 2.0 download: https://software.intel.

[2015-05-15 06:02] mMerlin commented on #793
That looks a bit 'involved' to get working.  I've added a link reference to this thread in the unit test comments.  For now (until I run into a valid case that fails the test, or invalid case that pass), I'm just going to use a regex test:
[code]
That should handle up to 10 analog pins.  Since the physical board is not know when running the test, even the full suggested implementation would have p

[2015-05-15 06:02] #793 closed

[2015-05-15 14:06] scottgonzalez opened #794 "Led doesn't work with analog pins"
Analog pins have their mode set to OUTPUT, which results in `digitalWrite()` being used, which then throws an error.

[2015-05-15 15:16] danyocom commented on #791
What header files are missing?

[2015-05-15 15:31] ottofrisch opened #795 "Device or Firmware Error"
Hi,
I've got the same issue using Arduino Mega 2560 on Win7 x64 and I've correctly uploaded StandardFirmata on the board via Arduino IDE.

I'm testing johnny-five+serialport libs. Everything's ok with something like this:
<pre>board = new j5.Board( { port: 'COM3' } )</pre>
(output)
<pre>1426735984300 Connected COM4
1426735984310 Repl Initialized</pre>
But with this:
<pre>board = new j5.Board ( { p

[2015-05-15 15:55] Abv204 commented on #791
I'll switch back to the old image and let you know if it works.
Thank you.

[2015-05-15 17:52] soundanalogous commented on #795
The baud rate must be 57600.

[2015-05-15 18:23] rwaldron commented on #795
Thanks @soundanalogous

[2015-05-15 18:23] #795 closed

[2015-05-15 18:32] rwaldron commented on #793
It's really not, I promise :/

I'm not really sure what I can do, because I don't really understand the problem case that you're trying to solve—and trust me, I want to help :)

The physical board will report its digital and analog pins when Johnny-Five connects to it, so we mock result of that capabilities report with the pin array stubs.

[2015-05-15 21:16] LegendaryTom commented on #779
@mMerlin That's a good observation.  Based on that count, it looks like no callbacks were missed by ```analogRead```.  They were just delayed while the system was busy.

Remember in my first post, I'm trying to count the number of transitions from low->high and high->low that occur.  Sometimes after a gap the code counts many pulses.  So the total number of pulses counted basically stays the same.

[2015-05-15 22:15] mMerlin commented on #793
I guess I left some 'detail's of the context out.  That's what happens when you already know enough about the environment to be dangerous, but not enough to know what might be important, while looking for details in a specific area.

The project is designed to be generic / reusable, so no particular environment assumptions are *safe*.  The data that drives some of the test cases comes from a confi

[2015-05-15 23:00] mMerlin commented on #779
Now you are outside where I can make assumptions.  My high level understanding of the process, is that a Firmata program is run on the Arduino side.  On the linux / node.js / johnny-five side, firmata is also being run.  Commands and responses are being sent back and forth 'as needed'.  Specifically for analog sensors, that involves a continuous stream of data reads.  I suspect, but do now know, t

[2015-05-16 23:52] #794 closed

[2015-05-17 12:33] scottgonzalez commented on #794
Thanks. I've confirmed that this is working for me now.

[2015-05-17 14:26] Abv204 commented on #791
I re-flashed the edison to the 2.0 image and re-installed johnny-five and galileo-io. The modules work fine but I get an error saying,
illegal arguments for construction of _exports_PWM

[2015-05-17 14:28] Abv204 commented on #791
I have tried changing the PWM swizzers on the board and still nothing and also apparently the board has only four PWM pins despite there being six printed on it.

[2015-05-17 16:33] scottgonzalez commented on #742
Since `Led.RGB` is documented as having `red`, `green`, and `blue` properties which contain `Led` instances, how do you want to handle devices like BlinkM where you can't use a composite of multiple `Led` instances to construct the `Led.RGB` instance? Should we just drop those properties from the public API and update the documentation for the shape of the component?

[2015-05-17 21:15] rwaldron commented on #791
That's correct. The Edison can only handle 4 PWMs at a time, so the native bindings have hard-coded a set of allowed PWM pins internally. There is nothing this project can do to change that. This means programs may only use:

- [3](https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_edison_fab_c.c#L1164-L1165)
- [5](https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_

[2015-05-17 21:17] rwaldron commented on #742
TBH...

Sounds like what should've been done the first time. So yeah, do this.

[2015-05-18 05:03] vmadman opened #796 "Sensor Frequency"
I am attempting to sample a sensor at several thousand hertz (up to 40 kHz), however, the "freq" parameter, given that it is in ms, seems to be restrictive of reads to 1kHz.

Is there a known workaround to increase sampling beyond 1kHz?

Similarly, in my tests with `freq: 1`, I only saw a resolution of 64-65 hz.. or about 15ms.  Because it was suspiciously consistent I am assuming that it has some

[2015-05-18 14:34] rwaldron commented on #796
Sorry about this poorly named parameter. I have a plan for correcting this in a future version.

No, and that's an unfortunate drawback to using JavaScript.

You are exactly correct. There are two mechanisms in play here:

- StandardFirmata's sample interval limit: 10ms
- JavaScript runtime capabilities, which is at best 1kHz (if the program is doing only _very_ minimal work each execution turn).

[2015-05-18 15:40] Abv204 commented on #791
Is there a way to run the esc-keypress code without initailizing Repl, so that the motors switch on once the program runs?

[2015-05-18 15:55] michael-joseph-payne commented on #791
Hi rwaldron - there are several Intel folks who have seen this thread and would like to lock down the problem.  Can you describe what header files are impacting this use case?

[2015-05-18 17:50] rwaldron commented on #791
@Abv204

The "esc-keypress" code is just a fun demo ;) It sounds like you want something simpler? Try this:

[code]

Or more simply...

[code]

And when you're ready to run the program silently, add `repl: false, debug: false`:

[code]

--------

@michael-joseph-payne

I only know what I learned at the NYC Intel IoT Roadshow event. I was a judge at the event and was I was told that any teams that

[2015-05-18 17:54] michael-joseph-payne commented on #791
@rwaldron - no problem, that's enough to get us started checking a few things

[2015-05-18 17:58] rwaldron commented on #791
@michael-joseph-payne thanks for the attention to this :)

[2015-05-18 23:24] rwaldron commented on #687
This is done!

[2015-05-18 23:24] #687 closed

[2015-05-18 23:25] rwaldron commented on #644
I pushed more to the expander branch!

[2015-05-18 23:29] rwaldron commented on #550
Forgot to close this when I landed the pin tracking code

[2015-05-18 23:29] #550 closed

[2015-05-18 23:29] haydockjp commented on #644
I'll have a play when I can. I was concentrating on the ht16k33. Just
started trying to understand the mcp23017 last night.

Thanks
Jon
On May 18, 2015 4:25 PM, "Rick Waldron" <notifications@github.com> wrote:

[2015-05-18 23:29] #486 closed

[2015-05-18 23:30] #412 closed

[2015-05-18 23:31] rwaldron commented on #327
Support landed!

[2015-05-18 23:31] #327 closed

[2015-05-18 23:32] rwaldron commented on #181
@scottgonzalez and I are in the process of attempting to support as much of the Esplora as possible—stay tuned!

[2015-05-18 23:34] rwaldron commented on #727
Is this updated?

[2015-05-18 23:34] rwaldron commented on #711
It's been months and this is still happening :/

[2015-05-19 01:17] 190n opened #797 "Installation failure on Linux"
I'm trying to install Johnny Five to use with my Arduino Uno on Linux (Ubuntu 14.10). The installation fails. I'm using io.js 2.0.1 and npm 2.9.1.

Here is the output:
[code]

[2015-05-19 01:27] dtex commented on #727
I've updated the wiki

[2015-05-19 01:27] #727 closed

[2015-05-19 01:46] scottgonzalez commented on #181
This seems to be working (based on the multiplexer logic from #785):

[code]

[2015-05-19 08:03] taha commented on #327
@rwaldron Awesome!

[2015-05-19 10:48] vmadman commented on #796
Ok, I've begun on getting a bit more creative on the C side.. so wish me luck, lol.

There might be better names than `freq` .. but its not a horrible name.  I immediately knew what its purpose was and its proper, I think.

"Check that sensor!" ... "How frequently?" ... "Every 100 milliseconds!"

Works for me :)

[2015-05-19 12:09] rwaldron commented on #796
Wow, that's literally how I came to name it—no kidding!

[2015-05-19 14:19] rwaldron commented on #797
The failure is caused by serialport

cc @voodootikigod

[2015-05-19 15:02] vmadman commented on #796
Although "frequency", at least in electronics, is often used to refer to a particular attribute of a wave.. we shouldn't forget that it was derived from existing language.  Frequency actually refers to "how often".

So, if people give you a hard time about the variable name... they just don't know English :)  I understood your meaning right away and I think you chose the right word.  It's intuitiv

[2015-05-19 15:16] rwaldron commented on #181
Cool, we'll need to move the Multiplexer into its own module to be shared by joystick and temperature.

[2015-05-19 15:32] scottgonzalez commented on #181
Yup, I was going to look into this once I finish the `Led.RGB` refactor. I plan to do a bigger review of how controllers are currently used to see where we can DRY out some of the code for #762. I can look into adding an Esplora controller for the `temperature` component once that work is done.

[2015-05-19 15:58] Abv204 commented on #791
I wanted to implement the keypress module into the project, I got the escs working with the addition to the code you mentioned.
Thanks for all the help :-).

[2015-05-19 15:58] #791 closed

[2015-05-19 21:27] voodootikigod commented on #797
Use node.

[2015-05-20 01:42] 190n commented on #797
Okay, it works now.

Do you know why it doesn't work on io.js?

[2015-05-20 01:42] #797 closed

[2015-05-20 01:53] bryan-m-hughes commented on #797
io.js 2 introduced some breaking changes for native modules

[2015-05-20 17:46] rwaldron commented on #797
Ugh. Good to know.

[2015-05-20 17:47] voodootikigod commented on #797
yea... that... its a fun time!

*Chris Williams*

@voodootikigod <http://twitter.com/voodootikigod> | GitHub
<http://github.com/voodootikigod>

*The things I make that you should check out:*
SaferAging <http://www.saferaging.com/> | JSConf <http://jsconf.com/> |
RobotsConf <http://robotsconf.com/> | RobotsWeekly
<http://robotsweekly.com/>

Help me end the negativity on the internet, share this
<ht

[2015-05-20 17:47] rwaldron commented on #791
That's great! I look forward to seeing your work when you're ready :)

[2015-05-21 18:16] zanechua commented on #112
Any updates on this?

[2015-05-22 18:04] YesPapa opened #800 "Proximity - HC-SR04 not working"
Hi,

I have an issue when I try to use a proximity - HC-SR04 sensor when I try to run the johnny-five's default script.

Here it is the issue:
(node) warning: possible EventEmitter memory leak detected. 11 ping-read-2 listeners added. Use emitter.setMaxListeners() to increase limit.

I cannot see where is the problem.

Perhaps somebody can help me.

Thank you.

[2015-05-22 18:46] scottgonzalez commented on #800
This usually happens when the wiring is not correct or the physical component isn't working.

[2015-05-22 19:05] rwaldron commented on #800
@YesPapa In addition to @scottgonzalez's tip, please make sure that you're using PingFirmata on the actual board: http://johnny-five.io/api/proximity/#pingfirmata

Please close when you've confirmed that the issue is resolved—thanks!

[2015-05-22 19:49] YesPapa commented on #800
Nope. I'm using StandardFirmata. So I must have a try with PingFirmata.

I come as soon as I have test it.

Thank you @rwaldron and @scottgonzalez

[2015-05-23 01:40] soundanalogous commented on #112
I'm still working out the details for 3rd party contributed libraries. Once that is settled I can add DHT11/22 support to Firmata.

[2015-05-23 11:25] YesPapa commented on #800
Thank you very much. It is working like a charm. And sorry not to see the right page on the website.

[2015-05-23 14:28] rwaldron commented on #800
That's great news!

No apologies necessary ;) How can we make that information easier to find or more obvious?

[2015-05-23 15:03] YesPapa commented on #800
Perhaps you can put a warning at the top of the page "Warning specific firmata is needed: PingFirmata".

In a better english ;-)

I think, it is the same thing for the "component classes". I would be better to put it at the top. when I first read it, I did not pay attention to it. Especially when the page is long.

You make a great job !

[2015-05-23 17:00] rudemex opened #801 "lcd on ready function not working"
Hi, the function on ready not working.

i have this code

<pre><code>
var five = require("johnny-five"), lcd, board;

board = new five.Board({
  port: "/dev/cu.usbmodemfa141"
});

board.on("ready", function() {
	console.log("Placa lista.");

        lcd = new five.LCD({
		pins: [7, 8, 9, 10, 11, 12],
		rows: 4,
		cols: 20,
		backlight: 10,
	});

	lcd.on("ready", function(){
		console.log("LCD its

[2015-05-23 17:26] fivdi commented on #801
In newer versions of Johnny-Five, the LCD class doesn't emit a `ready` event. AFAIK it did in the past. There are some usage examples [here](https://github.com/rwaldron/johnny-five/wiki/LCD).

[2015-05-23 17:54] rwaldron commented on #801
@fivdi yep, the ready event has been eliminated.

[2015-05-23 18:08] rudemex commented on #801
thanks!

[2015-05-23 22:14] rudemex commented on #801
ok, but in the examples it is used. (sorry, my english is not very good)

http://johnny-five.io/examples/lcd/

[2015-05-23 22:27] fivdi commented on #801
Hmm, it looks like the documentation needs to be updated. The [usage](https://github.com/rwaldron/johnny-five/wiki/LCD#usage) section of the wiki appears to be up to date. @rudemex is your LCD working now?

[2015-05-23 22:31] rudemex commented on #801
jajaja yes, they should update the documentation and examples. If the LCD is working, only he had this doubt. Thanks.

[2015-05-23 22:36] rudemex opened #802 "Microphone"
There are some example of how to implement this shield ?

[2015-05-23 22:46] fivdi commented on #802
A microphone with an analog output? If so, see [here](https://github.com/rwaldron/johnny-five/issues/264).

[2015-05-23 22:47] rwaldron commented on #802
@rudemex secondarily to @fivdi's advice: what shield?

[2015-05-23 22:48] rwaldron commented on #801
Yep, needs updating. Sorry about that!

[2015-05-23 22:55] rwaldron commented on #801
I've updated all the examples—thanks for the heads up! http://johnny-five.io/examples/lcd/

[2015-05-23 22:55] #801 closed

[2015-05-23 22:59] rudemex commented on #802
i have this shield http://articulo.mercadolibre.com.ar/MLA-552413873-modulo-sensor-de-sonido-microfono-regulable-arduino-_JM

[2015-05-23 23:11] rwaldron commented on #802
Ok, great, then exactly what @fivdi suggested should work just fine :)

[2015-05-23 23:13] rudemex commented on #802
great, There is a library of voice recognition ? I used the program bitvoicer but with Arduino code.

thanks

[2015-05-23 23:20] fivdi commented on #802
The [YL-56 microphone](http://www.wayengineer.com/sound-sensor-module-p-1051.html#.VWEIDqHyM_s) has a digital output.

[2015-05-23 23:23] rwaldron commented on #802
No, there is no voice recognition—you'd have to pass the value readings from the sensor to whatever processing library is available. You might try porting μSpeech https://github.com/arjo129/uSpeech

[2015-05-23 23:23] rudemex commented on #802
yes, i need recognition words, used this librery.

Example
http://www.instructables.com/id/Speech-Recognition-with-BitVoicer-and-Arduino/

[2015-05-23 23:28] rwaldron commented on #264
https://github.com/rwaldron/johnny-five/commit/5579d12c61842671bac9709a7b02b61d31dc9ba2

[2015-05-23 23:28] rwaldron commented on #802
https://github.com/rwaldron/johnny-five/commit/5579d12c61842671bac9709a7b02b61d31dc9ba2

[2015-05-23 23:28] rudemex commented on #802
thanks @rwaldron, @fivdi

[2015-05-23 23:28] rwaldron commented on #802
@rudemex no problem :)

[2015-05-23 23:29] rwaldron commented on #802
Also: http://johnny-five.io/examples/microphone/

[2015-05-23 23:30] rudemex commented on #802
as we say in Argentina...

Gracias Idolos! jajajaja

[2015-05-24 00:01] fivdi commented on #802
If the microphone being uses is the [YL-56](http://www.wayengineer.com/sound-sensor-module-p-1051.html#.VWEUQaHyM_t), which appears to be the case, a [digital-sensor](http://johnny-five.io/api/sensor/#digital-sensor) can also be used.

[2015-05-24 00:04] taktran commented on #264
Thanks @rwaldron!

[2015-05-24 00:15] scottgonzalez commented on #782
This is due to the controller using a special value for fully on and fully off. See https://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library/blob/8846078c6198314aa610213bcd0ce8a0a05a7bca/Adafruit_PWMServoDriver.cpp#L105-L115

I've verified that using these values works for me. I just ordered some common cathode RGB LEDs to test with, so I'll send a patch as soon as those come (should be here

[2015-05-24 02:59] rwaldron commented on #802
@fivdi good eye on that one—I wonder if there is a fritzing for that component? I'm mobile so searching isn't in the cards for me

[2015-05-24 08:27] fivdi commented on #802
I can't find a fritzing for that specific component.

[2015-05-24 19:49] rudemex commented on #802
@fivdi This component has the same connection, working very good.

L -------------------------------> R
OUT(A0) - GND - VCC(3.3v)

[2015-05-24 19:58] fivdi commented on #802
So you have it working :) That's good news.
And the output from the microphone is analog, not digital?

[2015-05-24 20:13] rudemex commented on #802
i dont now jajajaja its working :P

https://instagram.com/p/3E95s1u41z/?taken-by=rudemex

[2015-05-24 22:53] rudemex opened #804 "RFID-RC522"
Hi, i have this shield http://articulo.mercadolibre.com.ar/MLA-546532441-modulo-rfid-rc522-1356mhz-tarjeta-llavero-tag-arduino-_JM#redirectedFromParent

There are some example to read and write?

Thanks

[2015-05-25 01:28] rwaldron commented on #802
Wow, that's awesome! Will share the code for this?

[2015-05-25 01:33] fivdi commented on #804
The contactless reader/writer looks like it has an NXP chip, but the picture is blurred and the numbers on the chip are not really visible. Most (all?) contactless reader/writer chips from NXP support I2C, SPI, and UART. On this board, only the SPI signals appear to be available.

On some boards like the [Adafruit PN532 RFID/NFC Breakout and Shield](https://learn.adafruit.com/adafruit-pn532-rfid-n

[2015-05-25 01:52] rudemex commented on #802
yes, of course. I have to migrate code to js. but the orginal code is this. http://www.instructables.com/id/Speech-Recognition-with-BitVoicer-and-Arduino/

a software (http://www.bitsophia.com/BitVoicer.aspx only S.O. WIN) is needed to set the words to recognize and execute the functions.

I hope to migrate , you can do pretty amazing things

[2015-05-25 01:54] rudemex commented on #804
buuu :(  so bad jajaja thanks!

[2015-05-25 16:44] bartmichu opened #805 "Ubuntu Core"
Hi, has anyone tried j5 with that new Ubuntu Core thingy?

[2015-05-25 19:55] rudemex opened #806 "LED RGB fade to color"
I have a led strip 5050, as to fade from color to color ?

if I set each LED I can make the transition , but it is not led strip.

Thanks

[2015-05-25 21:57] rwaldron commented on #805
Not that I know of, but I also don't know much about it :)

[2015-05-25 21:57] rwaldron commented on #806
cc @ajfisher & @frxnz who know lot's of things about LED strips

[2015-05-25 23:14] ajfisher commented on #806
@rudemex Do you have a circuit diagram and some code to show what is happening at the moment?

[2015-05-26 05:34] bartmichu commented on #805
It's being positioned as IoT operating system:
http://www.ubuntu.com/things

Apparently it works on BBB and RPi. I'm just trying it out in a virtual machine and I'm not even sure if Node.js is supported :/

[2015-05-26 15:11] rwaldron commented on #805
Cool! Keep posting your progress here :)

cc @julianduque @beriberikix @bryan-m-hughes

[2015-05-26 17:20] bryan-m-hughes commented on #805
I haven't messed with it myself yet, but I've heard that it's kinda unstable on the RPi 2 at the moment. There is also https://github.com/bryan-m-hughes/raspi-io/issues/24.

I'm really curious to follow it, though, I think it could be a pretty major boon in terms of the RPi ecosystem.

[2015-05-26 17:26] beriberikix commented on #805
Definitely keep us posted! It looks like the RPi build is [not official](http://developer.ubuntu.com/en/snappy/start/#snappy-raspi2) yet but has some legs. Might need to get me an RPI2 now :)

[2015-05-28 05:45] haydockjp commented on #644
Hey, Thanks for the update.

What you have works.  For what I am trying to do, there are a few more pieces to the puzzle (assuming I am doing it correctly :0) )

I have four MCP23017 expanders and I want to read the GPIO for A and B on an interrupt and quickly workout the current state of all the pins from the one read.

I saw how you were using i2cRead and i2cWrite, and this is what I am currentl

[2015-05-29 11:08] framlin commented on #465
Servus,
I have expanded disk space and installed node on a yun as described on the arduino-site.
After that I did:
root@Arduino:~/src/j5tst# npm install nino-io
npm WARN package.json nino-io@0.2.0--dev-001 No README data
FATAL ERROR: Evacuation Allocation failed - process out of memory
Aborted

What is the reason for this error and how can I avoid it?

[2015-05-29 11:44] fivdi commented on #465
It looks like `npm install nino-io` was called from the home directory. Try running `npm install nino-io` in the `/opt` directory as described [here](https://github.com/rwaldron/nino-io#lininoos).

[2015-05-29 12:14] framlin commented on #465
@fivdi thanks,
meanwhile I have done the procedure described on the linino-wiki instead of that on arduino.cc to install node.
npm install nino-io johnny-five works now, but I run into the same error as frxnz
  pwm:
   { ENA: true,
     DEF: 'P11',
     TYP: 'pwm',
     MAP: 'D11',
     BIT: '16',
     NUM: '3',
     TIM: { DEF: 'T3', SET: false, USE: [], SHARED: true },
     MAX: 32768000,
     R

[2015-05-29 13:43] fivdi commented on #465
I have a Linino One, not a Yun. The file `/sys/bus/iio/devices/iio:device0/enable` exists on my system, but apparently not on your, correct?

Did you upgrade your Arduino Yun to LininoIO after upgrading to Linino OS?

I had similar issues of missing files on the Linino One after installing a fresh Linino OS but leaving out the LininoIO step. For example `/dev/i2c-0` was missing. Is `/dev/i2c-0` mi

[2015-05-29 14:06] Resseguie opened #808 "Add NodeBoats motor driver to 3-pin example"
It would be nice to have an additional breadboard for the specific Sparkfun motor driver that is used by nodeboats so we can point attendees to a single page for help getting started.

[2015-05-29 15:36] Resseguie opened #809 "Consider Octavian for piezo frequency management"
As presented at JSConf2015
https://github.com/stevekinney/octavian

By @stevekinney

[2015-05-29 17:01] stevekinney commented on #809
I'm willing to work on making whatever changes/features you all need to make your lives easier. Let me know.

[2015-05-30 21:33] dtex opened #810 "Board ready event does not fire in multi-board configuration"
Reported by @sharp6

Confirmed by @dtex using two Unos. Neither board's ready even is emitted... Actually, I don't know that. I do know that the listener added on https://github.com/rwaldron/johnny-five/blob/master/lib/board.js#L997 is added but never triggered.

[2015-05-30 22:23] mize opened #811 "Feature idea: RGB LED color correction"
Caveat: I'm extremely new to hardware.

Tinkering with an RGB LED, I noticed I got mixed colors that were different from what I expected based on hex values passed via the color method. So I read some background info on color variations:
- [Understand RGB LED mixing ratios to realize optimal color in signs and displays](http://www.ledsmagazine.com/articles/print/volume-10/issue-6/features/understa

[2015-06-01 14:32] #742 closed

[2015-06-01 14:32] #810 closed

[2015-06-01 18:58] rwaldron opened #815 "Piezo update to controller"
Suppport for PCA9685

https://github.com/Reinbert/pca9685/blob/master/examples/piezo.c

[2015-06-02 14:29] #782 closed

[2015-06-02 15:24] scottgonzalez commented on #730
This is done.

[2015-06-02 17:40] #730 closed

[2015-06-02 17:40] rwaldron commented on #730
Thanks everyone!

[2015-06-02 23:02] scottgonzalez commented on #802
Since the examples are live on the site, is there anything left to do before closing this issue?

[2015-06-02 23:07] scottgonzalez commented on #800
It'd probably be good to include that information in the examples as well. Though I think if we're going to work on this, we should open a new issue to track the docs update and close this one.

[2015-06-02 23:09] scottgonzalez commented on #796
Perhaps we can create an FAQ and include information like this.

I think this issue can be closed though. I don't think there are any action items; it was just a question which has already been answered, right?

[2015-06-02 23:13] scottgonzalez commented on #737
@rwaldron Are you still going to do this?

What's the plan for changing brightness? Does it take the current color into account or is it always an equal mix of red, green, and blue?

[2015-06-02 23:37] scottgonzalez commented on #639
What's the status of this? Does the potential inclusion of Octavian (#809) come into play?

[2015-06-02 23:42] rwaldron commented on #737
If you want to do this, go for it.

If I understand you correctly, it takes the color into account. So if it's currently red, `intensity(0-100)` scales red from off to full red, but always some shade of red.

[2015-06-02 23:43] rwaldron commented on #800
Seems good to me

[2015-06-02 23:44] rwaldron opened #817 "Add note re: PingFirmata to HCSR04 examples"
http://johnny-five.io/examples/proximity-hcsr04/

[2015-06-02 23:44] rwaldron commented on #796
If the resolution is to make a faq, then this can close when that's made ;)

[2015-06-02 23:45] rwaldron commented on #802
I don't think so, seems closable

[2015-06-02 23:45] #802 closed

[2015-06-03 06:11] YesPapa commented on #800
Yep. It can be closed.

Thank you.

[2015-06-03 15:15] mcdonnelldean commented on #809
@Resseguie @stevekinney Sorry! I completely missed this.

So I think Octavian would be an awesome fit and is more or less ready to use, the main issue is RTTF support and how it relates to our note input.

@stevekinney I've put some notes specifically for you here: https://github.com/rwaldron/johnny-five/pull/741 Under the heading Octavian. If we can kick off the process on what makes sense for yo

[2015-06-03 15:18] mcdonnelldean commented on #639
@scottgonzalez It is more or less ready, some minor bugs, needs more tests but the bulk of the work is finished. #809 shouldn't affect the public API but I would imagine we would want to get Octavian in and tested before calling this done.

Is there any specific use cases you are thinking about?

[2015-06-03 17:00] scottgonzalez commented on #639
Nope. I didn't dig into either one, just wanted to make sure that it was taken into account if there was going to be any overlap.

[2015-06-03 22:56] rwaldron commented on #800
Thanks @YesPapa !

[2015-06-03 22:56] rwaldron commented on #800
derp

[2015-06-03 22:56] #800 closed

[2015-06-04 02:31] DonPancoe commented on #627
I can't get the blink.js test to work with johnny-five and etherport. When I try to run it, I get a connection timeout as shown below. I have StandardFirmataEthernet 2.4.3 flashed on the board (an Atmega328P-based [DFRobot XBoard V2](http://www.dfrobot.com/index.php?route=product/product&product_id=564#.VW-3W89VhBc)). I can ping the board's IP address, but when I try PortQry at that address on por

[2015-06-04 03:27] soundanalogous commented on #627
As long as the Wiznet chip on the XBoard is wired exactly the same way to the ATMega328 as it is with an Arduino Ethernet shield, then the XBoard should work. If SS is wired to a different pin on the XBoard than it is with an Arduino ethernet shield, then you may have an issue.

Did you make the appropriate changes in [lines 101 - 119 of StandardFirmataEthernet](https://github.com/soundanalogous/B

[2015-06-04 03:44] soundanalogous commented on #627
Actually the SS pin shouldn't make a difference here since there is only one SPI device in use.

[2015-06-04 15:07] DonPancoe commented on #627
Thanks for the reply.

I did make the necessary changes in StandardFirmataEthernet, but you might be onto something with your pin number question. The DFRobot board does match the standard Arduino pinouts, but the TQFP32 version of the Atmega328P does have a different pin numbering scheme than the DIP28 version as shown below. Could I need to modify board.h to account for this? Has anyone already

[2015-06-04 15:17] DonPancoe commented on #627
Also, I was curious why some of the comments (I forget which file, exactly) stated that StandardFirmataEthernet ignores requests related to D4. Does XCK/TO also have something to do with communication to the Wiznet chip? D4 is on pin 6 of the DIP28 but on pin 2 of the TQFP32. Thanks again.