[2015-06-04 15:29] soundanalogous commented on #627
There are some other Arduino compatible boards that use the TQFP32 package of the ATMega328p. I think the underlying avr-gcc library figures out that difference somehow.

The arduino ethernet shield has an SD card attached to D4 which is why it has to be ignored, but only for the ethernet shield. You can comment out lines 814, 826 and 827 in StandardFirmataEthernet.

One thing to try is running a

[2015-06-04 15:30] soundanalogous commented on #627
Another thing to try is using the DFRobot board with johnny-five using the serial connection. Does that work without issue?

[2015-06-04 15:43] DonPancoe commented on #627
Thanks for the new info. It may take me a few days, but I will get around to trying your suggestions and reporting what I find.

[2015-06-04 15:49] rwaldron commented on #627
Sorry to jump in so late, but can you provide the exact code you're running that produces the error above? That will also be super helpful for @soundanalogous and I (or anyone else) to help you out :) Thanks!

[2015-06-04 16:55] DonPancoe commented on #627
Sorry for leaving that out. It was the test code from the EtherPort github README.md but with the LED pin changed.

var five = require("johnny-five");
var EtherPort = require("etherport");
var board = new five.Board({
  port: new EtherPort(3030)
});

board.on("ready", function() {
  var led = new five.Led(13);
  led.blink(500);
});

[2015-06-04 18:04] rwaldron commented on #627
This needs to be documented, but @soundanalogous mentioned above:

I don't recall why this is the case, and I'm not sure if/how it matters to your case, but can you try a pin that isn't one of those?

[2015-06-04 18:11] soundanalogous commented on #627
Pin 13 is one of the SPI pins, so trying to blink that pin will mess up the communication with the Ethernet driver.

[2015-06-04 18:12] soundanalogous commented on #627
However Firmata ignores requests to change Pin 13 when using the Ethernet library so that would not cause an error here. You just wouldn't see the LED blink.

[2015-06-04 18:16] soundanalogous commented on #627
Actually it looks like Firmata is not ignoring digital writes, only set pin mode request. Try changing the LED pin to 2 or 8. If that works then I have a bug in Firmata to fix.

[2015-06-05 02:50] DonPancoe commented on #627
Quick report since it is late...

Changing the LED to pin 8 did not fix the Ethernet version. Got the same error messages as above.

The following Arduino IDE Ethernet examples all worked on the XBoard over Ethernet: UDPSendReceiveString, WebServer & ChatServer.

The following javascript blink file did work over serial with StandardFirmata flashed on the XBoard and the LED on pin 13.

var five = r

[2015-06-05 02:55] DonPancoe commented on #627
It may also be worth noting that the built-in LED on the board (pin 13) does blink two times then four times immediately after flashing the board with StandardFirmata, correctly indicating that I am using version 2.4. When I flash the board with StandardFirmataEthernet, this does not happen. Instead, the LED just glows dimly but continuously, occasionally turning off for a while then coming back o

[2015-06-05 03:13] stevekinney commented on #809
Awesome! I’m teaching an 8-hour class on JavaScript this weekend and I’ll be ready to turn my full attention to this.

[2015-06-05 06:05] soundanalogous commented on #627
I just tested the same code with StandardFirmataEthernet v2.4.3 and an Arduino ethernet shield connected to an Arduino Uno. I found that I had to comment out [line 29 in index.js of the etherport module](https://github.com/voodootikigod/node-serialport#to-install) because it was throwing a TypeError on the `emit` method. After that everything was working as expected. Also had to use node v0.10 ins

[2015-06-05 06:14] soundanalogous commented on #627
Also, pin 13 doesn't do the version blink when using StandardFirmataEthernet. I suspect the Ethernet library sets pin 13 to digital input once the library is included so you shouldn't see it blink at all. The fact that you see the LED fading on and off makes me wonder if you are supplying enough current to your board. Try a higher current power supply if you have one, or if you're just using USB,

[2015-06-05 13:59] mcdonnelldean commented on #809
@stevekinney Sweet. I'm on GMT time but if you need anything let me know. Over the weekend I will get a few more tests and that in so that there isn't too much extra effort on your end. Octavian should actually slot in handy enough once the changes are done.

Let me know when you get free and we can touch base :D

[2015-06-05 14:35] rwaldron commented on #627
I wonder why?

I've just ordered a [DFRobot XBoard V2](http://www.dfrobot.com/index.php?route=product/product&product_id=564#.VW-3W89VhBc)

[2015-06-07 03:32] DonPancoe commented on #627
Finally got a chance to revisit this. I've downgraded to Node.js 0.10.38, I'm powering the board with a 2A USB charger and I've commented out line 29 of index.js (*this.emit("open");*). Unfortunately, I'm still getting the command line response shown below. Is there another debug method that I'm missing? I'm not seeing anything coming over the UART.

Also, when I did downgrade to 0.10.38 and tried

[2015-06-07 03:43] DonPancoe commented on #627
Realizing that I still had my laptop's WiFi switched on, which sometimes causes gateway conflicts with devices connected to the RJ45 Ethernet port, I tried it again with WiFi switched off. It still didn't work, but I realized that - because of how this comment system handles markups - a bit of the information being returned wasn't making it into my posts. I think I've fixed that now.

**Command Li

[2015-06-07 03:48] soundanalogous commented on #627
Have you tried with and without DHCP? Comment out line 115 of StandardFirmataEthernet to use DHCP. Is line 103 set to the IP address of the computer your board is connected to?

[2015-06-07 04:46] DonPancoe commented on #627
I have the laptop connected directly to the board with a single Ethernet cable, so no DHCP server is involved. I have the IP addresses of both the laptop and the board defined in the Firmata firmware. I can ping between the laptop and the board just fine, so I think the WIZnet chip is doing its job. The issue seems to be making the UDP connection to the Atmel chip and its firmware.

I will likely

[2015-06-09 16:31] rwaldron commented on #627
Quick update: I'm still awaiting my  DFRobot XBoard V2

[2015-06-10 21:09] codefoster commented on #678
Now I'm getting the same error as the original post. I have the latest version of the OS and the galileo-io module. Any ideas how to troubleshoot?

[2015-06-10 21:38] rwaldron commented on #678
@codefoster I'm setting up an Edison right now, will post back when I know more

[2015-06-10 21:44] GrossDesignCo commented on #678
When I was getting the error, it was being caused by an intermediary board that was preventing the accelerometer from communicating with my edison. (I had mpu6050 > Servo Shielf > Edison, but changing it to mpu > Edison got it working. The Edison has two separate connections for i2c, so you can always use the second bus to manage your other devices.)

If you can, I'd double-check your wiring, chec

[2015-06-10 21:48] rwaldron commented on #678
@GrossDesignCo that's super helpful—thanks!

[2015-06-10 21:58] GrossDesignCo commented on #678
Cheers.

[2015-06-10 22:30] rwaldron commented on #678
From scratch:

- Plugged in Edison
- Completed the flashing process:
  - [Firmware 2.1](https://software.intel.com/en-us/iot/hardware/edison/downloads)
  - [OSX flashing instructions](https://software.intel.com/en-us/articles/intel-edison-flashing-firmware-on-os-x-wired)
- Configuration
  - access point ssid, password
  - wifi
  - reboot
- SSH to board
- `mkdir node_modules`
- `npm install johnny-

[2015-06-11 02:51] rudemex opened #822 "Display LCD 20x4 not working"
Hi , update the library j5 as conduct a testing with 20x4 lcd display weird characters began to show .

https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xta1/v/t34.0-12/11277490_10153450122213623_1777188040_n.jpg?oh=4ea88f3746cc2fcf0ff6675986b0f215&oe=557B18D5&__gda__=1434126453_3f0437c6b7c394e6e3c38e62157cce79

[2015-06-11 03:16] codefoster commented on #678
@GrossDesignCo, I'm getting the error you had at first though when you had a software problem. Anyway, it doesn't hurt to recheck all of the connections. I'm actually using a Xadow kit by Seeed and the accelerometer that came with it. I'll follow the systematic steps that you did @rwaldron and revert to the Arduino dev board as a troubleshooting step and report how it goes. Thanks.

[2015-06-11 04:02] codefoster commented on #678
This accelerometer in the Xadow kit is apparently an ADXL345, but I put a console log in galileo.js:623 just inside the call to i2cRead and the values are: address: 83, register: 50, bytesToRead: 6. I see that register 50 is a read on the X value for the official ADXL345 datasheet, but for the Xadow sample in Wiring it looks like the read on the X value is register 32. I'm still troubleshooting th

[2015-06-11 15:05] rwaldron commented on #678
If the Xadow kit has an ADXL345, then just switch to that controller:

[code]

[2015-06-11 20:06] rwaldron commented on #822
Thanks for filing!

Please provide the following:

- the exact model of device you're using
- the exact code that produced the non-sense characters
- a clearer picture of the entire wiring

[2015-06-11 20:16] rudemex commented on #822
model 2004A driver is , but indistinct, and it worked without defining, this is an old photo of when running the code https://instagram.com/p/3B6R4rO43F/?taken-by=rudemex this is code.

var five = require("johnny-five"), lcd, board;

board = new five.Board({
  port: "/dev/cu.usbmodemfa141"
});

board.on("ready", function() {
	console.log("Placa lista.");

	lcd = new five.LCD({
		pins: [7, 8, 9, 10

[2015-06-11 21:19] codefoster commented on #678
Ah. Good point on the `0x32 == 50`. I am using the ADXL345 controller and the built in `five.Accelerometer`. That's what I'm having the trouble with. Ball's in my court... you've given me plenty to try. Thanks! Looking forward to the BMP180 code to play with too. I really need to get my head wrapped around I2C. Glad you too think the BMP180 is a relatively difficult one to parse.

[2015-06-11 21:25] rwaldron commented on #678
I finished up the algorithm parts today and it's ready to roll. The worst part is that the reading registers aren't contiguous so I can't tell it "do all the measurements" and then get temp and pressure in one read. Blah.

For some reason I think @ashishdatta told me that the Grove accelerometer isn't an ADXL345 anymore? He'll know better

[2015-06-11 21:37] ashishdatta commented on #678
The grove kits we are using are the +/-1.5g 3-axis accelerometer which is the MMA7660 so we do not have to change the IOREF on the board, the Xadow accelerometer is a +/- 16g which is an ADXL345 chip.

[2015-06-11 21:42] rwaldron commented on #678
@ashishdatta ah, got it! Thank you sir :)

[2015-06-11 21:45] rwaldron commented on #822
Thanks! I will look into this a little tonight, but definitely tomorrow :)

[2015-06-11 21:47] rwaldron commented on #822
Let me try to understand:

- This worked correctly before?
- Something happened and the result was non-sense characters?

[2015-06-11 23:50] rudemex commented on #822
yes

[2015-06-12 01:16] rudemex commented on #822
WORKING https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xft1/v/t34.0-12/11430261_10153452166223623_543543947_n.jpg?oh=e23a164785de2cc2acf0aafcb964d0c5&oe=557C3C34&__gda__=1434210950_c0054ae06c2dd68042593b0f1993bad6 , reinstall the library , and connect the cables to the breadboard again(http://www.ladyada.net/wiki/tutorials/learn/lcd/charlcd.html), before ide cable used a pc , I think the proble

[2015-06-12 03:36] codefoster commented on #678
I added a console log for the i2cWrite and i2cRead methods in galileo.js.
Here's my code...
[code]
Here's the output...
[code]
I'm wondering if this helps narrow down the problem. Specifically I'm wondering if the fact that it does 3 successful i2cWrite calls before it tries an i2cRead call and pukes means that it does have a physical connection to the sensor. It seems that way to me.

[2015-06-12 15:53] rwaldron commented on #822
That's great news! Can you close the issue? :D

[2015-06-12 17:45] rudemex commented on #822
yes!! :D

[2015-06-12 17:45] #822 closed

[2015-06-12 20:10] codefoster commented on #678
This is the call from within accelerometer.js that throws the buffer error...
[code]
As you've shown above, it works fine for your ADXL345 proper plugged into an Arduino dev board, but I'm not getting it to work with the (supposedly) ADXL345 plugged in to this Xadow board. I'm going to run the Arduino sample that Seeed supplies with the board to see if it runs (that would rule out any hardware/con

[2015-06-12 21:10] fivdi commented on #678
It looks like the buffer constructed [here](https://github.com/rwaldron/galileo-io/blob/master/lib/galileo.js#L629) doesn't contain the 6 bytes it should contain. What does `console.log(data.length)` output to the screen? 0 perhaps?

As far as I can figure out, the J5 `i2cRead` method ends up [here](https://github.com/intel-iot-devkit/mraa/blob/master/src/i2c/i2c.c#L151-L159). If the required 6 by

[2015-06-12 22:04] rwaldron commented on #678
Can you link to the exact board you're referring to? Thanks!

[2015-06-12 22:51] codefoster commented on #678
[This](http://www.seeedstudio.com/depot/xadow-3axis-accelerometer-p-1521.html) is the Xadow accelerometer. I think I've narrowed the problem down to a pin mapping issue. The logic in galileo.js says if the pin count is 20 then it's a miniboard. Otherwise it's an Arduino board. I console logged the `Pin.IO.getPinCount()` and for the Xadow board it returns 56. For the Arduino board it returned 20. I

[2015-06-12 22:52] codefoster commented on #678
@fivdi, I didn't know about the i2c tools. That's exciting. I'll give it a shot.

[2015-06-12 23:08] codefoster commented on #678
@fivdi I can run i2cdetect and i2cdump, but I have no idea what the results mean and can't find an online article/tutorial for translating them. I would expect i2cdetect to indicate something in the 0x77 slot (where the 70 row intersects the 7 column), but I don't I do get 'UU' in 21, 22, and 23.

[2015-06-13 08:11] codefoster commented on #678
Problem solved. The i2c bus for the Xadow programmer board is 0. The galileo.js determines bus 6 for and Arduino dev board or 1 for the miniboard. I can't see any way to determine that the board is a Xadow, so I'll just hack it for now.

[2015-06-13 20:17] rwaldron commented on #678
I'm not sure how that's even possible, since detection is based on a testing for a hardware capability of the Arduino board. [If it's not found, then it's assumed this the Edison module is connected to a miniboard ](https://github.com/intel-iot-devkit/mraa/blob/21355d4bb5fcb298513190e8dc5bf5bca55164dd/src/x86/intel_edison_fab_c.c#L1085-L1102).

The mini board has 56 pinouts, where the arduino boar

[2015-06-13 20:21] rwaldron commented on #678
Also! I pushed this just now: https://github.com/rwaldron/galileo-io#specify-an-i2c-bus

[2015-06-14 01:11] fivdi commented on #678
@codefoster i2cdetect can be used for several things, one of which is to scan a bus for devices. For example, here's the output of `i2cdetect -y -r 6` for an Edison for Arduino with an ADXL345 at address 0x53 and a DS1621 temperature sensor at address 0x48:
[code]
I'm not sure why you were expecting something at address 0x77. `UU` is displayed when a `'Device or resource busy'` error is detected a

[2015-06-14 02:00] scottgonzalez opened #824 "Create an FAQ"
Let's collect some items that should go into an FAQ, then create one.

### Why is my sensor input limited to 50-200Hz?

(from https://github.com/rwaldron/johnny-five/issues/796#issuecomment-103080959):

* StandardFirmata's sample interval limit: 10ms
* JavaScript runtime capabilities, which is at best 1kHz (if the program is doing only very minimal work each execution turn).
  * Practically speaki

[2015-06-14 02:02] scottgonzalez commented on #796
@rwaldron I've created #824 as a more general FAQ tracking issue. I've captured the relevant information from here, so it's probably ok to close this now.

[2015-06-15 18:58] henricavalcante opened #826 "[OFF] Svg logo"
Johnny-five have a SVG logo? I wanna print a sticker to put on laptop.

[2015-06-15 19:00] dtex commented on #826
https://github.com/rwaldron/johnny-five/blob/master/assets/johnny-five.svg

[2015-06-15 19:04] #826 closed

[2015-06-15 19:05] henricavalcante commented on #826
thanks

[2015-06-17 23:26] dtex opened #827 "test/pin.js fails if test/led.js doesn't run first"
I doubt the former is supposed to be dependent on the latter so probably a bug.

(note led.js isn't in the output. I moved it out of the test folder)

[code]

[2015-06-18 03:26] dtex opened #828 "test/board.js is failing but we never see the error"
The board created at  https://github.com/rwaldron/johnny-five/blob/master/test/board.js#L43-L47 is trying to use Firmata instead of mockFirmata. This results in a timeout that we weren't seeing because the tests completed before it was thrown. Now that extended tests are growing we are seeing the timeout.

[2015-06-18 05:02] dtex opened #829 "move:complete is emitted by servoWrite when degrees === last.degrees"
[code]

Also with the upcoming move to animation() for servo.to() we get:
[code]
I believe that if we are not going to emit move:complete when calling servo.to without a duration, then it should not be emitted just because degrees === last.degrees. In the event that an animation is called, animation() will run the callback that emits the event after the requested period of time has passed.

I thin

[2015-06-18 10:50] rodrigoadachi opened #831 "PCF8574 does not work as input"
[code]

Did tests with outputs and everything works ok, however when declare inputs with outputs and inputs do not work only.

[2015-06-18 15:33] rwaldron commented on #831
Thanks for the report, I will take a look at this today

[2015-06-18 15:35] rwaldron commented on #831
Can you post a picture of your exact wiring? Thanks!

[2015-06-18 16:55] gtzogana opened #832 "Device or firmware error"
Hi, I'm trying to talk to an Arduino Uno using a HC-06 Bluetooth module. I've uploaded the StandardFirmata sketch, and I'm able to see the device as a serial port after pairing (I'm able to `screen` /dev/tty.HC-06-DevB), but when I run a basic `board.on` script, I get the following error:

`Device or Firmware Error A timeout occurred while connecting to the Board. `

I'm using OSX Yosemite, and ha

[2015-06-18 17:07] rwaldron commented on #831
@rodrigoadachi can you try this with the johnny-five @ master?

[2015-06-18 17:35] rodrigoadachi commented on #831
![pcf8574_bb](https://cloud.githubusercontent.com/assets/6013579/8237640/38722062-15c7-11e5-9eb1-c23ef19ced98.png)

[2015-06-18 17:36] rodrigoadachi commented on #831
Como assim johnny-five @ master?

[2015-06-18 17:38] rodrigoadachi commented on #831
var   , five = require("johnny-five");

  var board = new five.Board({ port: "/dev/ttyUSB0" });

  board.on("ready", function() {
    var virtual = new five.Board.Virtual(
      new five.Expander({
        controller: "PCF8575",
        address: 0x20
      })
    );

    var led = new five.Led({
      board: virtual,
      pin: 0,
    });

    var button = new five.Button({
      board: virtual,

[2015-06-18 17:46] rwaldron commented on #831
I just pushed the latest changes to npm: johnny-five@0.8.80

I confirmed the bug you experienced, but will also try your code above

[2015-06-18 17:53] rwaldron commented on #831
The code you have above uses `PCF8575`, but this was filed about `PCF8574` and that's the chip in the diagram—these are not interchangeable. Which one should I test with?

[2015-06-18 17:54] rodrigoadachi commented on #831
Ohh, sorry, 'cause I tried using the IC PCF8575 PCF8574, but the fact is the PCF8574.

[2015-06-18 17:58] rwaldron commented on #831
Ok, thanks. I'm still seeing the issue with your code example (updated to use `PCF8574`) so I'll continue working on this.

[2015-06-18 17:59] rodrigoadachi commented on #831
Okay, I thank you for your attention.

[2015-06-18 18:41] rwaldron commented on #831
Please try your code with johnny-five@0.8.81

[2015-06-18 18:42] rwaldron commented on #832
I'm not sure if the same instructions will work, but here are the docs for the HC-05: https://github.com/rwaldron/johnny-five/wiki/Getting-Started-with-Johnny-Five-and-HC-05-Bluetooth-Serial-Port-Module

[2015-06-18 18:44] rwaldron commented on #827
[code]

[2015-06-18 18:48] gtzogana commented on #832
No luck with those -- I'm not able to get the full configuration messages as shown, even by changing the baud rate. Is that command meant to change the baud rate of the Bluetooth module?

[2015-06-18 18:55] dtex commented on #827
board.js breaks it, led.js fixes it:

[code]
[code]

[code]

[2015-06-18 18:57] dtex commented on #827
Specifically, the ```Board.purge()``` in led.js fixes it. Haven't figured out what in board.js breaks it.

[2015-06-18 18:59] rodrigoadachi commented on #831
It did not work, I tested with this code, and only expanderP0 goes to 1, where it should be 0, but if I comment on the entries, exits work.

var board = new five.Board({ port: "/dev/ttyUSB0" });

  board.on("ready", function() {

    var virtual = new five.Board.Virtual(
      new five.Expander({
        controller: "PCF8574",
        address: 0x20
      })
    );

    var expanderP0     	= new fi

[2015-06-18 19:33] rwaldron commented on #829
I'm ok with this

[2015-06-18 19:36] rwaldron commented on #832
I'll need to ping other with more bluetooth experience

@ajfisher @monteslu

[2015-06-18 19:37] dtex commented on #829
Will include this change with my animation() wrapping servo.to  PR. That's just waiting on #828 which has a fix pending (thank you for that BTW).

[2015-06-18 19:41] rwaldron commented on #827
Ugh. Those tests, "PinShape", etc. need to test what happens to non-object arguments. So we can't specify a `board` and all the garbage that entails

[2015-06-18 19:43] rwaldron commented on #827
The setUp for those tests doesn't even make sense to me right now

[2015-06-18 19:44] rwaldron commented on #827
I think we should back this out 02d58172433d83bdf93bc52da72be4b18c3d2311

[2015-06-18 19:44] rwaldron commented on #829
No problem, but we still need to address that breakage :\

[2015-06-18 19:55] rwaldron commented on #831
When I run your code, the result is:

- expanderP0 is off
- expanderP1 is off
- expanderP2 is on
- expanderP3 is on

Can you take a photo of your hardware?

[2015-06-18 19:56] rodrigoadachi commented on #831
I'll try

[2015-06-18 19:57] dtex commented on #827
Fine by me but then I don't understand it really. Should I submit a PR or is there some git wizardry to back out a merged PR? We should also ping the the author to see if he can fix it properly instead of us just axing it without telling him.

[2015-06-18 19:59] dtex commented on #829
Which breakage do you mean? #827 won't affect this. Or did you mean this is a breaking change because it alters previous behavior?

[2015-06-18 19:59] rwaldron commented on #831
Thanks, it will be very helpful

[2015-06-18 20:00] rodrigoadachi commented on #831
I can not access it, installed above the ceiling, it controls my enlightenment, is running with a stand-alone application. But I try to take a picture tomorrow.

[2015-06-18 20:01] rwaldron commented on #827
I'm not sure what to do, those tests are valuable, so maybe we don't back them out, but I don't have time today to figure out what it is that I missed when they were first landed.

[2015-06-18 20:02] rwaldron commented on #831
I'm confused—what is installed in the ceiling?

[2015-06-18 20:03] rwaldron commented on #829
The breakage I pinged you on [here](https://github.com/rwaldron/johnny-five/commit/2fd7f9caccd5d404f597453c8d153c4cc48ef51c#commitcomment-11754585) and [here](https://github.com/rwaldron/johnny-five/pull/833#issuecomment-113266582)

[2015-06-18 20:03] rodrigoadachi commented on #831
Sorry for the translation, My card is installed above the ceiling, it is connected in a cubieboard remotely access.

[2015-06-18 20:06] rwaldron commented on #831
No worries, I'm patient, I just want to make sure that I understand you :)

[2015-06-18 20:08] rodrigoadachi commented on #831
OK thank you.

[2015-06-18 20:09] dtex commented on #827
Let me see if I can get the author involved...

Paging @mMerlin The tests you submitted are valuable to us but they are causing a problem. Can you please check out this thread from the top and advise?

[2015-06-18 20:15] rwaldron commented on #827
It looks like the `setUp` just needs to replace

[code]

with

[code]

And call `Board.purge()` in `tearDown`

[2015-06-18 20:16] dtex commented on #827
I'll make that change and test it out.

[2015-06-18 20:42] rwaldron commented on #827
Did you figure it out? I found the source.

[2015-06-18 20:47] dtex commented on #827
Well, not yet but it looks like we had a leaking board instance at the top of board.js (got injected into the boards array but never used/removed). Removing the wreaked havoc on some other tests which probably need newBoard().

[2015-06-18 20:50] dtex commented on #827
Never mind. It was only leaking because I hadn't replaced some of the other new Board() calls in baord.js with newBoard() I see you've already PR'd the fix. @nebrius thinks you are actually a set of twins because you get stuff done so fast.

[2015-06-18 20:51] rwaldron commented on #827
:dancers:

[2015-06-18 20:51] #827 closed

[2015-06-19 00:26] ajfisher commented on #832
@gtzogana BT can be a notoriously challenging thing to debug.

So things to try are this:

Make sure that the HC-06 is paired as a serial device. In OSX this should be just connecting it and making sure it's working

Ensure that the BT module is running at 57600 BAUD. Often they aren't by default so you'll need to configure that with a sketch to tell it to operate at that speed. If you absolutely

[2015-06-19 01:18] mMerlin commented on #827
Late to the conversation, but it looks like everything is resolved now.  If I understand correctly, the fix was to add teardown to remove the test board being used, so that it did not interact with other tests.

[2015-06-19 04:01] rwaldron commented on #827
@mmerlin yep, I think that sorted it out

[2015-06-19 14:08] Resseguie commented on #827
Do we need to document that somewhere on the wiki for future contributor reference as best practice?

[2015-06-19 15:28] rwaldron commented on #827
@Resseguie I think this was really my fault—there were bad tests in the file and those were copied (because that makes the most sense).

[2015-06-19 19:11] gtzogana commented on #832
Thank you both very much for your help! Changing the baud rate in the Firmata sketch solved the problem.

[2015-06-19 20:26] rwaldron commented on #832
@gtzogana awesome!!

[2015-06-19 20:26] #832 closed

[2015-06-19 22:34] eltinsalerno opened #835 "Livolo library"
Can I use other libraries like this http://forum.arduino.cc/index.php?topic=153525.0?

Thx

[2015-06-19 22:44] rwaldron commented on #835
Sorry, but those don't look like they are compatible with the Firmata protocol.

[2015-06-19 22:44] #835 closed

[2015-06-19 22:57] eltinsalerno commented on #835
Ok thx!

[2015-06-19 23:08] ajfisher commented on #832
Great news. @rwaldron I'll spend some time updating that wiki entry to be
more detailed like the WiFi one.

On Sat, Jun 20, 2015 at 6:26 AM Rick Waldron <notifications@github.com>
wrote:

[2015-06-20 03:31] rwaldron commented on #831
Any update?

[2015-06-22 10:04] rodrigoadachi commented on #831
This is the famous board.

I did some testing today and nothing worked, not even the out.
Only when commenting on the statements of the entries that the outputs return to work

![akcg_ttkvkc6tqbywlqehi4v0ivz4p-lftaw5osa7zl5](https://cloud.githubusercontent.com/assets/6013579/8279586/290ee988-18ac-11e5-9870-660579387f3a.jpg)

board.on("ready", function() {
    var virtual = new five.Board.Virtual(

[2015-06-22 10:06] rodrigoadachi commented on #831
This is the motherboard kkk

![aj-iafxqwp_i62tcxirp4wbp-thnhajt67eocuffrqqm](https://cloud.githubusercontent.com/assets/6013579/8279713/22eda458-18ad-11e5-9889-fdce8e3da4fb.jpg)

[2015-06-22 16:47] rwaldron commented on #831
Can you paste the exact code you're referring to?

In the first photo, there looks like 6 ground and signal pairs (3 each on either side), is that correct? Where are the buttons connected?

var expanderP4 = new five.Button({ board: virtual, isPullup: true, pin: 4 });
var expanderP5 = new five.Button({ board: virtual, isPullup: true, pin: 5 });
var expanderP6 = new five.Button({ board: virtual, isP

[2015-06-23 04:15] lamiastella commented on #465
Hi,
I have done the Arduino Yun Disk Expansion using the serial monitor and yet I can't install johnnyfive. Here are the list of related commands I entered. Any idea how to fix this?
root@Arduino:/overlay# npm install johnny-five
FATAL ERROR: Evacuation Allocation failed - process out of memory
Aborted
root@Arduino:/overlay# free
             total         used         free       shared      buffe

[2015-06-23 13:08] rodrigoadachi commented on #831
Only works when the OUTPUTS comment on the statements of INPUTS.
this:

//var expanderP4   	= new five.Button({ board: expanderX21, pin: 4 });
//var expanderP5  	= new five.Button({ board: expanderX21, pin: 5 });
//var expanderP6   	= new five.Button({ board: expanderX21, pin: 6 });
//var expanderP7   	= new five.Button({ board: expanderX21, pin: 7 });

Use optos 4N35 at the entrances, because of

[2015-06-23 14:39] frxnz commented on #465
@lamiastella Installing J5 requires a lot of memory, which the Yun is severely lacking out of the box. One solution is to enable a swap partition, effectively giving the Linux distro more memory. I'm assuming you used [these instructions](http://www.arduino.cc/en/Tutorial/ExpandingYunDiskSpace) to expand the disk space. There's actually a [newer version of that sketch](https://github.com/Fede85/Yu

[2015-06-23 18:06] rwaldron commented on #831
This is soooo helpful—thank you! I will work on this more as soon as I can :)

[2015-06-23 18:07] rwaldron commented on #831
This is valuable. I will make sure to use exactly the same board you have above :)

[2015-06-23 18:23] rodrigoadachi commented on #831
ok, thank you, kkkkk

[2015-06-24 07:05] spokke commented on #380
hi all... i'm developing a automower and have adafruit shield 4 motors connected to mega.. i'd like to know if i can connect through johnny ... thank you ...

[2015-06-24 15:13] rwaldron commented on #380
@spokke which adafruit shield motor shield? v1 or v2?

[2015-06-24 16:57] dtex commented on #380
The V1 shield should also work with a Mega per the Adafruit site and both V1 and V2 are supported by Johnny-Five.

[2015-06-24 17:21] BrianGenisio commented on #380
The V1 shield supports stepper and servo connections in addition to regular motors.  When I wrote the V1 driver (ShiftRegister), I only got regular motors working.  IIRC, the code for steppers is a bit more complicated than regular motors, but not as much.  They both use the shift registers to use 3 pins to control lots more.  The Motor.js:Controllers["ShiftRegister"] code was loosely based off of

[2015-06-24 19:09] spokke commented on #380
thank for all response ....
the shield is this http://www.amazon.it/gp/product/B00E19VXR0?psc=1&redirect=true&ref_=oh_aui_detailpage_o02_s00 ... i will try soon ..
which pin must i use ? thank you

[2015-06-24 19:22] BrianGenisio commented on #380
That is a V1 shield.

[2015-06-24 20:04] rwaldron commented on #380
![](https://dl.dropboxusercontent.com/u/3531958/mega-afms-v1.jpg)

[2015-06-24 20:16] spokke commented on #380
ok i will take an example and try in a few days (i hope) :)

[2015-06-24 21:26] BrianGenisio commented on #380
Again, this shield won't work with Stepper motors without writing new code
inside J5. It will only work with regular motors.
B

On Wed, Jun 24, 2015 at 4:17 PM spokke <notifications@github.com> wrote:

[2015-06-24 21:28] spokke commented on #380
Ok i need for normal motor no stepper

Inviato da iPhone

[2015-06-27 22:59] icaroscherma commented on #414
Guys, sorry to comment when the Issue is already Closed. But since I figured out another (good) thing I still want to share this.

Let's say that I want to make multiple instances of ``Led`` instead of ``Leds``. Why? Well, I'm organizing an Home Automation and I want to give a Name for every room in a JSON object, and in this case later on I can still recognize which led is which.

Scenario ( ``co

[2015-06-28 01:48] Resseguie commented on #829
Hmm, I somehow didn't see that ping either. I'll try to have a look and see if I have any useful input.

[2015-06-28 01:55] Resseguie opened #840 "Add website link in repo description"
Many projects have a link to an official website in the short description at the top of the repo. I suggest having it read:

JavaScript Robotics and IoT programming framework, based on the Arduino Firmata Protocol. Developed at Bocoup. http://johnny-five.io/

I think only the repo owner (i.e. @rwaldron) gets the edit link at the top to make that change.

[2015-06-28 17:56] rwaldron commented on #414
Thanks for the example!

[2015-06-28 20:23] mMerlin commented on #824
or other form of port expander.

[2015-06-29 23:39] sesh-kebab opened #842 "this.io.pingRead undefined raspberry pi (similar to #787)"
Hi - a new johnny-five user. Firstly thank you for such an awesome library. I just recently got started but running into issues with Proximity using a Seeedstudio ultrasonic sensor. Documents mention that I need a special version of PingFirmata and I should use Arduino Studio to upload it. But how can I do this on a RaspberryPi? Is the below error related?

1435589004832 Device(s) RaspberryPi-IO
N

[2015-06-29 23:53] dtex commented on #842
@sesh-kebab (great handle BTW) You don't need to upload form the Pi. You can install the Arduino IDE on your laptop and then use that machine to upload the special version of Firmata. Once it's uploaded to the Arduino, it's on there for good until you upload something else. Just connect the Arduino to your Raspberry Pi once the upload is complete.

Note: It's also possible to run the Arduino IDE o

[2015-06-30 00:03] sesh-kebab commented on #842
Thanks for quick reply. Sorry, I should've have mentioned I'm not using an Arduino - only a Raspberry Pi.

[2015-06-30 00:08] nebrius commented on #842
Hi @sesh-kebab, raspi-io author here. I haven't heard of the `pingRead` method before, tbh. It's not a part of the [io plugin spec](https://github.com/rwaldron/io-plugins).

So what this means is that it's not currently possible to use the `pingRead` method on the Raspberry Pi.

@dtex are you familiar with `pingRead`? @rwaldron is this something that we should add to the io plugin spec?

[2015-06-30 03:57] mMerlin opened #844 "The sensor change event is not properly mixing filtering and the threshold"
PR #843 contains additions to test/sensor.js that detected the problem, and lib/sensor.js that fixes it.

The sensor change event is not properly mixing filtering and the threshold.  When checking if the latest calculated median value should be used for a change event, it (median) is checked to see if it is not between last +/- the threshold.  However, the 'last' variable contains the second most

[2015-06-30 19:19] acklenx commented on #423
soundanalogous That worked!!  And just in time for nodebots day!

I have a pile of micros/leonardos that would not work with bluetooth even though the same HC-05 (in my case) would work just fine on an UNO or a mini.  I read the arduino serial reference page ( https://www.arduino.cc/en/Reference/serial ) and thought i would change Serial to Serial1 somewhere... haha.  Anywho it was enough to lead

[2015-07-01 00:26] icaroscherma opened #845 "Possibility to implement a FingerPrint Reader/Scanner"
Hello, I was wondering if it is already possible to use a FingerPrint Reader like [AdaFruit Fingerprint Scanner](https://www.sparkfun.com/products/13007) through Johhny-Five or if I still need to implement the interface, I found the library [FPS_GT511C3](/sparkfun/Fingerprint_Scanner-TTL) which uses TTL Serial, but I'm not sure how to proceed. About the boards, I will probably use an Arduino (Uno

[2015-07-01 00:34] rwaldron commented on #842
`pingRead` is the bogus name I made up for hacked in UltraSonic Ping support in `PingFirmata`. If you wanted to support those devices you could add this, but it's only useful for that one type of component, so it's not really in the io plugin wheelhouse.

[2015-07-01 11:18] sesh-kebab commented on #842
@rwaldron @nebrius thanks! From a newbie's perspective, it would definitely be helpful if at the very least, rasp-io could output a message describing why this method isn't available when using Johnny-Five + RaspberryPi combination, for folks who may also run into this issue in the future.

As for a workaround, I'm thinking of using a Pin class to read and write to the signal pin. Would this work?

[2015-07-01 13:48] rwaldron commented on #844
Those are great bugs and the fixes solid as well. I've landed #843—is this issue resolved and closable?

[2015-07-01 14:39] rwaldron commented on #845
Until _very_ recently, this wouldn't have been possible because there was no UART/Serial capabilities in the Firmata protocol. [That's changing](https://github.com/firmata/arduino/pull/205)!

At this point, I have a growing survey of platform capabilities: https://docs.google.com/spreadsheets/d/1mxlwwmyqHiAPU3NEpJXSWdpbgZjFaHbUEBAi-74SUU0/edit?usp=sharing in the next few days I plan to [draft an A

[2015-07-01 15:57] rwaldron commented on #842
Notes for implementing `pingRead` on raspberry pi:

- https://electrosome.com/hc-sr04-ultrasonic-sensor-raspberry-pi/
- http://www.raspberrypi-spy.co.uk/2012/12/ultrasonic-distance-measurement-using-python-part-1/
- http://www.bytecreation.com/blog/2013/10/13/raspberry-pi-ultrasonic-sensor-hc-sr04
- http://www.modmypi.com/blog/hc-sr04-ultrasonic-range-sensor-on-the-raspberry-pi

[2015-07-01 16:24] nebrius commented on #842
@sesh-kebab TBH I'm a little wary of implementing this in raspi-io. As rwaldron mentioned, this is a rather specific case that doesn't apply to non-Arduino devices, and if we were to add this to raspi-io, we would need to add it to all of the non-Arduino IO plugins too. Also, if we were to consider adding this method, we would need to consider adding in methods from all of the non-standard firmata

[2015-07-01 17:57] rwaldron commented on #842
@nebrius I think we might as well make it available wherever possible. The thing that made me come around was being reminded of the end developer experience. If you can do support here, I will update all the IO-Plugins that I maintain. I've updated the IO-Plugin spec: https://github.com/rwaldron/io-plugins

[2015-07-01 19:30] rodrigoadachi commented on #831
Hello, any news?

[2015-07-01 23:33] mMerlin commented on #844
Yes this can be closed (doing that here).  I spotted these bugs while adding to the sensor tests in preparation for getting back to the sensor enhancements briefly discussed in #788 May 12.  I wanted more tests for regression before I started with any major changes.

I think there will be some more small changes before I get there.

Should the event frequency be dynamically changeable, for sensor

[2015-07-01 23:33] #844 closed

[2015-07-02 16:29] nebrius commented on #842
I just published v3.3.0 of raspi-io, which includes a stub for pingRead. Currently it just throws an error stating "pingRead is not yet implemented", which is the same error all the other unimplemented methods state.

@sesh-kebab if you get some working code, would you be interested in adding that to raspi-io proper? I can help you with the integration process.

[2015-07-02 20:46] rwaldron commented on #831
I have been unable to reproduce the issues that you've described above. Let's ping @dtex @Resseguie @BrianGenisio @frxnz @ajfisher perhaps one of them can attempt as well

[2015-07-02 21:04] rodrigoadachi commented on #831
I added another PCF8574, address 0x21, one 0x20 pcf to exits and other pcf 0x21 for entries, and so does

[2015-07-02 23:17] icaroscherma commented on #845
Hmmm, interesting.

Since will have changes into the Firmata Protocol, I will need to download a newer version (of the code or Arduino IDE containing the newer version) and upload it to the ATMega328p, right?

And about the API for the IO-Plugin you mean for the Fingerprint itself, like `` var fp = new FingerPrint("5");`` or "just" for the IO-Plugin? Because I think I can take a look into what is

[2015-07-03 00:57] rwaldron commented on #845
The IO-plugin spec is just an aside. The Fingerprint reader will just be implemented like any other sensor

[2015-07-03 11:58] sesh-kebab commented on #842
@nebrius yes, I absolutely would be interested. Will definitely need your help with the integration process. Hope to have something soon.

[2015-07-03 19:09] #737 closed

[2015-07-04 00:20] nebrius commented on #842
@sesh-kebab Fantastic, let me know when you're ready!

[2015-07-05 00:42] tsofist opened #851 "Problem: One Arduino, 4 motors and 2 servos"
I'm using Arduino Nano (although the effect is repeated on the Arduino Pro Micro) for the control of four motors and two servo motors.
The motors are controlled by the driver on the basis of L298N.
Without initialization servo drives work fine: you can change speed and direction.
When initializing at least one servo one of the motors starts to behave strangely: does not respond to reverse or chang

[2015-07-05 03:20] dtex commented on #851
See this comment:

https://github.com/rwaldron/johnny-five/issues/309#issuecomment-37071805v

I suspect this is the cause of your issue as well. Can you try switching the pins on blMotor so that you are not using pin 10?

[2015-07-05 14:30] tsofist commented on #851
Thank you much, dtex!
Now it's all working!!
It solved my issue and I think it should be described in the documentation.
Initialization:
[code]

[2015-07-05 14:30] #851 closed

[2015-07-05 14:38] dtex commented on #851
I don't disagree but the rub is not all boards are the same. I wonder if we could build a guard object into board.pins.js that can be used to lookup pins with disabled PWM when servos are in use?

What do you think @rwaldron ?

[2015-07-06 14:21] rwaldron commented on #851
I like the idea of providing useful "failure" to the user, but I'm not sure how this would work in an IO-Plugin agnostic way

[2015-07-06 14:34] dtex commented on #851
It seems to come up once a quarter or so. I'll noodle on it for a while and see if I can think of something that's simple and effective.

[2015-07-07 15:35] #828 closed

[2015-07-07 17:49] mMerlin opened #853 "sensor threshold and limit boundary handling differences"
Should range checking be made a little more consistent for (at least) sensor devices?  Currently, the range check done for the change (and aliased) events excludes the exact boundary case, so with threshold set (defaulted) to 1, a previous value of 512, and a new median of 513, no change event is emitted.  However, with limit set to [511, 513], limit and limit:upper events ARE emitted.  Exactly hi

[2015-07-07 18:24] rwaldron commented on #853
What do you recommend for correcting the cases that you've presented?

[2015-07-07 18:28] mMerlin opened #854 "changing the frequency of events for an existing device instance"
Mentioned in a comment for PR #844, and confirmed by more recent additions to test/sensor.js, changing the freq property does not change the interval between data (or other) events.  A quick check of other component code seems to show that same problem everywhere.  It also showed several different default freq values.
* 20 : Pin
* 25 : Barometer, Motion, Pir, Proximity, Sensor, Temperature
* 50 :

[2015-07-07 18:38] mMerlin commented on #853
My take, but without a lot of background using johnny-five.

Simplest seems to be to change the threshold test to include the boundaries.  IE: in sensor.js, change:
[code]
to:
[code]
In addition, if the intent is for the default threshold to emit change events for any change in value, change the default from 1 to 0.5.

[2015-07-07 18:45] mMerlin commented on #853
With that, code expecting the existing default  would need to explicitly set the freq to something like 1.25 to get back to the same functionality.

I picked 1.25, because that can be represented exactly in binary.  Any value greater than 1.0 and less than 1.5 would work.

[2015-07-07 18:54] rwaldron commented on #854
It wasn't meant to—the property should be readonly and value storage moved to internal state. To update the interval times would require messy interaction with the internal intervals.

This is an attempt to matche the default sampling interval of StandardFirmata, but should just be updated to match the "Barometer, Proximity, Sensor, Temperature"

- Barometer, Proximity, Sensor, Temperature... arbi

[2015-07-07 18:56] rwaldron commented on #853
@BrianGenisio @dtex @Resseguie thoughts?

Did you mean threshold?

[2015-07-07 18:59] dtex commented on #853
I'm at Sea-Tac getting ready to drive up to Cascadia but will take a look and give it some thought tonight

[2015-07-07 19:03] rwaldron commented on #853
Cool thanks—and good luck! Have fun!

[2015-07-07 19:29] mMerlin commented on #853
[code]
Yep.  Working with both, and mixed them in the message.

[2015-07-07 20:35] mMerlin commented on #854
I could do readonly no problem.  Messy?  Maybe.  I think I have the structure needed to implement it.  It did not look that bad to me.  Concept outline would move freq to internal storage as for readonly, plus add a setter function.  The setter would execute a clearInterval(savedId), then savedId=setInterval().  The callback for setInterval could be moved to a named function (outside of the constr

[2015-07-08 00:40] dtex commented on #853
Given the default threshold this makes perfect sense. I also feel the change to existing behavior is so small it will be inconsequential and need not be considered "breaking". It may even improve the experience for some users who were wondering why the event wasn't emitted on first change.

[2015-07-08 01:29] dtex commented on #828
Ugh, I think there is another one timing out somewhere. I'll find it and open a new issue.

[2015-07-08 01:36] dtex opened #856 "Test issues"
There is more than one so I'm just going to add them to this issue as I find them.

**Issue 1:**
If the readyWithRepl test doesn't run: https://github.com/rwaldron/johnny-five/blob/master/test/board.js#L136-L154 then the repl.js test fails.

[2015-07-08 01:50] rwaldron commented on #856
repl.js is missing a call to `Board.purge()` and `Repl.isBlocked` should be reset to whatever it was before the test.

[2015-07-08 01:56] dtex commented on #856
I'll fix that. Also, the "explicit" test: https://github.com/rwaldron/johnny-five/blob/master/test/board.js#L47-L64 times out exactly like ioHasError did https://github.com/rwaldron/johnny-five/blob/master/test/board.js#L93-L114

[2015-07-08 02:00] dtex commented on #856
Should Board.purge() also be done in the teardown of test/board.js? I know calling it in repl.js wil fix this, but I would think tests should clean up after themselves.

[2015-07-08 02:02] rwaldron commented on #856
Yes absolutely

[2015-07-08 02:16] dtex commented on #856
Hmm, Board.purge was already in the teardown. I assumed it cleared Repl.isBlocked when called, but I see now that would not be the case. In fact, I don't see how to unblock the repl with passing ```repl: true``` in a new board opts.

[2015-07-08 02:22] rwaldron commented on #856
Add `Repl.isBlocked = false` in the setup?

[2015-07-08 03:27] dtex commented on #856
I'm confused. It doesn't look like Repl.isBlocked actually does anything.

Now I see that if both ```readyWithNoRepl``` and ```readyWithRepl``` run, the test does in fact clean up after itself because the second one passes repl:true in the opts so I should probably just leave that alone.

I added the missing Board.purge() in my upcoming PR.

Still have that timeout on the explicit test. Should I c

[2015-07-08 18:54] rwaldron commented on #856
While tracking down the remaining issue with `explicit`, I found a mountain of leaky tests in ESC.

[2015-07-09 00:44] mMerlin commented on #854
I've seen that before.  Only got mentioned here because both freq and frequency were being used.  As you say, frequency was appropriate where it was used, being 1/period for that context.

Instead of period, perhaps "interval" would be a good choice to replace the freq property.  That is what the standard javascript uses: setInterval, clearInterval

[2015-07-10 02:36] Resseguie opened #860 "Document use of programs.json and grunt example"
It's still not obvious to new contributors (and several of us old timers still forget) what the workflow is to add examples. (Create example file or use `grunt example`, add entry to `programs.json`, run `grunt examples` to generate docs)

Should document this in contributor guidelines, wiki, and/or a news blurb.

Related:
#784
#852
#703

[2015-07-10 06:10] dtex commented on #418
Rethinking this. I wonder if rather than adding a table that would have to be perpetually maintained we should just do a better job of informing users how/where to find these stats for their servos, and why they are important.

[2015-07-10 17:59] rwaldron commented on #854
`interval` works for me. Let's settle on that for eventual 1.0 :)

[2015-07-11 02:55] virgilvox opened #861 "How to reset all pin states?"
I'm building some code that does dynamic stuff. There is a config event that happens that reconfigures pin states based on some incoming JSON. I'd like to reset all the pins so that there are no pin conflicts in the event a pin's config is now a Write instead of a Read.

Is there a method for resetting all pin states built into johnny-five?

[2015-07-11 03:05] rwaldron commented on #745
https://github.com/rwaldron/johnny-five/commit/5381dc2b39166488a87e26b87875133a1c4b4cbe

[2015-07-11 03:05] #745 closed

[2015-07-11 03:05] rwaldron commented on #677
Out of scope

[2015-07-11 03:05] #677 closed

[2015-07-11 03:06] rwaldron commented on #644
Landed with Expander class

[2015-07-11 03:06] #644 closed

[2015-07-11 03:12] rwaldron commented on #861
Take a look at this issue https://github.com/rwaldron/johnny-five/issues/617

- Are all the pins instances of `Pin`?
- If you have control over all the pins, just initialize them once and update the mode as new configuration comes along.

[code]

[2015-07-11 03:27] virgilvox commented on #861
Thanks for the quick reply Rick!

Would it then work if ..

[code]

Does the event handler remove itself?

[2015-07-11 03:35] virgilvox commented on #861
Also, there is the case that the configuration set will have removed a config for a pin and that would need to get disabled.

My code https://github.com/octoblu/dynamic-j5/

[2015-07-11 06:47] dtex opened #863 "Use new Travis-CI container based infrastructure"
See this blog post:

http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

I think this should be straightforward for us. Any reason not to?

[2015-07-11 12:29] rwaldron commented on #863
Maybe? tessel hit issues with installing USB drivers

[2015-07-11 21:35] dtex commented on #863
I'll try it out

[2015-07-11 21:40] rwaldron commented on #863
Sounds good

[2015-07-12 00:23] dtex commented on #856
Closed with #862

[2015-07-12 00:23] #856 closed

[2015-07-12 00:29] dtex commented on #829
Included in #858

[2015-07-12 00:40] dtex commented on #762
So the plan now would be to add the PCA9685 to expander.js then update servo and led correct?

[2015-07-12 01:43] scottgonzalez commented on #762
What updates would ned to land in servo and led?

FWIW, I plan on digging into removing the duplication on my flight to India next week.

[2015-07-12 03:49] dtex commented on #762
Just to remove the duplication. The controllers in LED and Servo would leverage the new PCA9685 expander, right?

[2015-07-12 05:00] dtex commented on #762
Oh snap! Rick already added that to expander.js.

[2015-07-13 04:46] dtex commented on #274
I got back round to this (sorry, forgot). The motors work fine with that configuration and I've added it to the SHIELD_CONFIGS object. I'm going to create a new eg file for the micro-magician that wires up all the devices we can support. I also need to find a fritzing diagram for the board. It'll need to be added to the Platform Support section of the website as well I suppose.

[2015-07-13 05:21] dtex commented on #274
Accelerometer seems to work fine too.

[2015-07-13 06:38] rwaldron commented on #856
Looks like I eliminated the need for it and then forgot that I did that 0_o

[2015-07-13 06:46] dreyna7399 opened #865 "i2c missing start bits for higher addresses on Edison"
I installed Johnny-Five on my Intel Edison with the Intel Edison Kit for Arduino .2 and the Grove shield this last May. I am finding that I cannot write to I2C devices with higher addresses because the start bit is missing.

I tried to add a Grove Barometer I2C device (at address 0x77) but could not communicate with it. Looking at the signals with a logic state analyzer I could see that the clock

[2015-07-13 21:54] dtex commented on #863
Close by #864

[2015-07-13 21:54] #863 closed

[2015-07-14 03:41] dtex commented on #274
Okay, everything on the Micro Magician works fine, except for IR of course. I was going to make a Fritzing diagram for the board but I'm just twisting in the wind. Fritzing is clearly not my thing. Who made all the board diagrams that weren't available somewhere online?

[2015-07-14 03:50] dreyna7399 commented on #865
1. The attached "bad_i2c_0x62_edison_j5.png" shows the broken i2c waveform on my Edison+Johnny-5.

2. The attached "good_i2c_0x62_set_arduino.png" shows the working i2c waveform on my Arduino.

As you can see that (ignoring the gliches on the data line) it is the same waveform except for the beginning, where the data line does not go down to form the start bit..

3. I have debugged it down to "nod

[2015-07-14 09:57] mcdonnelldean commented on #809
@stevekinney Did you ever get a chance to look into some of this? If not this weekend I was going to see what I could pull from here to Octavian so we can finish off the Piezo stuff?

[2015-07-14 15:39] Resseguie commented on #274
I think @rwaldron did most of those. I need to add that trick to my toolbox.

[2015-07-15 03:22] dreyna7399 commented on #865
Hmm, I am new to J5 but it appears that "state" is the J5 Edison board, "i2c" is the MRAA interface, and "write" is "mraa_i2c_smbus_access" (which merely shepherds the request to an IOCTL), implying that this is a defect in the kernel driver for i2c.

Not what I was expecting or hoping. I am now on to Yocto Project and kernel.org.

[2015-07-15 21:02] rwaldron commented on #865
Thanks for the report!

Let's keep this open and as you learn more, you can update here? I think that would be great for anyone that encounters the same issue in the future.

[2015-07-15 21:11] rwaldron commented on #274
I make the svgs in iDraw and then import them into Fritzing—which is not straight forward at all.

[2015-07-17 15:59] dtex commented on #274
Micro Magician works fine. Added a shield definition to motor.js and confirmed that servo, motor and accelerometer all work. Examples added for each. Note: We don't support IR yet.

[2015-07-17 15:59] #274 closed

[2015-07-17 16:06] dtex commented on #421
I've built a separate module which interfaces with Johnny-Five and gives a framework for defining IK solvers and managing robot state.

It's at https://github.com/dtex/tharp

I propose closing this issue for now and see later if we want to merge in Tharp.Chain and Tharp.Robot as classes in J5.

[2015-07-17 17:13] dtex commented on #13
This issue is too broad to ever be closed. Between the Wiki and http://johnny-five.io/api/ the docs are pretty darn good and requests for additions/corrections should be opened as smaller, actionable issues.

We should close this.

[2015-07-17 17:20] rwaldron commented on #13
I was pretty optimistic back in 2012 ;)

[2015-07-17 17:20] #13 closed

[2015-07-19 04:23] dtex commented on #152
I honestly believe this is no longer an issue (there have been 15 commits to Button() since this was reported). I've repeatedly tried to reproduce, tapping the button like an over-caffeinated chipmunk and no dice. It just keeps working as it should. Given the number of people that did this at JSConf, I feel pretty confident that we can close the issue even though we don't know exactly when/how it

[2015-07-19 04:38] dtex commented on #711
The readme is no longer messed up. Did you do something to fix it or did the awesome people at npm fix it for us?

[2015-07-19 04:40] dtex commented on #246
Associating with #370

[2015-07-19 04:53] dtex commented on #379
If we refactored every class in Johnny-Five to work with:
[code]
... then this would be solved. If that's not realistic then I think we should consider that this needs to be handled in user code, not J5.

[2015-07-19 05:03] dtex commented on #491
Updated stats:

* Statements: 83.51% (4542 / 5439)
* Branches: 70.79% (1735 / 2451)
* Functions: 80.23% (767 / 956)

[2015-07-19 17:51] rwaldron commented on #152
@dtex that sounds good to me, go ahead and create it

[2015-07-19 17:52] rwaldron commented on #711
Looks fixed now :)

[2015-07-19 17:52] #711 closed

[2015-07-19 17:56] rwaldron commented on #379
I still stand by this concern.

[2015-07-19 19:37] pierceray commented on #379
It sounds like there are valid concerns for doing it, and it involves a lot of refactoring of the entire library to make it work as well.  In addition no one else has really expressed an interest in adding this kind of functionality.  I'm pretty sure that all of those combined leads us to a "Won't Fix" conclusion.

I'm cool with that, it was a particular case for what I was working on at the time

[2015-07-19 19:37] #379 closed

[2015-07-20 03:13] dtex commented on #152
Done. we can use this when appropriate, and then occasionally scan the list of issues with this tag. Any that have had the tag for more than 30 days with no additional comments can be closed.

[2015-07-20 04:17] dtex commented on #715
Since this issue was originally opened we've changed how animate works and even removed this method from led. Do we want to add it back? If not we can close this.

[2015-07-20 13:08] TRAHOMOTO opened #868 "Shift Register. Support "shiftIn" based on 74HC165"
Anybody already works on it (74HC165)? I want to understand whether or not to begin work.

[2015-07-20 15:02] dtex commented on #868
I believe there has been some discussion. See #456

[2015-07-20 16:22] TRAHOMOTO commented on #868
@dtex thank you very much, I move to issue #456

[2015-07-20 16:22] #868 closed

[2015-07-20 22:59] mcinnes01 commented on #627
Hey @rwaldron

Just wondered if you've had any luck with your XBoard?

Many thanks

Andy

[2015-07-20 23:17] rodrigoadachi commented on #627
Can you use a ESP8266 as bridge, but I think a waste, since the ESP8266 is more powerful than the Arduino and even comes embedded with WiFi

[2015-07-21 01:15] DonPancoe commented on #627
Or maybe create a version of Firmata firmware to run right on the ESP8266 via the Arduino IDE. My available tinkering time is still taken up by the project I mentioned earlier, but I still hope to work on the XBoard, and maybe the ESP8266 idea, when I get a chance. Probably after the summer.

[2015-07-21 01:20] Resseguie commented on #627
@rodrigoadachi @DonPancoe the most information I'm aware of re: ESP8266 is here:
https://gist.github.com/ajfisher/5fe60fe7d8c49b3223f0

[2015-07-21 06:07] dreyna7399 commented on #865
I have been debugging this, and this is what I have so far with my attempts at a simple reproducer: The "LCD" refers to the Grove LCD with RGB backlight (version 2.0).

1. I have had runs with zero errors with my J5 LCD code and my standalone minimal python code version, and then runs with 5% to 80% errors. I have not found a pure set of events to lead to the failure yet (but see below).

  * I cu

[2015-07-21 13:31] ajfisher opened #870 "LM335 uses K by default"
I didn't realise there was a different on this but the difference between an LM335 and LM35 is that LM35 uses C and LM335 uses K.

As such you can't use the same controller for both (which I mistakenly believed for ages). As such we need a new controller for the LM335.

I have code so I'll do a PR and add to docs etc as well. Will come up with an option for nodebots day so we don't have to push it

[2015-07-21 21:03] rwaldron commented on #870
Sounds good, but remember that the controller must define a celsius conversion as the baseline value.

[2015-07-21 21:09] rwaldron commented on #865
This is really interesting information—thanks for the follow up.

[2015-07-21 21:22] rodrigoadachi commented on #627
Resseguie, thus need a slave Arduino, the esp8266 is very powerful and low cost, if there was a Firmata for esp8266 would be perfect

[2015-07-21 21:23] rwaldron commented on #627
cc @monteslu @ajfisher

[2015-07-21 21:26] dtex opened #871 "Add "documentation" property to each of the topics and examples in programs.json"
Would be a URL to relevant page(s)/anchor(s) at http://johnny-five.io/api/. Could be used to populate the readme and the md files in docs.

[2015-07-21 21:39] rwaldron commented on #871
This gets generated by johnny-five.io's build process, I bet we can just use the same process?

[2015-07-21 21:48] dtex commented on #871
Not sure I follow. I thought the readme and md files in docs were handled by J5's own grunt process.

[2015-07-21 22:00] rwaldron commented on #871
They are, but they don't match "component classes used in example X" to the appropriate api documentation. johnny-five.io's grunt tasks do more interesting things, which generate these:

- http://johnny-five.io/examples/led/#component-classes-in-this-example
- http://johnny-five.io/examples/servo-animation-leg/#component-classes-in-this-example
- http://johnny-five.io/examples/grove-lcd-rgb-temper

[2015-07-21 22:05] dtex commented on #871
Oh neat, I didn't know about that. My main goal was to funnel users from the docs folder to johnny-five.io/api. Maybe there is a better way to achieve that?

[2015-07-21 23:36] ajfisher commented on #870
Yep. I have all of that working in a patched version of temperature.js

On Wed, Jul 22, 2015, 07:04 Rick Waldron <notifications@github.com> wrote:

[2015-07-22 00:42] mMerlin commented on #750
After the npm enviroment update issues were resolved, we never got back to the problem of getting null values from the data event handler for digital sensors.  The npm fix did not actually resolve that for me.

rwaldron 2015/04/24

[code]

mMerlin 2015/05/07

I partially replicated your results, and found what I think the real issue is.  Probably down in firmata, though johnny-five could resolve i

[2015-07-22 00:59] mMerlin commented on #793
@ rwaldron
If you have the time, and are interested, here are links to the repositories for the project that started the thread.  That was done awhile ago.  I learned enough to get reasonable coverage for the unit test.  Finally thought to dig out this thread, and post the links

https://github.com/mMerlin/johnny-load
https://github.com/mMerlin/auto-water

The live test showed it to be working wel

[2015-07-22 03:41] Resseguie commented on #627
@rodrigoadachi right. Believe @ajfisher was investigating just that. The above gist is his intermediate solution I believe. You might jump on gitter and check in for the details on the latest thinking.

[2015-07-22 03:44] Resseguie commented on #871
@dtex this is what I had in mind in #705, but that was pre-website. Same idea.

[2015-07-22 03:56] ajfisher commented on #627
@rodrigoadachi So current status is that we are still looking to build a firmata like port across to the ESP8266. This is slightly challenging due to the nature of the timers the chip uses as well as the SDK being a currently moving target (4 major breaking releases in 6 months).

As such the current mostly working solution is to use the ESP8266 as a wifi-serial bridge in transparent mode. This is

[2015-07-22 10:56] rodrigoadachi commented on #627
I appreciate the explanation, I know it's not a good practice, but communicate the NodeJS and esp8266 by native tcp, when opening the connection not closing, with two-way communication within 100ms packaging in the JSON at the end of each object put a ' ! ' so I can parser (.trim ('')) just so I decided my FIFO problem. Sorry if I talked nonsense or used a bad practice schedule.

[2015-07-22 11:01] rodrigoadachi commented on #627
Just a correction:

var dataString = data.toString().split('|');
          for (i in dataString){
            if (dataString[i] != ""){
              var dadaJson = JSON.parse(dataString[i]);
              // -----
            }
          }

[2015-07-22 15:33] kevincannon opened #873 "Request - Button hold, continually trigger action"
I've a small feature request. In the Button object, there's a hold trigger. However, it only triggers after 500ms, and never again. Often press & hold is something where you need to repeatedly do the action like a keyboard. It woud be nice to have a repeat option built in.

http://johnny-five.io/api/button/

Something like this:
[code]
Then you would get this as an output
[code]

It would be neat

[2015-07-22 16:13] rwaldron commented on #873
I like it and I think this might even be preferable as the default behavior? I won't be able to release b/c we're "frozen" until after Nodebots Day (this Saturday)—is that ok?

[2015-07-22 16:19] rwaldron commented on #793
Humans can't be trusted :)

These projects are super cool—thanks for following up :) I love seeing this stuff—it really makes my day

[2015-07-22 16:25] Resseguie commented on #873
I like it too.

[2015-07-22 19:25] rwaldron commented on #870
PR?

[2015-07-22 22:32] ajfisher commented on #870
Will do on Sunday. Need to write the examples, do a board layout etc. Got
it working with a custom controller for the moment so good for the session
on Sat but will do the PR properly.

On Thu, Jul 23, 2015, 05:25 Rick Waldron <notifications@github.com> wrote:

[2015-07-23 00:26] Rickgg opened #874 "Wifi connection?"
Hi, is there a way to connect an Arduino through wifi that can use Johnny-Five? Or what does IoT mean in this case?
Thanks a lot

[2015-07-23 02:29] topkoa opened #875 ""ready" event not emitted by Boards"
I have been attempting to connect multiple Arduinos to my project; however until now I have been unable to proceed by using the "Boards" API.

Without re-iterating; please see the following Stack Overflow question post on my issue (Update 3):

http://stackoverflow.com/questions/31495847/johnny-five-multiple-arduinos-connecting-but-not-emitting-ready

Can you tell me if I'm doing something bonehead

[2015-07-23 15:17] stevekinney commented on #809
@mcdonnelldean I have been traveling and had not gotten a change, but it has definitely not fallen off my radar.

[2015-07-23 15:30] rwaldron commented on #870
Ok, I understand. I'd love to get that controller landed for you in time for Nodebots Day, but I realize that would mean breaking our release freeze :(

[2015-07-23 15:33] rwaldron commented on #874
I haven't experimented with the Arduino WiFi shield, but only because the ones I've seen are pricey. Aside from that, there are other board options that use WiFi: Particle Core, Particle Photon and Electric Imp.

[2015-07-23 15:42] dtex commented on #870
I'm sure you guys already considered this so apologies in advance...

To keep it simple for users this weekend, the controller could be published on npm (name spaced to avoid clutter) and then just required in.

[2015-07-23 15:43] rwaldron commented on #875
I've found a bug in the repl initialization, this will be fixed in the next release.

[2015-07-23 15:45] topkoa commented on #875
Awesome! Thanks!
By the way-- the j5 api is absolutely amazing, you have done a fantastic job with it....  just wanted to let you know!

     On Thursday, July 23, 2015 11:43 AM, Rick Waldron <notifications@github.com> wrote:

 I've found a bug in the repl initialization, this will be fixed in the next release. —
Reply to this email directly or view it on GitHub.

[2015-07-23 15:51] Resseguie commented on #874
Others, such as @ajfisher and @monteslu have done some work tunneling the serial communication via a WiFi connection. Here's one approach with cheap hardware:

https://gist.github.com/ajfisher/5fe60fe7d8c49b3223f0

[2015-07-23 15:56] #875 closed

[2015-07-23 15:56] rwaldron commented on #875
<3

Thanks for the bug report!!

[2015-07-23 15:57] rwaldron commented on #875
Here's the full response from stack overflow:

[2015-07-23 21:46] ajfisher commented on #874
This gist is still 70% relevant. In light of events last night I'll update this to reflect the current approach we're working with for transparent bridges.

[2015-07-23 21:48] ajfisher commented on #870
It's so little I just wrote it and put it in the repo for the kits we're
using.

On Fri, Jul 24, 2015, 01:42 Donovan Buck <notifications@github.com> wrote:

[2015-07-24 11:39] kevincannon commented on #873
No rush at all, i've made a workaround for my needs for now, but built in would be even better :)

[2015-07-24 17:12] #873 closed

[2015-07-24 17:12] rwaldron commented on #873
@kevincannon thanks for patience!

[2015-07-24 18:48] dtex commented on #873
Should this be a different event? Currently the hold event represents a state change. Also, we may want different behavior on that initial state change then we would want on the repeated firings of the event.

[2015-07-24 19:27] dtex commented on #873
Never mind, I didn't really think that through. Hold is not a state change.

[2015-07-24 21:07] mMerlin commented on #853
Change included in 0d5887b1c949d8d33d8b6b083361ec4507799d41 and landed with a79f2471c5c775009d1c9752b1542cb0a36e1e72

[2015-07-24 21:07] #853 closed

[2015-07-24 21:36] rwaldron commented on #873
`button.once("hold", ...)`?

[2015-07-25 01:14] soundanalogous commented on #874
I can also create a WiFi version of StandardFirmata once I get ahold of a Wi-Fi shield. Currently most of the selection of WiFi shields for Arduino are too expensive so I've been avoiding it.

[2015-07-25 02:45] Resseguie commented on #873
I like that @rwaldron

[2015-07-25 07:44] CaptEmulation commented on #326
I have been trying to get an LCD screen connected to a nitrogen service through johnny-five talking to an Arduino Yun via USB on Windows computer.  I've had no issue using many other pieces of johnny-five connected to an Arduino Yun, but I end up with garbage out of an LCD 49/50 times.

Here is a sparkfun (https://www.sparkfun.com/products/255) 16x2 character LCD using the standard LiquidCrystal l

[2015-07-25 18:29] TheSpiderPig opened #877 "Play Nice with Node Debugger/Inspector"
Node debugger/nodeinspector makes the debugging experience the inspector crashes when any application is run please investigate.

[2015-07-25 20:14] frankely opened #878 "When the lower value of the range is greater than the upper scale does not work"
When I try to use the scale with the lower value greater than the upper scale does not work, this.value is returning 0

[code]

[2015-07-25 21:32] rwaldron commented on #326
I wonder if there is an initial state issue with the expander chip that's on the board...?

[2015-07-25 21:58] CaptEmulation commented on #326
## Thoughts

 - Operation logging and profiling
 - StandardFirmata => LcdFirmata

### Logging
A USB logger and a visualizer to map the differences in the implementations and adjust accordingly.

I have a goal here of wanting to web visualize input/output from a johnny-five connected board, so a little side track of visualizing the StandardFirmata protocol sprinkled with instrumenting the Arduino l

[2015-07-26 02:27] Resseguie commented on #878
What are you expecting it to do in that case?

[2015-07-26 02:45] frankelydiaz commented on #878
Rick Waldron just told me that it should work in the opposite way if I invert the range.

[2015-07-26 09:56] dazld commented on #326
Thought - if js runtimes cannot handle nanosecond timing, then would implementing a 'more accurate' queue as a native extension make sense? Is that even feasible..?

[2015-07-26 11:26] ajfisher commented on #870
Okay - just got to write the tests and make a component for the fritzing diagram. Everything else is done and haven't had to write a J5 test before so that's going to be an experience ;)

[2015-07-26 11:30] ajfisher commented on #874
That gist has now been updated with latest UDP transparent bridge - it's fast!

[2015-07-26 21:12] soundanalogous commented on #326
One thing that may help here is adding a `PULSE_SEQUENCE` message to the Firmata protocol. It could be something like this:

[code]

To create the enablePulse function as seen [here](https://github.com/arduino/Arduino/blob/master/libraries/LiquidCrystal/src/LiquidCrystal.cpp#L303-L310), you'd then send this Firmata command:

[code]

which would translate to the something like this on the Arduino:

[2015-07-27 12:33] kevincannon commented on #873
Wow guys - just checked that out, that's amazing. Thanks so much! :)

[2015-07-27 14:59] rwaldron commented on #873
Thank _you_ for filing.

[2015-07-28 03:25] rwaldron commented on #877
I won't have a chance to look at this until next week (I'm in seattle for tc39 meeting all week). Anyone else that wants to dig in should definitely do so

[2015-07-28 04:02] dtex commented on #877
@AdamHess I just gave it a shot with node-inspector 0.11.2, node 0.12.4, and Jonny-Five 0.8.85 and it all worked (inspected /eg/led.js). Were you using a different version of anything?

[2015-07-28 13:36] TheSpiderPig commented on #877
hmmm maybe i need to update my version, i ran it on Ubuntu if that changes anything.

[2015-07-28 14:43] dtex commented on #877
I didn't try Ubuntu (I was on OS X)  and that of course may change things. I'll have to get a VM set up so maybe someone else can take a look before I am able to get to that.

[2015-07-30 22:39] Rickgg commented on #874
Great!! Thanks!!

[2015-07-30 22:39] #874 closed

[2015-07-30 23:18] rwaldron commented on #878
Confirm, I figured it would just invert the scaling operation

[2015-07-31 10:18] rodrigoadachi commented on #874
talking about wifi and Arduino, it is less expensive the ENC28J60, however the library consumes much space. Or always say, we can develop pro ESP8266. I would like to help develop, how can I know the communication mode with the johnny-five via ethernet?

[2015-07-31 13:20] juliocesar-io opened #882 "Is there any way to have serial communication on Raspbian using Docker?"
It is possible to have serial communication with an Arduino on Raspberry pi 2 B+ (raspbian:wheezy) using  Docker ?

Docker can access to attached devices using a volume

[code]

Or for an specific device

[code]

And it works

[code]

But when I run my app It just remains looking for a connected device.

Any thoughts ?

node -v
v0.10.36

johnny-five
0.8.85

[2015-07-31 14:27] Resseguie commented on #882
I'll note that I'm potentially interested in the general Docker question as well, not just Raspbian.

[2015-08-02 05:04] dreyna7399 commented on #865
1. SOLUTION

It turns out that not only is the Seeedstudio "Grove_-_Barometer_Sensor_(BMP180)" is a slow speed I2C device (100Kh), it you put it on a full speed I2C like the Edison's (400Kh) it DISTORTS the signals, even when not addressed.

This explains the symptoms, where it breaks the bus on the Edison but not the slower Arduino Uno.

What is particularly annoying is that this speed restrictio

[2015-08-02 21:26] CaptEmulation commented on #326
### Re: Frimata protocol proposal
I cry on the inside when I see blocking delays in code.  There could be implications if programmers choose long or wide pulses.  Of course, making it not blocking would be a much larger change to Firmata as the rest of the implementation would suddenly have timing concerns.  There's a trade off there between software complexity and CPU utilization.

### Code fix

[2015-08-03 03:12] soundanalogous commented on #326
Avoiding all blocking delays with Firmata is nearly impossible (but keeping them short is doable). Unfortunately, arduino doesn't ship with a good library for abstracting timer functionality (timer compare would be needed for generating accurate pulses) across all supported architectures. Even if it did it would be extremely difficult to balance the general I/O nature of Firmata with timer ISR han

[2015-08-03 03:30] kevbost commented on #112
Commenting for update update?  Just got a DHT22 in the mail and then discovered this thread.

[2015-08-03 03:40] soundanalogous commented on #112
I need to revisit this. I moved on to other tasks before finalizing the addressing scheme for 3rd party Firmata libraries. Additional input on the proposal would help get the process started again: https://github.com/firmata/ConfigurableFirmata/issues/16.

[2015-08-03 13:34] rwaldron commented on #326
This makes sense and I've experienced similar behavior in the past, but not reliably reproducible. I wonder if we can "fake" delays with calls to dummy functions that do some kind of operation that we can prove takes X amount of time to complete? I'm going to experiment.

[2015-08-03 19:29] rwaldron commented on #882
@nebrius @beriberikix @jfrazelle

[2015-08-03 19:31] rwaldron commented on #882
Did you try writing it out, like:

[code]

[2015-08-03 19:52] topkoa opened #883 "Multiple Arduino Boards on same USB Bus by Serial Number?"
I'm curious if anyone has any insight into this question....

A little background-- I'm working on a project that requires the ability to plug multiple Arduino boards into a powered USB hub, but if an Arduino gets unplugged and plugged back into another port the program needs to still wire the specific logic up to that specific board.. (ad hoc basically) so the logic will need to follow the boards

[2015-08-03 22:24] rwaldron commented on #883
I don't think this is supported by node-serialport.

Cc @jacobrosenthal

[2015-08-03 23:24] topkoa commented on #883
OK thanks, I guess I'll continue with my hacking away..  Right now I'm using serialport to get a list of ports/pnpId's and mapping them to boards after they are initialized.   I know its kindof a kludge...

[2015-08-04 00:03] beriberikix commented on #882
It should definitely be possible. Do you know if the image has serial drivers installed? Seems like something one would strip out for the regular webapp use case.

[2015-08-04 20:01] wardialer commented on #623
If i use my LM35 Temperature with this code, the sensor works fine:

    var five = require("johnny-five");
    var board = new five.Board();
    board.on("ready", function() {
      var temp = new five.Temperature({
        pin: "A0",
        controller: "LM35"
      });

    //  var sensor = new five.Sensor("A5");

      temp.on("change", function() {
        console.log("Temp: %d", this.celsius

[2015-08-04 23:05] rwaldron commented on #623
@wardialer I need more information, because I can't reproduce this issue—however I'm using a TMP36, not an LM35. I just ordered an LM35.

- What board are you using?
- What, if anything, is attached to A5?

[2015-08-04 23:06] rwaldron commented on #883
What are you using to connect the multiple boards to a single USB port? (So I can order one and maybe help this process)

[2015-08-04 23:13] ajfisher commented on #623
It might be because the voltage is wavering on the LM35 if you're reading
it directly. Make sure you've got the 2k series resistor in place in your
circuit.

On Wed, Aug 5, 2015, 09:05 Rick Waldron <notifications@github.com> wrote:

[2015-08-05 00:20] topkoa commented on #883
I'm using this: "Sabrent 13 Port High Speed USB 2.0 Hub with Power Adapter And 2 Control Switches (HB-U14P)", (from Amazon).

However, as far as I know its not device specific-- I'm sure any powered USB hub will do.

In my test environment I have 5 total Arduino's connected, (3 are UNO R3's  and 2 are Funduino MEGA's).  ... In case you are wondering I'm connecting them to a Raspberry PI Model 2 B+

[2015-08-05 07:50] wardialer commented on #623
@rwaldron I'm using an Arduino Uno. If nothing is attached to A5, all works fine.
@ajfisher I'll try later (i'm at work right now), but it seems strange to me, because the circuit works fine if i don't initialize the sensor in my code... Thats why i thought it was a software problem

[2015-08-05 13:39] rwaldron commented on #623
With or without the `var sensor = new five.Sensor("A5");` line?

[2015-08-05 16:31] wardialer commented on #623
With and without the line

[2015-08-05 19:03] rwaldron commented on #623
So what thing is connected to A5 when the values erratically change?

[2015-08-05 20:14] wardialer commented on #623
It was a homemade terrain-humidity sensor like this:
![schema-collegamento-sensore-umidita-arduino pdf](https://cloud.githubusercontent.com/assets/3407550/9096689/fb757006-3bbe-11e5-8040-49f5af26bd79.jpg)

and a photoresistor. Here you have the complete circuit (here the sensor is attached to A4 as a test...)
![_mg_9377 1](https://cloud.githubusercontent.com/assets/3407550/9096609/76b98460-3bbe-11

[2015-08-05 20:22] rwaldron commented on #623
is that what the yellow and red wires lead to?

[2015-08-05 20:25] rwaldron commented on #883
I've been conditioned to never assume this ;)

I just order the hub and will check back when it arrives

[2015-08-05 23:20] wardialer commented on #623
yes, sorry for bad picture

[2015-08-06 01:20] JerksonS commented on #285
Hey everyone, i was beginning to use the temperature class in a project I'm working on and now that I'm ready to add a second 1-wire device on the bus I landed here :)

I have followed the gitter conversation but saw no resolution to this question there so I figured I'd revive this old thread.Is there a supported way of addressing multiple 1-wire devices on a single pin using the temperature class

[2015-08-06 01:38] westinpigott commented on #285
@JerksonS, I have not tested the version which is supposed to be integrated into johnny-five.  It is based on the class I wrote which has johnny-five as a dependency, although I don't believe it is non-blocking IO the way my class is.  You can see mine at https://github.com/westinpigott/one-wire-temps.  it works for multiple sensors.  I have tested it up to 5 as thats all I had available.
Not comp

[2015-08-06 03:04] JerksonS commented on #285
@westinpigott Thanks for the reply.

I was looking through the Johnny five source and saw the credit to your one-wire-temps in temperature.js.

I had actually started using your one-wire-temps before I learned that a temperature class was added into Johnny-five itself. Until now I have only been playing with one temp sensor but now want to expand to 5 and then I hit this roadblock. Perhaps I'll tr

[2015-08-06 15:03] rwaldron commented on #623
The picture is just fine, thank you for taking the time to produce it for the big report. I just wanted to make sure I understand the relationship between the two images :)

Now I have another question, that I should've asked before and I apologize for not doing so: which wire in the photo goes to which connection in the diagram?

Orange -> 5V ?
Red -> A0?

[2015-08-06 17:35] wardialer commented on #623
Red wires are connected to 5v for both images.The blue cable in the schema is the orange one in the picture and is attached to A5 instead of A0.

[2015-08-06 20:03] rwaldron commented on #285
This is just a bug in the over-eager pin validation/protection code :\

[2015-08-06 21:32] r3sk commented on #285
@kbarre123 last time i played if this sensors they were working, but the "Component pin: 8, controller: DS18B20, address: 18504275455 is already in use "  message continue appearing, but it didn't break the code anymore. I'll test my code again when get home.

[2015-08-07 02:50] JerksonS commented on #285
@r3sk, @kbarre123 and @rwaldron, Sorry guys..it looks like I jumped the gun here. Even though I get an error message about the pin already being in use, it does actually work. I'm polling two DS18B20's (one waterproof and one bare sensor) on the same bus/pin successfully and reliably.

I simply saw the error message and decided not to go any further and write an .on "data" function for the second

[2015-08-08 01:30] kthblmfld opened #884 "Add support for the HX711 Load Cell Amplifier"
I am attempting to add a TAL220 10kg load cell to my robot with some assistance from the [HX711 load cell amplifier](https://www.sparkfun.com/products/13230). I have managed to get the latest driver installed on my Arduino and have found a few Javascript ports that I am trying to sort out. It would be nice if support for this were in johnny-five.

[2015-08-09 03:18] dtex commented on #884
@kthblmfld I did a load cell project last year. I didn't know there was a breakout board for this and had to wire up my own. Thanks for sharing. It's pretty easy to use this with Johnny-Five already. Just use an instance of [sensor](http://johnny-five.io/api/sensor/).

This is an excerpt from my code. If it was empty, Twilio would call our receptionist with a gentle reminder (I have since been tol

[2015-08-09 03:45] dtex commented on #884
We shouldn't close this issue until we add a load sensor example in /eg

[2015-08-09 04:04] kthblmfld commented on #884
@dtex Were you using the TAL220? It has a red(E+), black(E-), green(O+), and white(O-) wire coming off it. If so, what did you do with the green wire? Were you connecting it directly to the Arduino? Did you need to add any resistors?

Thanks for replying. I have been digging into this issue for a few weeks and departed from my comfortable realm of understanding some time ago  :)

[2015-08-09 04:18] dtex commented on #884
I was using an [INA125P](http://www.ti.com/lit/ds/symlink/ina125.pdf). It had the same wires and I switched out resistors until I found one that worked well for my weight range and load cell.

This [chart](http://www.controlweigh.com/loadcell_colors.htm) was invaluable for determining which wire did what.

[2015-08-09 04:18] dtex commented on #884
Sorry clicked the wrong button

[2015-08-10 03:29] icgreen commented on #321
Just came across the same issue. I had to do the same but with COM4.  Thanks for documenting what you did to solve it.

[2015-08-10 04:17] kthblmfld commented on #884
I am able to successfully detect a change in load using the load sensor + HX711 and connecting to Arduino the Vcc, ground, and analog pins to 'DAT','CLK' running code in [these examples](https://github.com/sparkfun/HX711-Load-Cell-Amplifier). In this case, there is no need for additional resistors.

Where I am having a hard time with johnn-five Sensor is the 'DAT' and 'CLK' pins. Sensor only takes

[2015-08-10 15:51] juliocesar-io commented on #882
I set the port explicitly.

[code]

And It just works like a charm.

Thanks for your help!!

[2015-08-10 15:51] #882 closed

[2015-08-11 12:30] ajfisher commented on #665
So I've stumbled into this thread as I wasn't really paying attention at the time it was first discussed. I've just tried to add a new controller for the TM1640 and have run into many of the similar issues as @boneskull has raised here.

As such, what's the current state of this? I have something that approximates a working 16x8 display but it's grotty beyond belief.

If this hasn't progressed any

[2015-08-11 17:09] rwaldron commented on #665
Here's a copy of my reply on gitter, just to keep it all on record...

-------

The original `LedControl` class was actually an "almost" 1-to-1 port of the `LedControl` C library. That library is designed for controlling 7 Segment and Matrix displays, specifically with the MAX7219 and MAX7221 chips. The port was contributed in the first few months that Johnny-Five existed (much like the Wii classe

[2015-08-11 17:17] boneskull commented on #665
Led.Display.Digits
  controllers for N-segment digit displays
  Led.Display.Matrix
  controllers for N-dimension matrix displays

for my use case, I wanted to add `Led.Display.BarGraph`.  unfortunately I haven't had much time to play around in j5's guts lately

[2015-08-11 17:18] boneskull commented on #665
but anyway, @rwaldron 's comments would address my concerns.  it's difficult to maintain and extend the way it is now.

[2015-08-11 19:08] rwaldron commented on #665
Sorry, forgot about that! But yes, this should be trivial to add once all refactor is complete

[2015-08-12 00:09] ajfisher commented on #665
Well I have one of these to hand as well (got a mixed bag of stuff given to
me the other day with matrices, bar graphs and 7-segment displays)

I'll post a design here first in terms of how I think it will work.

On Wed, Aug 12, 2015 at 5:08 AM Rick Waldron <notifications@github.com>
wrote:

[2015-08-12 11:16] kersten opened #885 "Button event not fired"
Hello,

sorry for opening an issue for this but I have no idea why my setup does not work.

I have an Intel Edison with an active low button circuit on gpio 14. The button works an the output of `cat /sys/class/gpio/gpio14/value` is 0 if the button is not pressed and 1 if the button is pressed. But the five.button won't call none of the callbacks.

Here is my code

[code]

Could you help me with t

[2015-08-12 17:04] kersten commented on #885
This one works, and shows me 1 if i press the button. Did I miss anything in my first example?

[code]

[2015-08-12 17:33] rwaldron commented on #885
Can you post a picture of your actual hardware—thanks!

[2015-08-12 17:35] rwaldron commented on #885
Unrelated to issue, but just a tip: you don't need to specify these:

[code]

:)

[2015-08-12 17:51] kersten commented on #885
![image](https://cloud.githubusercontent.com/assets/487289/9231996/84e3e8e2-412b-11e5-9f8c-e08b2a19f776.png)

[2015-08-12 17:54] rwaldron commented on #885
Cool thanks, I'll put together the same circuit and see what I can learn. Will post back as soon as I know more!

[2015-08-12 18:00] kersten commented on #885
Many thanks. I hope you find out what's going on ;)

[2015-08-12 19:06] rwaldron commented on #885
Are you sure? I'm seeing something very different.

That's correct, but it should return to 0 once you release; see below.

What I experienced is super strange and definitely not a software issue. I completely eliminated all "code" aspects and focused solely on the sysfs state w/r to the circuit itself.

-----------

I assembled the button circuit:

![](https://i.gyazo.com/07f9250163b69b4ad21713c9

[2015-08-12 19:21] kersten commented on #885
ok, very strange. Maybe this is what I saw.

[code]

After pressing the button I saw 1, 1, 1, 0, 1, 0, 1 and so on. I then replaced the 10k with a 1k resistor and after that I had no problems anymore. Could you check that?

[2015-08-12 19:26] kersten commented on #885
Anyway, shouldn't the lib execute the callback?

[2015-08-12 20:48] rwaldron commented on #885
I actually had to use a 100Ω to make it work. That needs to go into the docs.

When I posted the response above, I hadn't gotten this far—the other issue side tracked me. Since swapping out for 100Ω resistor, I've tested the same script with these:

- Arduino Uno (reality check)
- [Edison + Arduino Board (w/ 10kΩ resistor)](https://www.youtube.com/watch?v=DSEcyTNLQq8)
- [Edison + Miniboard (with 1

[2015-08-12 21:50] kersten commented on #885
Ok, then I will check it with a 100Ω resistor. Maybe this will solve my problem too.

[2015-08-13 07:03] kersten commented on #885
Didn't work for me. I had to use a 1kΩ resistor. But the Button won't call the callback :cry: I have the exact same circuit like you. The strange thing is, that `cat /sys/class/gpio/gpio14/value` shows me the correct value.

[2015-08-13 09:00] kersten commented on #885
Me again, It works with the 100Ω resistor, don't know what it was, but the callback doesn't work :cry:

[2015-08-13 16:11] ShawnHymel commented on #885
I wish I knew the exact reason why this is the case, but you do need to use a stronger (e.g. lower value) pull up with the GPIO block. 10k does not work, but I've had good luck using 2.2k (or lower) value resistors. The best I can figure is that either A) the TXB0108 level shifters have a weak pull up or B) there is a bug in the Edison that prevents you from disabling the internal weak (100k-ish?)

[2015-08-13 16:32] rwaldron commented on #885
@kersten ok, let's collect information then :)

- Do `npm list --depth=0` and report the output
- Do `node -v` and report the output

[2015-08-13 21:13] kersten commented on #885
`npm list --depth=0`

[code]

node version: v0.10.38

[2015-08-14 01:17] rwaldron commented on #885
Are you using the Intel IoTDK thing?

Please update to the latest version of Johnny-Five— i'm not sure if it'll make a difference but it will at least ensure that we're referring to the same code base.  Can you also try writing a totally different program, for example blinking an LED using the `Led` class.

[2015-08-14 11:29] kersten commented on #885
@rwaldron WOW, ok now it's working :smile: it was the version, after a update it runs now

[2015-08-14 14:46] rwaldron commented on #885
Haha, remember when I wrote this...

Derp.

This is the best news :) Please close the issue whenever you're ready—thanks!!

[2015-08-15 21:10] pxlhero opened #886 "Linino One - Cannot call method 'includes' of undefined"
I'm running LininoOS, LininoIO with nino-io. It connects to the board fine and it works with this.pinMode and digitalWrite, but when I switch to new five.Led(), it gives me this issue:

[code]

When installing johnny-five, I had the compiling errors with serialport so I used this: http://wiki.linino.org/doku.php?id=wiki:nodejs to add it to /opt/usr/lib/node_modules. Not sure if that has anything t

[2015-08-15 22:07] Zenitram-Oriaj opened #887 "GY-IICLCD (PCF8574T) LCD Backpack On 20x4 LCD"
Been having an issue showing any text on my LCD.

Whenever I start/restart my node app, the LCD cursor moves a couple positions but that is it.

I have tested it with a basic Arduino program on a Pro Mini

![img_4031](https://cloud.githubusercontent.com/assets/3083474/9291008/3c194dda-435d-11e5-83d6-5e45e4d29473.JPG)

But when I run my program, this is all I get:
![img_4039](https://cloud.githubus

[2015-08-16 08:25] kersten commented on #885
OkOK, now I have one button and 2 switches, and everything works fine :+1:

[2015-08-16 08:25] #885 closed

[2015-08-16 18:17] rwaldron commented on #886
Thanks for the report! Can you paste the code you're running?

[2015-08-16 18:20] rwaldron commented on #887
Thanks for the detailed report! Can you also paste the rest of the code you're running?

[2015-08-16 19:56] pxlhero commented on #886
Here it is, pretty straightforward.

[code]

[2015-08-17 03:15] Zenitram-Oriaj commented on #887
Per your request. I hope it is sufficient.  Thanks for any help you can provide.
[code]

[2015-08-17 12:34] rwaldron commented on #886
Probably unrelated, but you can't/shouldn't reuse pins like that. What happens when you just call `led.blink(500)`, instead of setting pinMode and using an interval?

[2015-08-17 15:41] pxlhero commented on #886
If I just delete everything in ready and just keep ```var led = new five.Led(13)``` I get the error.
I did some investigation and the blink example in node_modules/firmata doesn't work either. ready doesn't fire at all, isReady is always false.

If I install the FirmataSPI.hex from http://wiki.linino.org/doku.php?id=wiki:nodejs, firmata blink example works but when I run my code, I get the Failed

[2015-08-17 20:54] rwaldron commented on #886
You're running that code _on_ the Linino One, correct? And that code is running in the correct directory, right? There is a note about this in https://github.com/rwaldron/nino-io/#lininoos

Sorry if that seems like a silly question, I just need to get a better understanding. The error you're seeing looks like it might be the result of the "layout" not being loaded.

Well, don't do that :P Nino-IO

[2015-08-17 21:09] pxlhero commented on #886
Yep, I'm running it on the Linino One in the opt directory. I'm going to reset the board and do it all over again. Should I just ignore the serialport errors I get from npm install johnny-five? Or should I still use the one provided by linino?

[2015-08-17 21:47] rwaldron commented on #886
Yes—serialport is an optional dependency.

No serialports are used by Johnny-Five and Nino-IO on Linino One

[2015-08-18 03:21] pxlhero commented on #886
I'm getting the same error after I reset the board. These were my steps:
- Install/confirm I have the latest LininoOS and LininoIO. I have the /dev/ic2-0 folder
- Install node, the /opt gets created
- Download and run serialTerminal.hex
- Install johnny-five and nino-io in /opt
- Create blink.js in /opt, add ```var led = new five.Led(13)``` on board.ready.
- run node blink.js

[2015-08-18 17:25] rwaldron commented on #886
Ok, thanks for running through it again. I will try to repro today.

[2015-08-20 14:03] lookaz opened #888 "non-exist component (PCB layout)"
now i want to design a PCB layout with proteus and there's a component which not exist in proteus how can i create it with its specific dimensions because dimensions'll be important for the PCB layout design
thanks

[2015-08-21 15:42] rwaldron commented on #886
Of course, now I'm having trouble with this step:

I will keep you posted. Sorry about this taking so long :|

[2015-08-21 16:09] rwaldron commented on #886
Ok, got through that issue. I think I found the bug as well. I will let you know if that's true once I confirm

[2015-08-21 16:10] pxlhero commented on #886
Awesome, thanks a lot!

[2015-08-21 16:26] rwaldron commented on #886
Can you try nino-io@0.2.1? Thanks!

[2015-08-21 22:18] Zenitram-Oriaj commented on #887
Any updates on this issue?

[2015-08-22 01:30] pxlhero commented on #886
Confirming it works now. Thanks!

[2015-08-22 01:30] #886 closed

[2015-08-22 16:04] rwaldron commented on #887
I'm so sorry, I completely missed your response with the example code. I'm away for the weekend but I will try to get this reproduced on Monday. I really appreciate your patience and I apologize for the delay.

[2015-08-23 18:54] Zenitram-Oriaj commented on #887
Thanks for letting me know your out this weekend.

In the mean time, I have made a little progress on this issue. Using the manufacture provided C header file, I did see some differences between OPTS Defaults in the /lib/lcd.js file and in the #define of the LiquidCrystal_I2C.h file:

[code]
Hex values for EN, RW, RS are 0x10, 0x20, 0x40

here is a link where you can download the C Library for thi

[2015-08-24 19:58] rwaldron commented on #887
Can you change this to `PCF8574T` and try you code? I just tried this:

[code]

And it produced this:

![](https://dl.dropboxusercontent.com/u/3531958/nodebots/pcf8574t.jpeg)

[2015-08-24 22:03] rwaldron commented on #886
:clap:

[2015-08-25 23:41] henricavalcante opened #890 "iojs v3.2.0 can't complete tests."
[code]

[2015-08-26 17:26] rwaldron commented on #890
Thanks for the report!!

[2015-08-26 17:26] #890 closed

[2015-08-26 19:06] henricavalcante commented on #890
thanks!

[2015-08-26 19:14] rwaldron commented on #890
np—Thanks again for the report!

[2015-08-26 19:18] rwaldron opened #892 "Implement aref and vref properties on all component classes"
- aref: analog voltage reference
- vref: the constant power supply voltage reference

[2015-08-26 19:20] born2net opened #893 "Can't control servo in latest raspberry pi 2"
I have 2 lines of code:

var five = require("johnny-five");
var board = new five.Board();

and get an error of:

[code]

I can control LEDs just fine with johnny five.
Are servos not supported?

regards

[2015-08-26 19:23] rwaldron commented on #893
Hi, thanks for the report. Are you trying to control servos connected directly to the raspberry pi? If so, then you'll need to use the appropriate IO Plugin: https://github.com/nebrius/raspi-io

[code]

[2015-08-26 19:26] born2net commented on #893
thank you... trying now...

[2015-08-26 19:30] born2net commented on #893
THANK YOU rwaldron

worked great

[code]

[2015-08-26 19:30] #893 closed

[2015-08-26 19:36] rwaldron commented on #893
My pleasure—glad we could get you sorted out so quickly :D

[2015-08-27 16:31] rudemex opened #895 "WIFI Connect - Shield WIFI ESP8266"
Hi, how to connect wifi with shield WIFI ESP8266?

i testing this source https://gist.github.com/ajfisher/5fe60fe7d8c49b3223f0 , but no work :/

Thanks

[2015-08-27 16:51] monteslu commented on #895
You'll need to test to make sure the esp image is working.  Can you connect to it's wifi access point from your computer?

[2015-08-27 17:39] rudemex commented on #895
no, from the computer I can not connect to the shield

[2015-08-27 18:24] monteslu commented on #895
That's the hard part :)

Only advice I have on that is that I had better luck using esptool in Linux than Mac, and to make sure you're using 3.3v for power as well as RX/TX.  If the firmware writes correctly it will have an open access point available when it restarts.

[2015-08-27 18:48] rudemex commented on #895
you could run on mac?

[2015-08-27 19:07] monteslu commented on #895
Yeah it definitely runs on mac, just failed for me a couple of times while it worked on linux flawlessly.  Could have just been my system.

[2015-08-27 19:11] rudemex commented on #895
great, I have exactly the same connection,The only thing different is that I give energy to the usb connected to the Mac.

what steps it work?

Thanks

[2015-08-28 06:24] carloscarcamo opened #896 "Proximity - HC-SR04 issue"
I'm getting this warning:

[code]
I don't know if i'm doing something wrong, i'm using this simple code:

[code]

Is this normal or there is any problem?

Thanks in advance!

[2015-08-28 14:06] topkoa commented on #896
I've had this issue before.

If it helps at all I did not experience this with the more expensive "Parallax Ping Ultrasonic Range Sensor 28015", I ordered the "WYPH Ultrasonic Module HC-SR04" and had the issue that is mentioned above...

I've got a whole mess of these things I'd like to use so I'm quite interested if there is any resolution to this as well!

[2015-08-28 15:14] rudemex opened #897 "Save project atmega328"
is posible save a project in ATmega328?

Thanks

[2015-08-28 16:58] rexpie commented on #326
I have a piece of DFRobot [LCD](http://www.dfrobot.com/index.php?route=product/product&product_id=135&search=lcd&description=true#.VeCPjrR7wW8) 1602 display with IIC mounted on.

I have tried to use the cpp version of the LCD library with no issue yet. But when I switched to johnny-five, I can't print more than 12 characters in a `print` statement, and I sometimes cannot get the LCD initialized pr

[2015-08-28 17:35] rwaldron commented on #897
No, it's not possible to store and execute JavaScript code from an ATmega328. If you want to run code on-board, you'll need to use one of these: http://johnny-five.io/platform-support/#relationship:embedded

[2015-08-28 17:35] #897 closed

[2015-08-28 18:14] rwaldron commented on #896
Did you load the correct firmware onto the board? These sensor require the custom [PingFirmata provided in the docs](http://johnny-five.io/api/proximity/#pingfirmata)

[2015-08-28 18:41] rwaldron commented on #326
I have the v1 of that same LCD and it works exactly as expected. I just ordered this one to test with, so please be patient until that arrives—thanks!

[2015-08-28 18:42] topkoa commented on #896
In my case; I tried re-uploading that firmata it several times.  I switched back and forth between the two models of ping sensors as well.     I haven't had it on the test bench in a few weeks but I can fire it back up and try is again this weekend.

[2015-08-28 18:44] rwaldron commented on #896
I have several models of this same sensor, which were used to test and confirm support and all of them work correctly.

@carloscarcamo @topkoa can you both post pictures of your actual hardware? Thanks!

[2015-08-28 18:46] topkoa commented on #896
I sure will.   I won't have an opportunity until tomorrow afternoon though.

[2015-08-28 18:47] rwaldron commented on #896
Thanks! Be sure to @-ping me when you post :)

[2015-08-28 19:46] carloscarcamo commented on #896
@rwaldron yes, I've loaded the PingFirmata.
I'm using this model:

http://www.icstation.com/arduino-ultrasonic-module-sr04-distance-transducer-sensor-p-1389.html

Maybe the quality of the sensor is what cause the warning, maybe I need to buy a better sensor.

[2015-08-28 19:52] topkoa commented on #896
I think I have the same model (looks identical, same pins).

I did buy that model for a couple reasons:

1) J5 is documented to support it, and:
2) Super cheap! (as opposed to the Parallax version (~$30 bux!)

I had the same feeling as you.. Maybe to cheap to be true? I guess we will see though.

I have a feeling Rick will know what's up. :)

[2015-08-28 20:21] rwaldron commented on #896
Have you both included a jumper that connects the Echo and Trigger pins?

[2015-08-28 20:28] topkoa commented on #896
I'll have to check my test rig; however I believe it was indeed jumped.

[2015-08-28 20:35] carloscarcamo commented on #896
yes! I did it!, as this diagram suggests:

http://johnny-five.io/api/proximity/#hcsr04parallax-ping-

[2015-08-28 20:39] topkoa commented on #896
Nice! -- I'll still give it a check on my bench too when I get home tomorrow.

[2015-08-28 22:31] topkoa commented on #896
Welp; I got home early.  Just tried it and am getting the same problem...

I have it wired exactly as the diagram indicates and with the correct PingFirmata installed.

I have both ping sensors hooked up as well; (both the Parallax and the Generic).

Here's a PIC:
![img_0818](https://cloud.githubusercontent.com/assets/11139884/9558375/cb0f5cdc-4db2-11e5-91bb-79715ef07c93.JPG)

When I run the progr

[2015-08-28 22:37] topkoa commented on #896
Here is the wiring for both:

![img_0819](https://cloud.githubusercontent.com/assets/11139884/9558450/ca2c5f62-4db3-11e5-80a9-2fe4b76220cb.JPG)
![img_0820](https://cloud.githubusercontent.com/assets/11139884/9558451/ca2d06b0-4db3-11e5-91bb-efafdc18d876.JPG)

[2015-08-28 22:45] topkoa commented on #896
Another update:  I swapped out the Generic ping sensor with another with the same results.  Ruling out a faulty sensor.  (I got a pack of 10 of them)..  I only have one of the Parallax ping sensors, but that one seems to work just fine as stated above.

[2015-08-29 02:41] rexpie commented on #326
Thank you very much Rick. I tried to tweak the sleep timings in the LCD
module without any success.

2015-08-29 2:41 GMT+08:00 Rick Waldron <notifications@github.com>:

[2015-08-29 15:41] rwaldron commented on #896
Thanks for the follow up. Historically, the error you're seeing has been the result of insufficient power flow to the connected component. Let's try to reduce this as much as possible.

- Remove everything from your Arduino
- Connect _only_ the 4 pin HCSR04 (as shown in that diagram)
- **Do not** jump the 5V and GND from breadboard rails, plug those in directly to 5V and GND

![](https://dl.dropbo

[2015-08-29 15:43] rwaldron commented on #896
Also, this is an interesting read: https://forum.sparkfun.com/viewtopic.php?f=42&t=40513

[2015-08-29 16:05] carloscarcamo commented on #896
Ok. I will try later and post my results.
I think this time will work correctly :)
Yesterday I tested the ultrasonic sensor with pure C code with the arduino IDE and it worked perfectly, this was the diagram:

![hc_sr04 sketch2](https://cloud.githubusercontent.com/assets/2413746/9562785/b2d43a76-4e33-11e5-98bb-eb10ee1f6359.jpg)

And the C code:

https://gist.github.com/carloscarcamo/2d2bf6a22ef8c7

[2015-08-29 16:09] rwaldron commented on #896
@carloscarcamo can you try exactly as I describe here https://github.com/rwaldron/johnny-five/issues/896#issuecomment-136003019 Thanks!

[2015-08-29 16:10] rwaldron commented on #326
@rexpie I'll keep you posted and will let you know when the LCD arrives.

[2015-08-29 16:15] carloscarcamo commented on #896
Sure, I will do it when I get home in a couple of hours :)

[2015-08-29 17:05] topkoa commented on #896
So I did what you said, wired exactly as you indicated.  I also used a multimeter and the voltage us a steady 4.92.

I'll post some pics soon for you to verify.

From reading that thread it looks like they are just garbage.  Hah.

Maybe put a warning in the wiki?

Want me to mail you one so you can see for yourself?

[2015-08-29 17:26] rwaldron commented on #896
Probably a good idea.

I have soooo many of these—but all of mine work correctly. Where are you located?

[2015-08-29 17:27] topkoa commented on #896
Coventry, Rhode Island

[2015-08-29 18:59] rwaldron commented on #896
Oh, that's not bad. Send me an email to waldron.rick@gmail.com and we can arrange this

[2015-08-29 20:37] carloscarcamo commented on #896
The same issue!
I think that the quality of the sensor is what cause the problem!

![sensor](https://cloud.githubusercontent.com/assets/2413746/9564113/4c60cf3c-4e58-11e5-9691-417bb2288d60.jpg)

[2015-08-29 20:54] rwaldron commented on #896
Duuuuude, is there anything between the bottom of your arduino and that _metal_ table??

[2015-08-29 20:57] topkoa commented on #896
![img_0825](https://cloud.githubusercontent.com/assets/11139884/9564264/e41eba62-4e6e-11e5-8154-27c930e015df.JPG)

Here's my test; and mine is on a static sheet!  (sorry! had to digg!)

[2015-08-30 01:54] carloscarcamo commented on #896
it seems like a metal table but it is not, it's hard to explain jajaja!

[2015-08-30 03:15] born2net opened #898 "Can't get Raspberry pi working LCD 16x2"
Hello

here is the code

[code]

I tried both pins and GPIO and I get a crash with:

[code]

I know hardware-wise everything is working since it works via Python...

any help is appreciated

regards

[2015-08-30 18:10] rwaldron commented on #898
That second `io: new raspi()`, inside the board's ready handler is probably causing trouble

[2015-08-30 18:26] born2net commented on #898
tried it without didn't work.. ended up using this lib: https://github.com/fivdi/lcd
worked great with that lcd lib

closing issue...

tx for comment

[2015-08-30 18:26] #898 closed

[2015-08-31 19:14] rwaldron commented on #898
They do the same thing 0_o

The problem was that the program called `display()` instead of `on()`, which is my fault since it was never update in the docs, nor in the runner example. I've just updated both.

[2015-08-31 19:37] born2net commented on #898
tx!!

[2015-08-31 23:25] gfpacheco opened #899 "Led pulse consuming a lot of CPU"
Just by running the [Led - Pulse](https://github.com/rwaldron/johnny-five/blob/master/docs/led-pulse.md) sample code I had my CPU drained by Node. While changing `led.pulse()` for `led.blink()` reduced the usage almost entirely.

[2015-08-31 23:53] dtex commented on #899
Yep, I think we've got a problem with code that uses Animation() and loops or runs indefinitely like pulse(). The question is how best to handle it. Our current solution is cool in that it gives us sub ms timing but we don't always need that.

@rwaldron, spit balling here: what do you think of Animation() using temporal at first but setting thresholds on duration? If those thresholds are exceeded

[2015-09-01 17:29] rwaldron commented on #899
@dtex

This is exactly what I'm thinking. Go for it.

Also, yesterday I updated https://github.com/rwaldron/temporal to include explanations about it's use and why the CPU usage spikes.

[2015-09-02 12:27] sesh-kebab commented on #842
Hi @nebrius - sorry I took a very long vacation (recieved Splatoon on WiiU for my birthday).

Just wanted to let you know I have built a native nodejs extension [raspi-sonar](https://github.com/sesh-kebab/raspi-sonar) to support pingRead on Raspberry Pi. I need to trigger the ping on a separate thread among other things; just wanted to check in to see whether I'm on the right track.

My implementa

[2015-09-02 16:54] nebrius commented on #842
@sesh-kebab I hear Splatoon is a ton of fun!

My understanding is that the single pin is sufficient for what we do, but maybe @rwaldron can provide some more insight?

Nice work on raspi-sonar so far, I think you're mostly on the right track. I do have two recommendations for you that will make maintenance easier.

I would recommend using Native Abstractions for Node (https://github.com/nodejs/nan

[2015-09-02 19:13] rwaldron commented on #842
These are usually the same pin and when they are not, we instruct users to jump the trigger and echo pins. Considering this is a really fringe case, no new updates are going to be made for `pingRead`. These sensors will soon be fully supported via I2C Backpack controllers.

[2015-09-02 21:03] rwaldron commented on #896
@topkoa I received the two devices today and just set up some tests, compared them with several of my own and I'll be damned if I can't figure out what's going on with these. I can modify the read handler loop so that it only requests another measurement after the last measurement has been received. There are other controllers that do this, so it's not an issue. This will guarantee that it's impos

[2015-09-02 21:06] #896 closed

[2015-09-02 21:08] rwaldron commented on #896
Just to make sure it's documented: this fix is working around faulty hardware that's not implementing the trigger/echo timeout correctly.

[2015-09-02 21:14] topkoa commented on #896
Awesome; glad I could help!

[2015-09-02 22:50] topkoa commented on #896
Just confirming the fix worked!  I'm no longer getting that error on your latest code.

A side note, these defective sensors are still effectively not good for a production application in my opinion-- with it running on my bench it occasionally just stops reading distance (returns 0) and sits idle for a good 30 seconds then seems to reset. I presume this is the condition where it caused J5 to cras

[2015-09-03 05:29] born2net commented on #842
having the same issue with pingRead :(

[code]

[2015-09-03 15:42] #865 closed

[2015-09-03 15:42] #870 closed

[2015-09-03 15:43] #817 closed

[2015-09-03 16:27] rwaldron commented on #896
Yep, thats what I'm referring here:

Basically, we're just being more graceful about how the flaw is handled.

[2015-09-03 19:14] rwaldron commented on #326
The LCD arrived! I will start working with it and report back as soon as I know more.

[2015-09-03 20:35] rwaldron commented on #326
I was unable to reproduce, using the following:

[code]

![](https://dl.dropboxusercontent.com/u/3531958/nodebots/326.jpg)

https://youtu.be/cc9_1a4lkC8

[2015-09-04 02:24] carloscarcamo commented on #896
@rwaldron thanks for taking some time and fix the problem :)

[2015-09-04 15:04] rwaldron commented on #896
No problem!

[2015-09-04 16:21] rexpie commented on #326
Thanks a lot Rick, I shall give it another try with your code and maybe
borrow another piece of LCD. Will let you know how it goes on Monday.

2015-09-04 4:35 GMT+08:00 Rick Waldron <notifications@github.com>:

[2015-09-04 20:35] talexand opened #900 "OneWire thermometer device addresses disappearing"
## Equipment

- Board: Arduino Uno (clone) with example ConfigurableFirmata sketch burned in
- Hardware: MAX31850(2) with bidirectional 3.3-5V level shifter
- Software: johnny-five at  ^0.8.89
  - Modification: `console.log("Devices: ", devices);` inserted on line 59 of lib/temperature.js

![img_20150904_142337](https://cloud.githubusercontent.com/assets/5308179/9696935/6df6836e-5338-11e5-9bba-e45

[2015-09-06 02:10] rexpie commented on #326
Hi Rick,

I got another piece of the same LCD, but still no luck. I used your code and it is not giving me correct output.

https://youtu.be/zPIQ1274JhI

Just found out that my board has a buggy behaviour with LCD. I switched to standard UNO board without built-in bluetooth chip and it works out just fine.

Well thank you very much Rick, turns out it is the chip fault. Would you PM me your paypal,

[2015-09-06 02:16] rexpie commented on #326
However this made me think about why is a non-firmata LCD library working fine on that chip, but firmata client fails? Any insights about this Rick?

[2015-09-07 00:05] henricavalcante opened #901 "Error on install"
[code]

[2015-09-07 04:38] fivdi commented on #901
The addon serialport hasn't been updated to support io.is/Node.js v3.x yet. There are PRs for adding the required support.

[2015-09-07 16:27] rwaldron commented on #901
Thanks for filing the issue, I will close this in favor of the [thread on node-serialport](https://github.com/voodootikigod/node-serialport/issues/573#issuecomment-138259676)

[2015-09-07 16:27] #901 closed

[2015-09-07 19:26] rwaldron commented on #326
I'm not sure I follow? What board was giving you trouble? I thought you were using an Arduino UNO?

[2015-09-07 21:34] henricavalcante commented on #901
Thanks guys :)

[2015-09-08 00:48] rexpie commented on #326
I am using a customised blueno board, which attaches a bluetooth chip to the serial pins. The bluetooth chip interferes with the serial communication and chops off the tails of long streams of data. That is the reason  for incorrectness when sending long strings to the LCD.

[2015-09-08 16:00] rwaldron commented on #326
That explains a lot! Let's figure out a smart way to document this.

[2015-09-09 02:29] BrianGenisio commented on #900
Sorry, I just saw this request to take a look.

Just because it is a OneWire device doesn't mean it will work out of the box with a different OneWire device.

I took a quick look at the [data sheet](http://www.adafruit.com/datasheets/MAX31850-MAX31851.pdf) which suggests that it has a different "family code".  The MAX31850 has a family code of 0x3B where the DS18B20 has a family code of 0x28.  Tha

[2015-09-09 04:08] rexpie commented on #326
Hi Rick,

It is more likely an issue related to firmata since it affects all firmata
clients, not specifically to j5. I am not sure where you want to put in the
documents. If you have a guide line as to which doc should we put this bit
of information in, I can write up something and give you a PR.

2015-09-09 0:00 GMT+08:00 Rick Waldron <notifications@github.com>:

[2015-09-09 09:16] sesh-kebab commented on #842
@nebrius wow thank you so much for providing all the great info. Glad to be of help - I had no idea I would be knee deep in c++ code but definitely a lot of fun to be contributing to a great library. I have started a new branch using the NAN. Will let you know once everything is working ok and promoted to master.

@rwaldron ok - thanks for the explanation. I was under the impression that jumping t

[2015-09-09 22:45] nebrius commented on #842
@sesh-kebab Nobody expects the C++ inquisition! :D

You can use a voltage divider network to scale the signal from 5v down to 3.3v by putting two resistors in series. Check out the section on voltage divider network at http://www.electronics-tutorials.ws/resistor/res_3.html. In this case, Vin will be connected to ECHO (and set to 5v for calculations), and Vout will be connected to the Pi (and set

[2015-09-10 09:33] Chris2011 opened #902 "Question about arduino network shield and touchscreen"
I didn't test it yet but I will, only what I wanted to know, is there support for these 2 shields?

Touchscreen with SD for Arduino - http://www.amazon.de/Foxnovo-Touchscreen-SD-Kartenschacht-Arduino-Board/dp/B00P5QJHGC

Ethernet Shield w5100 - http://www.amazon.de/Ethernet-Schild-shield-Arduino-w5100/dp/B009N826DY

Thx in advance. :)

[2015-09-10 13:51] rwaldron commented on #902
@Chris2011 hi! I'm on vacation right now and won't be back until this time next week. Someone else might jump in before then, but I didn't want to leave you hanging until then

[2015-09-10 14:42] Chris2011 commented on #902
Thx for your answer. Happy vacation :). Only one thing, that I understand it right, I can't put the JS script onto the arduino and get it working without a host computer right? It is only working via connection to a host computer, I use nodejs to write stuff and communicate with arduino over the firmata protocoll? So it is not working with a standalone arduino board + modules, right?

[2015-09-10 14:52] fivdi commented on #902
Correct

Correct

Correct

[2015-09-10 14:53] rwaldron commented on #902
Inline...

On Thu, Sep 10, 2015 at 10:43 AM Chris2011 <notifications@github.com> wrote:

Correct, but you _can_ run the JS code on platforms like:

- Tessel 2
- Intel Edison (which has an Arduino compatible breakout)
- Intel Galileo Gen 1 & 2
- pcDuino 3
- Raspberry Pi
- BeagleBone Black
- Linino One

The whole list, plus support info, is here:
http://johnny-five.io/platform-support/#relationship:

[2015-09-10 14:56] Chris2011 commented on #902
Ok Thx, I only have an Arduino Uno R3, I like the language but I thought that could be easier to use JS. I like the principle behind that to use JS for the IoT AFAP. SO I thought that this here is working directly on a standalone Arduino without a host computer. Anyway, I will try the Tessel 2 soon. Thx for your help and enjoy your vacation.

Cheers

Chris

[2015-09-11 19:58] talexand commented on #900
Thanks @BrianGenisio! Once we get in the analog replacements, I'll pester @bstein5 to send them over.

[2015-09-12 02:21] rudemex opened #903 "Joystick return on press?"

[2015-09-13 22:21] rudemex opened #904 "Led Matrix detect if led is on or off"
hi

Happy programmer day!!!!

how to detect if a LED on ot off?

[2015-09-14 02:14] donmccurdy opened #905 "Support for 7-segment LED HT16K33 Backpack"
Hi there! I have an [Adafruit 4-digit 7-segment display w/ I2C backpack](http://www.adafruit.com/products/879), and have been struggling to get it working. Originally I thought I could use `five.Led.Digits`, but the `controller: "HT16K33"` option seems to force the type to `five.Led.Matrix`. I dug into ledcontrol.js a bit and it looks like HT16K33 is assumed to be a matrix-only controller.

I fina

[2015-09-16 17:08] rwaldron commented on #903
Use the Button class for generic Joystick components with a "press" sensor :)

[2015-09-16 17:08] #903 closed

[2015-09-16 17:11] rwaldron commented on #904
There currently isn't a way to check if an LED in a Matrix is on or off. Matrix components are always initialized to "off", so any changes to that state are done in user code—which means that user code can always know which LEDs it's turned on or off.

[2015-09-16 17:13] rwaldron commented on #905
That's correct, it's just a matter of someone doing the work to add support. I have a couple of these, I just haven't had time to work on it.

Yep—once I or anyone else that wants to work on it has a chance to add support, then it will be as easy as the API shown in use here: http://johnny-five.io/examples/led-digits-clock-galileo/

[2015-09-17 03:45] donmccurdy commented on #905
Thanks Rick – I guess what I should have asked then, if wrote up a PR implementing the HT16K33 controller's [digits()](https://github.com/rwaldron/johnny-five/blob/master/lib/led/ledcontrol.js#L416-L419) and [print()](https://github.com/rwaldron/johnny-five/blob/master/lib/led/ledcontrol.js#L504-L507) methods, would that be a reasonable way to add support? Or is there some larger refactor of ledco

[2015-09-17 15:36] vavikk commented on #680
I installed npm package for meteor (meteorhacks:npm). Works fine, so far.

[2015-09-17 18:24] rwaldron commented on #680
@vavikk Thanks for confirming!

[2015-09-17 18:24] #680 closed

[2015-09-17 20:01] rwaldron commented on #905
Yes.

There is, but I wouldn't consider it a blocker here. It just means that somewhere down the line I will find you and ask you to assist in reviewing/contributing to the refactoring.

[2015-09-18 09:01] toome123 commented on #680
Thanks, I will try it out :)

[2015-09-20 23:56] rudemex commented on #904
ok, thanks!

[2015-09-24 04:12] kukulako opened #909 "arduino ad9850"
can i use this script with arduino ad9850 signal generator.....?/

[2015-09-28 07:46] jacklee0223 opened #910 "Question about Heroku Deployment"
Hi,

I am a recent grad at General Assembly's Web Development Immersive(12-week coding bootcamp), meaning I am still a complete noob at web development. So please excuse me for any incompetency.

For my final project, I have chose to make an app that allows users to control drones via browser. On top of Node.js and Johnny-Five, I've used Express, Angular, and Socket.io to allow the control of the

[2015-09-28 10:30] BrianGenisio commented on #910
Hey there!  Sounds like an exiting project you are working on!

From what I understand of your project, you are using Bluetooth or Serial (USB) to connect to an Arduino.  The moment the code goes to Heroku, the code is running somewhere in the cloud, completely disconnected from your board.  In its current state, you'd need to connect the Arduino into a computer some place in a data center in some

[2015-09-28 16:25] cpustar opened #911 "Nodejs crashes on HTTP request"
[code]
The code works if I don't make any HTTP requests.

As soon as I make a GET request it crashes, for example: http://localhost:3000

Node.js version: v4.1.0
Serialport version: github.com/ghostoy/node-serialport.git#nan1to2
Express version: 4.13.1
johnny-five: 0.8.92

Board: Arduino Uno

[2015-09-29 02:20] canda commented on #580
Isn't it possible to measure the actual angle/position by adding the rates multiplied by time elapsed for each sample over time? Is it precise enough?

[2015-09-29 02:53] jacklee0223 commented on #910
Thank you for your thorough explanation!

It all makes perfect sense now and I don't know whether I should be relieved to know what's happening or bummed there is no way to make it work as-is (both but leaning more towards the latter).

Zetta sounds like an interesting platform and I will definitely spend my time learning more about it.

Thanks!

[2015-09-29 02:54] #910 closed

[2015-09-29 06:30] UlisesGascon commented on #911
Hi! As your script needs Arduino, you can always add the HTTP part inside the Board callback as follow:

[code]

[2015-09-29 12:31] cpustar commented on #911
@UlisesGascon

Thanks for responding. It was an issue with Node  v4.1.0.

I reverted back to node v0.12.6 and everything works fine.

[2015-09-29 12:31] #911 closed

[2015-09-29 20:55] BrianGenisio opened #912 "Support the Photon Weather Shield"
This is the device:
https://www.sparkfun.com/products/13630

First pass, I plan to support
- [x] Humidity Temperature
- [x] Humidity
- [x] Pressure
- [x] Altimeter
- [x] Pressure Temperature
- [ ] Multi Support for the shield itself?

Anything else that should be supported in the first pass?

[2015-09-30 00:43] rwaldron commented on #912
Are the second pass things built in?

[2015-09-30 00:54] BrianGenisio commented on #912
@rwaldron No.  As far as I can tell, the "second pass" things are not specifically called out.  They can be anything really, and just map to pins.  So they would get their own components based on what you decide to plug into those spaces.  Striking them.

[2015-09-30 00:59] BrianGenisio commented on #912
At first I had thought that this shield had a unifying I2C interface, but the more I read it, I realize that is not the case.  Really, there are two chips just connected to the I2C bus:
- HTU21D (Humidity and Temperature)
- MPL3115A2 (Pressure, Altimiter, and Temperature)

So, in reality, the devices should be for these chips specifically:
[code]

We can alias them as `PHOTON_WEATHER_SHIELD` to be

[2015-09-30 13:52] rwaldron commented on #912
There are lots of altimeter and humidity components that are commercially available, so let's go ahead and create two new component classes:

- Altimeter
  - BMP180 (implemented, just need to expose data)
  - MS5607 can be implemented
  - add more...
- Hygrometer (I don't mind if we also export an alias called Humidity \*)
  - SHT15
  - RHT03 via I2C backpack
  - add more...

Other Multi breakouts

[2015-09-30 13:53] 4math2379 commented on #912
Hi ,

Waou ! Thanks for this information.
I will take a look .

Vesuviian

[2015-09-30 16:17] dougseven commented on #912
The Photon weather shield is fairly expandable, with built in ports for wind and rain sensors, and pin-outs labeled for soil moisture, soil temp and more. I thin focusing on the specific devices on the shield (HTU21D, MPL3115A2) is probably the right decision. This also means you won't have to make a decision about which temperature to use for the controller.

[2015-09-30 17:03] BrianGenisio commented on #912
Cool.  I just ordered the AdaFruit standalone version of those two sensors so I can test them separately.  I'll be hacking a bit tomorrow, so if the shield shows up, I might have some good progress to show.

[2015-09-30 20:29] #905 closed

[2015-10-01 03:02] dougseven commented on #912
I was looking through some of my stuff and I found the SparkFun Weather Shield for Arduino (https://www.sparkfun.com/products/12081). It has the same humidity and barometer sensors as the  SparkFun Weather Shield for Photon - plus it has a ALS-PT19 light sensor. This confirms for me that the controllers should be the sensor ID (i.e. HTU21D, MPL3115A2, ALS-PT19).

[2015-10-01 19:16] BrianGenisio commented on #912
Making progress on the HTU21D support here: https://github.com/BrianGenisio/johnny-five/tree/photon-weather-shield

I'm able to get relative humidity and temperature, but I can't seem to get them both at the same time.  I need to toggle between reading the temperature register and the humidity register using `i2cReadOnce` but the act of toggling makes the values unreliable.  If I hold the register

[2015-10-02 13:58] protozoo opened #913 "Unable to install johnny five anymore"
Hi there,

this past week i've been testing johnny five without problems, untill yesterday, when I tried to install-it in an [electron](http://electron.atom.io) project. As it didn't work out of the box, I've been messing around following partial solutions taken from many places (like [here](https://gist.github.com/jedthehumanoid/a7f8278e0a37d259adca), [here](https://github.com/jgautier/firmata/is

[2015-10-02 14:10] dtex commented on #913
Serialport does currently support 4.x The team is working on it at here:

https://github.com/voodootikigod/node-serialport/issues/578

I believe a major version Serialport update will be released any day now.

If you don't want to wait, there are two forks in that issue that you could install right now or you could roll back to node 0.12.7

[2015-10-02 14:10] #913 closed

[2015-10-02 15:12] protozoo commented on #913
Thank you @dtex, I rolled back to node 0.12.7 and it's working again

[2015-10-02 21:23] dougseven commented on #912
Why would you create two objects using the HTU21D controller? Couldn't you just create one that exposes properties for each of the data types:
  var hygrometer = new five.Hygrometer({
    controller: "HTU21D"
  });

  hygrometer.on("change", function() {
    console.log("temperature");
    console.log("  fahrenheit   : ", this.fahrenheit);
    console.log("humidity");
    console.log("  relative h

[2015-10-02 21:38] rwaldron commented on #912
Because temperature readings are the exclusive domain of the Temperature class. Once @BrianGenisio is done, he will wrap all of these in an instance of the `Multi` class that exposes each of the single purpose sensor objects as properties. Take a look at [IMU](http://johnny-five.io/api/imu/). I also just realized that I need to write up docs for `Multi`

[2015-10-02 21:43] dougseven commented on #912
That makes sense. How will the Multi class handle the fact that there are two temperature values - one from each sensor. From a usage standpoint I have seen people take the values from each and average them to account for any variances.

var temp = (hygrometer.F + barometer.F) / 2;

[2015-10-02 22:00] dougseven commented on #912
is this an example of what the implementation would look like?

[code]

[2015-10-02 22:13] dougseven commented on #912
This is the example I am building for our workshop to use the Photon Weather Shield. Since I am working on the documentation and samples in parallel to @BrianGenisio and @rwaldron I want to verify that this is correct (I have made some assumptions here).

https://github.com/dougseven/Demos/blob/master/photon/IoTHub/weather.js

[2015-10-02 22:15] rwaldron commented on #912
Close... There are actually two different "multiple sensor modules" on this shield and I'm not sure how to resolve the competing temperature sensors to consolidate the two into one. We've been around the block re: "shields as a class" and it always comes up short.

- IMU => Multi
- Yours has asynchrony problems.
  This:

[code]
  ...will execute only once, and before any code inside the "data" han

[2015-10-02 22:17] rwaldron commented on #912
With the exception of the `temperature` properties appearing on instances of classes that they wouldn't appear on, this makes sense.

[2015-10-02 22:28] rwaldron commented on #912
Meh. It might be time to revisit an older ~~argument~~ discussion about `Shield`...

[2015-10-02 22:29] dougseven commented on #912
If each of the sensors (Multi) in the shield has its own temperature, why wouldn't you make temperature a property of the Mulit sensor within the shield?
[code]

[2015-10-02 22:32] dougseven commented on #912
Isn't a Shield just an IMU of one or more Sensors or IMUs? Can an IMU have an IMU as a property?

[code]

[2015-10-02 22:36] dougseven commented on #912
For the record, I am also fine with instantiating the individual sensors and working with them instead of the shield.

[code]

[2015-10-02 22:46] rwaldron commented on #912
Because the HTU21D and MPL3115A2 are the `Multi` components, each contain instances of other classes.

Sorry, this will sound obnoxious and pedantic, but I don't want you to be misinformed: an "IMU" is an "inertial measurement unit" and refers specifically to multi-sensor modules that serve that purpose. We're only talking about generic multi-sensor modules.

@BrianGenisio I *think* we can have a

[2015-10-02 22:53] rwaldron commented on #912
We need a way to make it easy to group these things, it's a challenge, but it's not impossible—we'll figure it out.

@BrianGenisio wdyt?

[code]

I think it will actually work, even with the component list, because IIRC the Multi instances satisfy the requirements here:

[code]

[2015-10-02 22:54] rwaldron commented on #912
Of course it requires `Multi` controllers for HTU21D & MPL3115A2, then it's just recursive `Multi` controllers. Zany shit!

[2015-10-03 00:03] BrianGenisio commented on #912
Yes, @rwaldron.  That is mostly what I'm thinking, though I think it can make for a somewhat awkward interface... calling `weather.barometer.barometer`.

Here is what i think the consumption of the components should look like:

## We need to support the standalone components on the chips:
### HTU21D
[code]

[code]

### MPL3115A2
[code]

[code]

## Then we need to support the fact that the chips ha

[2015-10-03 20:15] oallouch opened #915 "support for Grove Q Touch"
I'm quite a rookie, so maybe it's already there, but do you support the Q Touch's AT42QT107 ?
It talks I2C, so maybe it's simple to translate it from [https://github.com/Seeed-Studio/Seeed_QTouch](https://github.com/Seeed-Studio/Seeed_QTouch)

Btw, here's the device: [http://www.seeedstudio.com/wiki/Grove_-_Q_Touch_Sensor](http://www.seeedstudio.com/wiki/Grove_-_Q_Touch_Sensor)

Thx a lot in advan

[2015-10-03 21:15] rwaldron commented on #912
@briangenisio I think that works for me. Another alternative: implement just the chip Multi controllers and then make a plugin module that wrapped them up neatly. We can try both

[2015-10-03 21:25] rwaldron commented on #915
Not currently supported, but looks trivial. I'll get one ordered. The plan:

- add an Expander controller for qtouch's chip
- add a Keypad controller that's implemented with the Expander instance

[2015-10-03 22:58] oallouch commented on #915
Keypad I saw, but Expander I'll learn.
(so much to learn, but it's very exciting)

[2015-10-03 23:21] oallouch commented on #915
Ok, I managed to get some data using i2cReadOnce.

	var address = 0x1B;
	this.i2cConfig();
	var self = this;
	setInterval(function() {
		self.i2cReadOnce(address, 0X03, 1, function(bytes) {
			console.log("Bytes read: ", bytes);
		});
	}, 100);
But it's way less elegant than the Expander/KeyPad solution.
If you got one, you'll still be my hero.

[2015-10-04 03:15] BrianGenisio commented on #912
Ok, good news @dougseven .  I worked the HTU21D from scratch, and now I have a fully functioning humidity and temperature sensor working ([on my branch](https://github.com/BrianGenisio/johnny-five/tree/photon-weather-shield)).  Plus, I've tested it with a stand-alone chip.  It works that way too... I might get that one wrapped up as a PR before moving on to the Barometer.

Barometer/Temp (MPL3115A

[2015-10-04 07:56] dougseven commented on #912
That is great news! We can do our workshops and Azure Tour with just the HTU21D - although it would be awesome to get both sensors working. Thanks @BrianGenisio !!!!!

[2015-10-04 14:25] BrianGenisio commented on #912
@dougseven Good plan then.  I've started a new branch just for the HTU21D PR, and I have an initial PR ready to go: https://github.com/rwaldron/johnny-five/pull/916

It still needs unit tests and a diagram, but it is otherwise ready for you to play with.  Let me know how it works for you!

Note that the examples in that PR are for vanilla Arduino.  You'll need to modify them to use the `particle-i

[2015-10-04 19:31] rwaldron commented on #915
Yes, I ordered the sensor yesterday :)

In the meantime, you're better off using `i2cRead`

[code]

I'll update you when my sensor arrives

[2015-10-04 20:06] rwaldron commented on #912
@dougseven

Let me make myself useful here. I made this to try out @BrianGenisio's work:

[code]

[2015-10-04 20:10] rwaldron commented on #912
@dougseven how much more time is there?

[2015-10-04 20:23] BrianGenisio commented on #912
I think I'll have a Barometer POC in a day or so. The AdaFruit library is
much easier to implement in J5 than the SparkFun approach. Assuming no
snags, pressure, altimeter, and temp will be pretty straight forward. Will
not be as bad as I had thought. In general, the AdaFruit examples have been
much better for both of these devices. Glad I looked.
On Sun, Oct 4, 2015 at 4:10 PM Rick Waldron <notif

[2015-10-05 02:13] BrianGenisio commented on #912
@dougseven More good news!  I have the hard part written for the MPL3115A2: https://github.com/BrianGenisio/johnny-five/tree/mpl3115a2

So far, it is properly exposing pressure and temperature.  I'm also successfully harvesting altimeter data... we just don't have a component to expose it yet.  That is the next step.

Everything from here is cake.  It will still take some time to round it out, but

[2015-10-05 07:47] dougseven commented on #912
@rwaldron Our first Azure Tour stop is in Philadelphia on Oct-13. We will lock down the content for that lab this week. We have a workshop in Amsterdam 2-days later. Then we have a couple weeks before the next one.

[2015-10-05 07:53] dougseven commented on #912
@BrianGenisio Thank you!!!

I may not know enough about developing node modules to know how to test this. I cloned your HTU21D branch and I am referencing it locally. I checked the node_modules folder where my test app is and the new hygrometer.js file is there (as a spot check). When I run the code I get the this error:

[code]

My code is the same as @rwaldron code above, but I point to my local

[2015-10-05 11:38] BrianGenisio commented on #912
@dougseven What version of particle-io is installed?  If you haven't updated since Friday, you probably have an old version that doesn't implement I2C.  Please make sure your particle-io version is  0.10.0.

[2015-10-05 12:59] oallouch commented on #915
This sensor is fun, even for kids games.

Thx a lot !

[2015-10-05 13:26] BrianGenisio commented on #912
@dougseven Here's a little teaser for you... reading [both sensors simultaneously from the particle shield](http://prntscr.com/8nz64p).

Gotta get back to the day job this AM, but I am setting a goal of having both PRs complete by Friday night, but hopefully before that.

[2015-10-05 16:05] dougseven commented on #912
@BrianGenisio that was it. Got it to run, but it didn't seem like the data event handler was firing. I had to go to the office for the day - but I will check it later tonight.

[2015-10-05 17:04] rwaldron commented on #915
@oallouch looking forward to playing with it :) Did my modified code work ok for getting all the key touches?

[2015-10-06 02:37] ColtraneNadler commented on #585
has this been completed yet? if not I would take this on in spirit of Hacktoberfest :)

[2015-10-06 07:13] dougseven commented on #912
@BrianGenisio @rwaldron - I tested this with the Photon and the SparkFun Weather Shield - works great! Thank you.

[2015-10-06 09:47] oallouch commented on #915
When I first tried, i2cRead didn't work. I should try again.

[2015-10-06 10:56] superdcc commented on #399
hello~  you can try this!

https://github.com/rwaldron/johnny-five/wiki/Ping#setup

I think problem is Firmata 's version...

[2015-10-07 23:23] BrianGenisio commented on #912
@dougseven Both sensors have landed as of 0.8.98.  I'd still like to add a `Multi` controller for this shield which contains all the sensors.  But this is not an Arduino compatible shield, so examples require particle-io and I don't think this project has a precedent for including external IO modules in the examples.

Before I toss it and build it as a separate module, I'm going to test something.

[2015-10-08 00:01] #842 closed

[2015-10-08 00:01] rwaldron commented on #842
Seems resolved?

[2015-10-08 00:02] rwaldron commented on #755
Please reopen if still an issue

[2015-10-08 00:02] #755 closed

[2015-10-08 00:03] rwaldron commented on #719
Thanks for documenting the issue here :)

[2015-10-08 00:03] #719 closed

[2015-10-08 00:04] #715 closed

[2015-10-08 00:05] rwaldron commented on #675
Can you update this to use the Proximity class and let us know if the issue remains?

http://johnny-five.io/api/proximity/

[2015-10-08 00:06] rwaldron commented on #705
Docs stuff is all in johnny-five.io now

[2015-10-08 00:06] #705 closed

[2015-10-08 06:56] dougseven commented on #912
@BrianGenisio SparkFun makes a weather shield for Arduino with the same two sensors plus light sensors - https://www.sparkfun.com/products/12081

[2015-10-08 19:44] rwaldron commented on #912
I've put together a plugin that wraps all three sensors into a simplified API: https://github.com/rwaldron/j5-sparkfun-weather-shield

- The value of the `celsius`, `fahrenheit` & `kelvin` properties is an average of both sensor's temperature readings.
- The properties are defined at the same level making it very easy to serialize the entire object: https://github.com/rwaldron/j5-sparkfun-weather-

[2015-10-08 20:37] BrianGenisio commented on #912
Love it.  I think that means we can close this issue, then?  @dougseven has full support now ;)

[2015-10-08 21:14] rwaldron commented on #912
Awesome :)

Let's hold it open until we resolve the breakout vs shield discrepancy that I mentioned in gitter.

[2015-10-08 23:54] BrianGenisio commented on #912
Just tried the plug-in with the photon and the shield.  Looks perfect.  Nice job.

[2015-10-09 18:10] rudemex opened #920 "Install J5 and Raspi-io on Raspbian Jessie"
errors.

pi@woonkypi ~ $ node -v
v4.0.0
pi@woonkypi ~ $ npm -v
2.14.2

[2015-10-09 18:53] fivdi commented on #920
Please post the complete output of the install process.

[2015-10-09 20:18] rudemex commented on #920
pi@woonkypi ~ $ sudo npm install raspi-io

Wiring Pi is already installed, skipping

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/4.0.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/home/pi/node_modules/raspi-io/node_modules/raspi-pwm/.node-gyp"
make: Entering directory '/home/pi/node_modules/raspi-io/node_modules/raspi-pwm/build'

[2015-10-09 20:26] rudemex commented on #920
pi@woonkypi ~ $ sudo npm install johnny-five
-

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/4.0.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/home/pi/node_modules/johnny-five/node_modules/serialport/.node-gyp"
make: Entering directory '/home/pi/node_modules/johnny-five/node_modules/serialport/build'
make: *** No rule to make ta

[2015-10-09 20:31] nebrius commented on #920
Ouch. I'm going to go out on a limb and say this is because raspi-io still uses NAN1. Once raspi-io is upgraded to NAN2, I _think_ this will be fixed. Fingers crossed 😅

[2015-10-09 20:44] rudemex commented on #920
shit! jajajaja i need j5 on my raspi XD

[2015-10-09 20:45] nebrius commented on #920
Do you need to use jessie? Wheezy is still available for download and should work fine.

[2015-10-09 20:47] fivdi commented on #920
Alternatively, use Node.js 0.12 on Jessie

[2015-10-09 20:50] nebrius commented on #920
Sorry, that was my bad, I read ahead too quickly and didn't see that you were using node 4. @fivdi is right, just downgrading to 0.12 should work.

For the record, J5 also doesn't work on node 4 for the same reason. The upgrade process is being tracked over at https://github.com/voodootikigod/node-serialport/issues/578

[2015-10-09 20:52] rudemex commented on #920
ok, thanks @fivdi and @nebrius I'll try this solution.

[2015-10-09 20:58] fivdi commented on #920
serialport is an optional dependency in J5. It's not always needed. In particular, it's not needed for Raspi-IO. The serialport compile errors displayed when J5 is installed can be ignored in this case.

[2015-10-09 21:02] nebrius commented on #920
oh cool, good to know @fivdi. For some reason I thought it was required. As long as you don't need to access an Arduino, that won't be a blocker.

[2015-10-09 21:05] fivdi commented on #920
So ist es :)

[2015-10-10 02:08] rudemex commented on #920
great, i will try this solutions now, thanks @fivdi @nebrius

[2015-10-10 04:58] rudemex commented on #920
is working.

Thanks @fivdi @nebrius .

[2015-10-10 04:58] #920 closed

[2015-10-10 05:39] nebrius commented on #920
👍

[2015-10-11 12:10] Alexaas commented on #48
Hi, I have problems installing it on Win 8.1 with VS Express 2015. I get a lot of build errors during installation. Any idea what this could be?
Btw. what is ment by "make sure you have the C++ dependencies checked" ??

[2015-10-11 12:21] Alexaas opened #921 "Install johnny-five on Windows 8"
Hi,
I tried to install johnny-five on a Windows 8.1 machine. I have installed:

Visual Studio Express 2015,
Python27
nodejs 4.1.2

The installation aborts because of build errors. See below.

Any idea what could be wrong?

Thanks,
Alex

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
  serialport.cpp
  serialport_win.cpp
  enumser.cpp
C:\

[2015-10-11 12:30] fivdi commented on #48
@Alexaas what version on Node.js is being used? If it's Node.js 4.x, the build errors are likely to be related to serialport which is in the process of being upgraded to support Node.js 4. If this is the case, see https://github.com/voodootikigod/node-serialport/issues/578 for further details.

Not sure, but would guess that it meant that a checkbox needed to be checked during the VS2010 install p

[2015-10-11 12:38] fivdi commented on #921
This is happening because serialport, which Johnny-Five depends on, hasn't yet been upgraded to support Node.js 4.x. See https://github.com/voodootikigod/node-serialport/issues/578 for further details. Everything should work with Node.js v0.12.x.

[2015-10-11 15:02] jackyphuong opened #922 "Can We connect from host to arduino by wifi or bluetooth?"
Hello, while developing or run js code, we need to connect to arduino by usb connection. Could we replace it by wifi or bluetooth? I intend to use esp8266 but dont find any document to implement it.

[2015-10-11 15:13] #921 closed

[2015-10-11 19:24] rwaldron commented on #922
cc @monteslu @ajfisher

[2015-10-11 19:34] bstein5 commented on #900
Hi Brian,
I'd like to mail you one of my Onewire MAX31850 thermocouple signal
amplifiers so you can figure out how to integrate it into the Johnny Five
framework. What mailing address would you prefer?
Thanks,
Ben

On Fri, Sep 11, 2015 at 1:59 PM, Trevor Alexander <notifications@github.com>
wrote:

--
Ben Stein

[2015-10-12 01:06] ajfisher commented on #922
@jackyphuong are you simply trying to talk to you arduino over wifi / bluetooth or are you trying to flash it that way?

If it's simply replace the cable for talking to it (once firmata is already on the board) then there's two paths for you:

Bluetooth:

Depends on your module as to whether you're using HC-05 or HC06 (and they are different)

HC-05: https://github.com/rwaldron/johnny-five/wiki/Ge

[2015-10-12 14:14] BrianGenisio commented on #900
@bstein5 Email me at BrianGenisio at gmail

[2015-10-14 13:36] alexcroox opened #924 "OLED screens"
I have the following screen [SSD1306 from Adafruit](https://www.adafruit.com/products/661).

It doesn't seem to fit in the LED or LCD example scripts. Should I be using this 3rd party library?

https://github.com/noopkat/oled-js

[2015-10-14 15:23] alexcroox opened #925 "Neopixel/RGB LED strips"
Does Johnny-five support Adafruit Neopixels (WS2812 and WS2811 LED/drivers) or similar RGB LED strips?

[2015-10-14 18:43] frxnz commented on #925
You can use Neopixels with Johnny-Five using [node-pixel](https://github.com/ajfisher/node-pixel). Node-pixel supports WS2812, and I *believe* WS2811 strips will work as well.

[2015-10-14 21:46] rwaldron commented on #925
Thanks @frxnz

[2015-10-14 21:46] #925 closed

[2015-10-14 21:46] rwaldron commented on #924
You got it! That's the officially support OLED plugin :)

[2015-10-14 21:46] #924 closed

[2015-10-14 21:50] alexcroox commented on #925
Ah perfect thank you. And for the [non addressable strips](https://www.sparkfun.com/products/12023) what would you recommend?

[2015-10-15 10:52] alexcroox commented on #925
https://learn.adafruit.com/rgb-led-strips/usage are the non addressable wiring diagram.

I'm guessing I could use J5 LED RGB? https://github.com/rwaldron/johnny-five/blob/master/docs/led-rgb.md

[2015-10-15 13:14] frxnz commented on #925
Yep. Most non-addressable strips should just work with the `Led`/`Led.RGB` classes.

[2015-10-15 13:17] alexcroox commented on #925
Appreciate it thank you!

[2015-10-15 16:47] Anfa-am opened #926 "Improved support for motion sensor"
There is ok support for motion sensors but the majority of the time it is sporadic, unpredictable and unreliable.

[2015-10-15 16:55] dtex commented on #926
Can you give us more info? Which motion sensor(s), what you are seeing, and what you expect to see.

[2015-10-15 16:58] Anfa-am commented on #926
IR Infrared Motion Detection Sensor Module (DC 5V~20V)

Its an io device so I'm expecting to see a 1 or a 0. problem is it only returns accurately about 1/3 of the time.

[2015-10-15 18:05] rwaldron commented on #926
@Anfa-am those devices have potentiometers on them to adjust sensitivity and reading cycle time:

![](https://i.gyazo.com/6bc53eb9fb72fa3280b8dbcd3a30c4ec.png)

Johnny-Five's `Motion` class is a very minimal OO abstraction that just processes whatever signal it receives into events. I've found that the cheaper the source of these devices, the lower the quality and accuracy. For example: the Parall

[2015-10-15 18:23] Anfa-am commented on #926
@rwaldron, I see. Going through the j5 source for motion it became obvious that its not the issue as its mostly callbacks from the motion sensor's return.

I had originally thought it was a library issue because it works perfectly in C. Perhaps calibrating the module will help eliminate some of the variable inconstancy.

Regardless of the solution it is safe to assume that it is not a software one

[2015-10-16 13:23] jackyphuong commented on #922
Thanks @ajfisher, it really only replace cable. I followed link use bluetooth HC-06, it works well

[2015-10-16 13:23] #922 closed

[2015-10-16 16:25] aabm00 opened #927 "Is Mux Shield II compatible with J5?"
Hello

I need to expand my Arduino Yun  with more Analog imputs. I have found this shield "Mux Shield II".
https://www.sparkfun.com/products/11723
It comes with a library In arduino languaje that has to be included in the sketch to be executed in the board.

I'm using node/J5, so it's supposed that this library would have to be implemented in Javascript to work, isn't it?

I have been looking in t

[2015-10-16 23:45] ajfisher commented on #922
Excellent - good to hear!

On Sat, Oct 17, 2015 at 12:23 AM jackyphuong <notifications@github.com>
wrote:

[2015-10-17 16:16] AlexDmr commented on #48
Same situation with windows 10 and VS Express 2015, NodeJS 4.1.1.
Here are the erros :+1:   enumser.cpp
C:\Enseignements\2015\miniServerMM\node_modules\johnny-five\node_modules\serialport\node_modules\nan\nan.h(263): error
C2995: 'v8::Local<T> _NanEnsureLocal(v8::Local<T>)' : function template has already been defined (..\src\serialport.cpp
) [C:\Enseignements\2015\miniServerMM\node_modules\johnny

[2015-10-17 16:26] rwaldron commented on #48
@AlexDmr Node.js 4.x support is in progress.

[2015-10-17 16:30] rwaldron commented on #926
Can you share the specific code that you're testing with?

[2015-10-17 16:35] rwaldron commented on #927
Looking at the cpp library code, this could easily be supported as an [`Expander`](http://johnny-five.io/api/expander/) component. I've just ordered one, once I receive it we can start working on a controller for it.

[2015-10-18 23:33] aredridel opened #929 "What's required to support node 4"
I just managed to hack things together, but there's a whole chain of dependency upgrades needed.

`serialport@2.0.1` is out, supporting nan 2 and therefore node 4. However, it doesn't support node 0.10. I've created `metaserialport` that requires both as optional dependencies (and so only fails to work if both fail to install. If it's easier, I can have it fail installation instead of failing to w

[2015-10-18 23:35] aredridel commented on #929
A pull request to use metaserialport is at https://github.com/rwaldron/johnny-five/pull/930

[2015-10-19 02:24] rwaldron commented on #929
What's required: time to finish testing a version specific node-serialport install routine. It's in progress and I'm not rushing it.

[2015-10-19 03:24] aredridel commented on #929
That too!

[2015-10-19 06:00] Alexaas commented on #48
@rwaldron Could you please give an update here once it should work with Node.js 4.x?

[2015-10-19 13:20] alexcroox opened #931 "Device or Firmware Error (after working fine for a week)"
So I've come back Monday morning ready to get excited about working with J5 some more! However now my Raspberry Pi2 can't connect to my Arduino Uno v3 using J5 (over USB). It was working great all last week.

[code]

I've reflashed the board with ping firmata successfully and even uploaded a simple LED blink test to make sure my Arduino wasn't dead, no problems there.

I've removed all connections

[2015-10-19 13:55] veebuv opened #932 "Hi, getting this error on install, any idea on the update for serialports for node 4.x.x?:"
^
9 errors generated.
make: *** [Release/obj.target/serialport/src/serialport.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:270:23)
gyp ERR! stack     at emitTwo (events.js:87:13)
gyp ERR! stack     at ChildProcess.emit (events.js:172:7)
gyp ERR! sta

[2015-10-19 14:02] dtex commented on #929
@rwaldron is there an open issue/pr for the version specific install routine? Is that an npm thing or a node-serialport thing? I liked your idea for package.json.

[2015-10-19 14:10] dtex commented on #932
serialport is getting there, and they have a release for node 4.x but I think they are still ironing out issues on some platforms:

https://github.com/voodootikigod/node-serialport/issues/578

We can't just change the dependency here because it would break things for those cases and more importantly for anyone NOT running node 4.x. I see in another issue that a fix to allow different seriaport ins

[2015-10-19 14:13] dtex commented on #48
@rwaldron I propose creating an issue for node 4.x support that details the state of things that we can just point everyone to. Much like @jacobrosenthal did over on the serialport repo. I'm traveling all day, but will write one up tonight.

[2015-10-19 15:00] alexcroox commented on #931
Starting working 3rd time I uploaded the firmata. So strange.

[2015-10-19 15:02] alexcroox commented on #931
Spoke too soon, restarting the script again and I'm back to timeout error.

[2015-10-19 15:03] veebuv commented on #932
Hey dtex, fixed it. Didn't want to rollback to 0.12.x so i just installed 'n' and switch between versions, this made life easy. serialport is supported on that version. I'll permanently switch back when the issue is fixed on this side, and from the looks of the previous issues, it's being worked on

[2015-10-19 15:06] alexcroox commented on #931
Listing serialports I get the following:

[code]

So it looks like J5 is trying connect on the 1st one which isn't the right one? The second is listing the name of my Arduino.

[2015-10-19 15:58] alexcroox commented on #931
OK I'm an idiot, had forever.js running on a startup cron job that was taking control of the port! ARG!

[2015-10-19 15:58] #931 closed

[2015-10-19 17:45] barabasj opened #933 "node-red timeout"
I'm experiencing the same problem described in #767. Trying to start node-red with Johnny-five enabled, it starts and ends with a timeout error. Running node samples it works just fine.

Any idea?
Regards, Javier.

[2015-10-19 18:29] rwaldron commented on #929
Me too, but it's not going to happen :( I think @aredridel's solution looks close to that, but I am only just now getting a chance to sit down and test it. If it does the deps handling the way I want it to, then that's the path for Johnny-Five

[2015-10-19 18:45] fivdi commented on #929
@aredridel is the lack of support for node 0.10 in certain use cases or is it a general issue? I tried the original PR for NAN2 support with node 0.10.38 on a BeagleBone and what I tried worked.

[2015-10-19 19:05] rwaldron commented on #929
I've written an explanation and updated firmata.js's postinstall script. I've also copied the same script here (as a work in progress). Please test with `npm install git://github.com/rwaldron/johnny-five.git`

[2015-10-19 20:14] rwaldron commented on #929
Current results from installing and running a program:

[code]

[2015-10-19 20:41] aredridel commented on #929
Oh, interesting. serialport-2 didn't work for me at all on node 0.10.40 on my mac.

[2015-10-20 16:30] aabm00 commented on #927
Thanks.
How shall I know when the controlled will be available?

For your answer I suppose that any component needs a javascript controller to be operative with J5. Am I right?

[2015-10-20 19:47] #561 closed

[2015-10-20 20:47] BrianGenisio commented on #900
Ok, I have one of these amplifiers (Thanks Ben!) now.

I haven't hooked it up yet.  Just reading.  This worries me... apparently, they have a custom version of the  OneWire library!?!?  Not sure why.  Depending on why that is could make support for this device non-standard.  Not only do you need to include ConfigurableFirmata (instead of StandardFirmata), it has to include a custom OneWire lib?

h

[2015-10-20 21:23] BrianGenisio commented on #900
Looking into this more, I'm skeptical that they modified the OneWire library.  I pulled it down and ran a diff on it.  I don't see any difference between what they call a custom OneWire library, and OneWire v2.2 .

Looks like it may be as easy as modifying the DS18B20 driver to support a different family code... Hoping to get it all hooked up tonight to start playing :)

I also think I can test th

[2015-10-20 21:42] bstein5 commented on #900
I used a logic level converter in my setup, but I was going off what the
arduino website suggested, since I'm very new to the world of electrical
prototyping. If you can run the I/O on 3.3v then I'd say go for it, but
double check the data page on the arduino site, since as I recall it
specifically warns only to do that if you "know what you're doing". Either
way let me know how it shakes out.
Tha

[2015-10-20 22:18] rwaldron commented on #927
Yep!

I just got the thing assembled today, so I will work on this over the next few days :)

[2015-10-22 13:56] topkoa opened #936 "Adafruit Audio FX Sound Board Support"
Hey I've ordered a couple of these for my testing and would like to use it in an up-coming project...

Looking for some advice on connecting it to an Arduino/J5, specifically should I control it via the Serial/UART or via GPIO pins? (It can handle both, so I'm looking for the (easiest) most accepted solution when controlling it via JS/J5)

Thanks!

https://learn.adafruit.com/adafruit-audio-fx-soun

[2015-10-23 04:54] dtex opened #938 "led animations keep playing when another method (i.e. blink) is called"
Running this:
[code]
gives a weird, twitchy pulse. We could stop animations when certain methods are called, but is that desired behavior?

[2015-10-23 14:50] aabm00 opened #939 "Does J5 support 74HC4067 and 74HC4051 yet?"
Hello

Some days ago I send you a message asking if Mux Shield II was supported by J5 and you kindly are working in a controller for it. thanks !!!

I'm working in a project that an arduino Yun has to control machines (UTAS) (pressures, temperature and humidity) at this stage. Depending of the model they can be between 10 to 30 analog sensors.

So the Mux shield II would an option in some cases bu

[2015-10-23 16:07] rwaldron commented on #936
Support is inbound! https://github.com/jgautier/firmata/pull/97

[2015-10-23 18:38] rwaldron commented on #939
https://github.com/rwaldron/johnny-five/tree/muxshield2

The problem with multiplexer ICs is that they generally require synchronous IO to function correctly. For example, with the muxshield2 uses a single pin for  a single pin over 16 input I was forced to write a mechanism with these semantics:

1. add device pin to list of pins to report values for
2. create an async loop that will:
  a. look u

[2015-10-23 18:49] rwaldron commented on #938
IIRC, that used to just stop the pulse and do a blink, it would happen fast enough that pulse would likely never be seen. Any "cyclic" thing should kill a previous/currently running "cyclic" thing.

[2015-10-23 20:22] topkoa commented on #936
Awesome!

Looking forward to seeing it land!

[2015-10-24 02:11] BrianGenisio commented on #900
It took me a while to get the components I needed so I could set it up.  I decided to go with the level converter.

A few observations:

1. I was able to get it working with the Arduino library example, but the probe doesn't seem to affect the reading.  There is an on-board temperature sensor which I can blow on and see the values change, but the probe itself doesn't seem to do anything.  Were you

[2015-10-24 20:20] bstein5 commented on #900
Not sure what to say, I had it working with just the arduino, both in
parasitic mode and powered. The only real issue I ran into was getting a
null signal due to a ground loop when I powered the other components, which
I was able to fix by electrically isolating the thermoprobes.
Perhaps its wired so the chip itself acts as the thermoprobe? Not sure how
to do that, but I remember reading about it

[2015-10-25 13:55] rwaldron commented on #938
@dtex ok, so I was right above... We needed better tests for this change: https://github.com/rwaldron/johnny-five/commit/d12f8fba241c6d1e074cffa7e030762f9e12f400#diff-cef4895508501dd891236f06ba4cadfe Can you just call `state.animation.stop()` before this line: https://github.com/rwaldron/johnny-five/commit/d12f8fba241c6d1e074cffa7e030762f9e12f400#diff-cef4895508501dd891236f06ba4cadfeR384 ?

[2015-10-25 13:56] rwaldron commented on #929
Is this still the case?

[2015-10-25 13:57] rwaldron commented on #932
Please update to latest Johnny-Five!

[2015-10-25 13:57] #932 closed

[2015-10-25 13:57] rwaldron commented on #936
I'll keep this open until we can come back to it :)

[2015-10-25 13:59] rwaldron commented on #933
Can you share the exact error that you're getting? Thanks!

[2015-10-25 13:59] rwaldron commented on #915
My Grove Touch sensors finally arrived!!

[2015-10-25 15:14] barabasj commented on #933
Rick,
Thanks for your answer. The complete starting screen follows:

![pantallazo](https://cloud.githubusercontent.com/assets/12459930/10716265/a4883098-7b11-11e5-96b4-dac2f6a29730.png)
In text:
Welcome to Node-RED
===================

25 Oct 12:08:47 - [info] Node-RED version: v0.11.2
25 Oct 12:08:47 - [info] Node.js  version: v0.10.36
25 Oct 12:08:47 - [info] Loading palette nodes
25 Oct 12:08:4

[2015-10-25 15:15] barabasj commented on #933
My questions still open. I closed it by error.

[2015-10-26 20:31] dtex commented on #938
I'll make that change this evening. There are a couple of other places I need to add it but not many (pulse, fade, servo.sweep). Also, I can't forget about refactoring animation so that it doesn't use temporal for more than a couple of seconds.

[2015-10-26 21:32] scottgonzalez opened #941 "Improve usability of uploading PingFirmata"
Copying the source for PingFirmata isn't very friendly right now. We can improve this by linking to just the source (enabling select all, copy; or save as) and by providing a button to copy the content to your clipboard (via clipboard.js). The clipboard part might need to be specific to johnny-five.io.

[2015-10-26 22:26] rwaldron commented on #941
I don't like the idea of further encouraging people to use PingFirmata. It needs to DIAF. There are many alternatives that don't require a potentially hazardous amount of  process blocking IO.

[2015-10-26 22:30] scottgonzalez commented on #941
I don't think this change would increase the encouragement to use PingFirmata, it would just make it easier for those that *need* to use it. If the components that currently require PingFirmata can be changed to not require it, that'd be ideal. But as long as it's required for some components, it should probably be easier to upload.

[2015-10-26 22:34] soundanalogous commented on #941
I'll add a [NewPing](http://playground.arduino.cc/Code/NewPing) wrapper to ConfigurableFirmata at some point. NewPing is timer-based and thus non-blocking... but it will affect other features that depend on timers (such as PWM, Servos, etc) on certain pins depending on the board in use. @MrYsLab had an initial implementation of a NewPing wrapper at one point.

[2015-10-26 22:36] soundanalogous commented on #941
The i2c backpack approach that @ajfisher is taking is likely the best solution however since it won't mess up timer related functionality on other pins.

[2015-10-26 22:42] ajfisher commented on #941
So pretty much got a working version of this in node-interchange as this is my test case. Interchange will install either PingFirmata directly on the arduino or the I2C backpack version depending on what you tell it to do. That will at least make the installation as easy as:

[code]

Though I agree with @rwaldron PingFirmata isn't wonderful so the backpack is the better option in that it won't aff

[2015-10-27 03:34] aredridel commented on #929
It is not!

[2015-10-27 03:34] #929 closed

[2015-10-27 10:57] oallouch commented on #915
So much fun

[2015-10-27 14:54] oivinds opened #942 "node repl output"
I cant tell if this is related to johnny-five or node repl.
I am trying to run a servo using this script:
 https://github.com/rwaldron/johnny-five/blob/master/docs/servo.md

When i run node i get :
1445957264226 Device(s) RaspberryPi-IO
1445957264278 Connected RaspberryPi-IO
1445957264296 Repl Initialized

Typing servo.sweep() or just servo returns this:

{ board:
   { io:
      { domain: null,

[2015-10-27 15:34] #942 closed

[2015-10-27 21:03] rwaldron commented on #929
Thanks for the follow up!

[2015-10-27 21:04] aredridel commented on #929
Sure thing!

[2015-10-28 00:38] sevastos commented on #585
Should `console.log` of deprecation notices be turned to Board.log as well?
If so, during tests there won't be any messages printed for using a deprecated function.
For example [LedControl.setLed](https://github.com/rwaldron/johnny-five/blob/master/lib/led/ledcontrol.js#L194-L195).

[2015-10-29 00:38] BrianGenisio commented on #900
![img_2901](https://cloud.githubusercontent.com/assets/137387/10807198/5933d71a-7db3-11e5-9bb2-20014431d007.JPG)

This is how I have it wired.  The MAX31850 is connected to 5V (VIN) and ground.  The data pin has a pull-up resistor to 3.3 v and is connected to L1 on the level converter.  The H1 on the level converter is connected to digital 2.  The thermocouple is connected with the two red wires o

[2015-10-29 01:38] BrianGenisio commented on #900
Also, good news!  I have a very crude, but working example of reading the data from this sensor.  At least, it is reading just like the Arduino version of the code... from the chip, not the thermocouple.

There were only two modifications necessary.  The first is the family code.  This device has a family code of 0x3B.  The other change is that you need to poll the chip for data until it is ready.

[2015-10-29 13:02] topkoa commented on #936
Hey I see support landed over with firmata!

I'm looking forward to checking it out.  I have a question, however-- can the ".serialConfig" (et al) be utilized within the confines of the J5 API? Or is that support still on it's way?

[2015-10-29 13:56] jyepesr1 opened #944 "Creating new Board with SerialPort"
I've tried running this code, but always I have the same error

[code]

1446126080144 SerialPort /dev/ttyACM0
1446126080145 Connected /dev/ttyACM0
1446126090151 Device or Firmware Error A timeout occurred while connecting to the Board.

Please check that you've properly flashed the board with the correct firmware.
See: https://github.com/rwaldron/johnny-five/wiki/Getting-Started#trouble-shooting

[2015-10-29 16:43] alexcroox commented on #642
On the topic of SIGINT, I've noticed not all my shutdown proceedures get time to execute before J5 fires process.exit(1);. The last console log I get is "Board closing". Is there anyway to stop J5 closing the process on my behalf when I want to do other things before fully exiting.

[2015-10-29 20:37] rwaldron commented on #642
@alexcroox IIRC: `sigint: false`

[2015-10-29 20:39] rwaldron commented on #944
Are you connecting to a board that has StandardFirmata running on it? If yes, then you can't change te baudrate to 9600, because StandardFirmata is set to 57600

[2015-10-29 20:50] rwaldron commented on #944
Just do this:

[code]

[2015-10-30 08:56] alexcroox commented on #642
That works perfectly thank you! Do I need to close the board manually myself or is safe to just do process.exit(1);

[2015-10-30 16:57] rwaldron commented on #642
That just prevents johnny-five from registering it's own sigint handler, which in turn prevents the call to `process.exit(0)`

[2015-10-31 13:48] topkoa commented on #915
Hey has anyone messed with this sensor much yet?

I got one to mess with, and am using the rwaldron i2c code above-- it seems to communicate OK-- however it seems WAY sensitive, such that when I leave it alone it's fine, but if I connect a wire to one of the sensor leads it continually reports a touch sense.  (as in insulated wire, without me touching it afterwards)

It's not much fun, if the act

[2015-10-31 17:11] topkoa commented on #915
Duh.  I messed with the "delay" in the i2cConfig() and was able to dial it in.

[2015-10-31 17:32] mjuanfe opened #948 "Reading temperature and pressure stops after few seconds"
I'm trying this example:

[code]

After run it works but after few seconds stops giving the information, why this happen? I'm doing something wrong?

After few seconds windows prompt is again on my route:

[code]

I think this guy has the same problem: http://stackoverflow.com/questions/33247480/arduino-uno-and-johnny-five-stops-after-few-seconds

[2015-10-31 17:54] fivdi commented on #948
If Node.js v4 or higher is being then the issue is highly likely to be related to serialport which has issues with Node.js 4 on Windows. See https://github.com/voodootikigod/node-serialport/issues/578.

[2015-10-31 19:58] mjuanfe commented on #948
Thanks for the fast response, tomorrow I'll try with a different version of node and I'll tell you how was.

[2015-10-31 20:01] fivdi commented on #948
AFAIK everything should be fine with Node.js v0.12.x on Windows.

[2015-10-31 20:32] dtex commented on #762
All the classes that have a PCA9685 controller now leverage the PCA9685 Expander

[2015-10-31 20:32] #762 closed

[2015-10-31 20:37] boneskull opened #949 "breakout MockFirmata into its own package"
this would be helpful for testing libs which leverage j5, though not absolutely a big deal.

workaround: `require('johnny-five/test/util/mock-firmata')`

it may free j5 up to add `test/` to `.npmignore`, if that's something you're interested in.  in my packages, I tend to add anything to `.npmignore` which need the `devDependencies` to run.  the tests may be useful as reference material, however.

[2015-10-31 20:45] dtex commented on #949
It could/should also be used in the nodebots workshopper.

[2015-10-31 20:47] boneskull opened #950 "move newBoard() into MockFirmata or otherwise export?"
This might be helpful for libs leveraging j5.

To use `MockFirmata` in integration tests, to ready the `Board`, one must:
1.  pass a `MockFirmata` instance as the `io` prop to the `Board` constructor.
2.  cause `MockFirmata` to emit events `ready` and `connect`.

All libraries will need to take these steps when writing integration tests.  Currently, you must implement this yourself, but `newBoard(

[2015-11-01 10:57] mandeeps708 opened #951 "Readme typo"
https://github.com/rwaldron/johnny-five#infrared-reflectance
Section heading braces.
Maybe the opening parenthesis is missing.

[2015-11-01 11:34] mjuanfe commented on #948
I installed  nvm for windows and tried the 0.12.2 version, still not working :(

[2015-11-01 11:42] fivdi commented on #948
Hmm, sorry to hear that. I'm afraid I don't have a windows machine and can't really provide any further information. Is exactly the same thing happening?

[2015-11-01 11:53] mjuanfe commented on #948
Yes, the same result, I think I'll try to install a VM with Ubuntu, anyway bothers me not solve it! grrr...

[2015-11-01 16:26] dtex commented on #951
Hi @mandeeps708 That was fixed by #935 and next time the readme is generated it will be gone. Thanks for reporting.

[2015-11-01 16:26] #951 closed

[2015-11-01 16:42] mandeeps708 commented on #951
Sorry, I didn't know if it was there.

[2015-11-01 16:48] dtex commented on #951
No apologies necessary, we'll take all the help we can get :-)

[2015-11-02 11:27] oallouch commented on #915
You can also try (I haven't) to calibrate it using the registry 0x38 .
See https://github.com/Seeed-Studio/Seeed_QTouch/blob/master/Seeed_QTouch.h

[2015-11-02 14:47] topkoa commented on #915
Thanks so much!   This makes so much more sense... (I'm quite new to the concepts of i2c so this didn't occur to me..)

After reading that document; it's nice to know there is a "calibration" and "reset" for this chip-- in my testing, even after ratcheting up the delay to get initially better results, it would tend to "go off the rails" if there were too many touch events...  My (admittedly novice

[2015-11-02 18:24] #927 closed

[2015-11-03 04:49] rwaldron commented on #915
The code above is a raw reading and not actually what I expect anyone to use. I landed a new Keypad controller on master

[2015-11-03 04:50] rwaldron commented on #915
I'll push out a release tomorrow morning

[2015-11-03 05:16] rwaldron commented on #915
Also, about i2c delay: that's for creating _microsecond_ delay between setting the register and reading it. That's **process blocking** on the board, so don't do that ;)

[2015-11-03 05:18] rwaldron commented on #915
I just pushed the release to npm.

[2015-11-03 05:18] #915 closed

[2015-11-03 05:26] rwaldron commented on #915
https://github.com/rwaldron/johnny-five/blob/master/docs/keypad-QTOUCH.md

[2015-11-03 09:36] christill commented on #804
So can you use johnny-five with https://learn.adafruit.com/adafruit-pn532-rfid-nfc?view=all ?

[2015-11-03 13:42] rudemex commented on #804
yes, i have two nfc, Adafruit PN532 and RFID522

[2015-11-03 13:44] christill commented on #804
@rudemex How does that work? I can't find any docs on it?

[2015-11-03 13:53] rudemex commented on #804
sorry, not , in the end I could not make it work from J5 , install the serialport and work with what he read me the port. https://instagram.com/p/8Mqdzju44t/?taken-by=rudemex

[2015-11-03 13:55] christill commented on #804
@rudemex Ok, cool, Am I able to use johnny five along side this on the same arduino uno? I want to be able to scan and NFC card then turn on an LED attached to the same board, using J5 for controlling the LED. Thanks

[2015-11-03 13:59] rudemex commented on #804
@christill I'm working on a project with NFC , unfortunately , you'll have q send / receive data through the serial port and handle everything from Arduino code with J5 I could not make it work.

[2015-11-03 14:16] christill commented on #804
@rudemex. OK, I'm confused now. The RFID is an arduino shield, so connected to the arduino. Can I use J5 and serialport on the same board?

[2015-11-03 14:22] rudemex commented on #804
sorry , my English is not very good .

video for example , do not use J5 , but if you use nodejs . what I do is, Arduino code read the ID tag , and nodejs is reading what gets the serial port , and from nodejs do what I have to do and return to send data through the serial port , so they receive the arduino , arduino code and get from that data sent and do what I do. you will not be able to do eve

[2015-11-03 15:12] rwaldron commented on #804
We just landed support in the io protocol for serial/uart, so expect new component support soon.

[2015-11-03 15:14] rudemex commented on #804
@rwaldron great!

[2015-11-03 15:15] christill commented on #804
@rwaldron awesome! How soon? :)

[2015-11-03 16:51] oallouch commented on #915
You're the best.

Thx again

[2015-11-04 01:44] topkoa commented on #915
Seconded!

Oh, and thanks for setting me straight on my incorrect usage of the "delay"... I'm still learning the ropes on this stuff, and it's refreshing to get such helpful feedback!

[2015-11-04 07:12] aabm00 commented on #939
I'm very sorry for the delay to answer
The last week and this one, I can't dedicate time at this project. I want to have time to understand how firmata works, and how you has implemented it, in a way to understand how to create controllers like "mux shield II" and others.
 I hope the next week I can take a look at your comments about mux shield II.

Sorry again, and thanks

[2015-11-04 15:50] rwaldron commented on #915
No problem!

Anytime you have questions, or need any guidance, _please_ join us in the [Johnny-Five gitter](https://gitter.im/rwaldron/johnny-five). Everyone there is super welcoming and always willing to help or to point you to the right person for help!

[2015-11-04 16:05] rwaldron commented on #804
Once @soundanalogous publishes a release of [Firmata](https://github.com/firmata/arduino), then Johnny-Five can start planning new component classes using the serial APIs.

My present thinking is to create a generic  `Receiver` class (and of course `Transmitter`), which can be used to "receive" data and deliver it via data events. That would then be used to implement RFID/NFC component classes. Th

[2015-11-04 22:09] rwaldron opened #953 "Temperature => Thermometer?"
Let's consider this...

[2015-11-05 03:14] BrianGenisio commented on #953
Yep.

[2015-11-05 05:36] ericman314 commented on #768
I have this code to initialize a `Board`:

[code]

When I run this with nothing plugged in, I encounter this error:

[code]

I found this comment in `board.js`, `serialport.list() will never result in an error. On failure, an empty array is returned. (#768)`, which led me here.

I'm not exactly sure what is meant by this, but it seems to me like `result` is undefined rather than an empty array.

A

[2015-11-05 14:37] rwaldron commented on #938
@dtex can you write up a patch for this?

[2015-11-05 14:40] rwaldron commented on #933
Sorry I missed your reply! Where is this code running, i.e. on a raspberry pi (like the other issue you mentioned)?

[2015-11-05 14:40] dtex commented on #938
Rodger

[2015-11-05 14:41] rwaldron commented on #912
Seems safe to close this!

[2015-11-05 14:41] #912 closed

[2015-11-05 14:43] rwaldron commented on #926
@anfa-am I'm going to reclose this, but you can reopen if you want to dig deeper in the future. I'm still interested in the C code that you used. Be sure to @-mention me if you ever come back to this.

[2015-11-05 14:43] #926 closed

[2015-11-05 14:48] rwaldron commented on #909
Sorry for the delay in responding. Currently there is no explicit support for such devices, but johnny-five is always interested in exploring possibilities.

[2015-11-05 14:51] rwaldron commented on #904
@rudemex I'm going to close this—if you want to reopen in the future, please feel free to do so :)

[2015-11-05 14:51] #904 closed

[2015-11-05 14:53] rwaldron commented on #871
Let's definitely do this

[2015-11-05 14:55] rwaldron commented on #854
This is in! https://github.com/rwaldron/johnny-five/commit/0d5887b1c949d8d33d8b6b083361ec4507799d41

[2015-11-05 14:55] #854 closed

[2015-11-05 14:56] rwaldron commented on #811
Any updates?

[2015-11-05 14:56] rwaldron commented on #808
@resseguie can you write this up?

[2015-11-05 14:57] rwaldron commented on #806
I'm going to close this, but we can reopen whenever either of you would like to continue working on it :)

[2015-11-05 14:57] #806 closed

[2015-11-05 14:57] rwaldron commented on #805
Any updates?

[2015-11-05 14:58] rwaldron commented on #796
Thanks @scottgonzalez!

[2015-11-05 14:58] #796 closed

[2015-11-05 14:59] rwaldron commented on #784
Any updates?

[2015-11-05 15:00] #759 closed

[2015-11-05 15:03] rwaldron commented on #750
@mmerlin I'm sorry this took 4 months for me to follow up :(

I thin the change you proposed is completely reasonable and here's why: all digital IO pins will have been initialized `LOW`, so it follows that `0` is the initial value once that pin's mode becomes input.

[2015-11-05 15:14] rwaldron commented on #675
@cybertiti I'm going to close this for now—if you want to dig in again, we can reopen :)

[2015-11-05 15:14] #675 closed

[2015-11-05 17:12] barabasj commented on #933
No. In my case it is running in a Arduino Mega. If I run the code from the
command line it works. From Node-Red fails.
Regards, Javier.

On Thu, Nov 5, 2015 at 11:40 AM, Rick Waldron <notifications@github.com>
wrote:

[2015-11-05 18:45] nebrius commented on #805
I still haven't played with it yet. I've had a few people write in curious about other OS'es, but I feel like Arch support is more requested than Ubuntu Core. It's an admittedly very small sample size.

[2015-11-06 03:54] dtex commented on #938
Closed with #954

[2015-11-06 03:54] #938 closed

[2015-11-06 04:04] dtex commented on #899
@rwaldron Okay, I need to get on this before we melt someone's CPU. What do you think of putting the threshold mechanism into Temporal instead of Animation()?

[2015-11-06 09:20] kukulako commented on #909
ok thanks..

[2015-11-06 16:56] rwaldron commented on #953
FTR, I am obviously +1

We would not eliminate `Temperature`, we'd just rename to `Thermometer` and provide an alias for compatibility. Then all examples would be updated to use new API name

[2015-11-06 16:57] rwaldron commented on #768
Looks like a breaking change from serialport. That sucks.

[2015-11-06 17:07] rwaldron commented on #768
According to the node-serialport source, there is still no way that this path will be taken, because the error is always set to an empty string:

- https://github.com/voodootikigod/node-serialport/blob/master/src/serialport.cpp#L439-L445
- https://github.com/voodootikigod/node-serialport/blob/master/src/serialport.cpp#L456-L476

@beriberikix any experience with this issue?

[2015-11-06 17:08] rwaldron commented on #899
@dtex not sure—can we try Animation first and see if it makes sense to move to Temporal?

[2015-11-06 17:11] dtex commented on #899
Will do.

[2015-11-07 00:34] kukulako commented on #909
@rwaldron

this is a arduino sketch in C
---------------------------------------------------------------------------------------------------------------------------
/*
 * A simple single freq AD9850 Arduino test script
 * Original AD9851 DDS sketch by Andrew Smallbone at www.rocketnumbernine.com
 * Modified for testing the inexpensive AD9850 ebay DDS modules
 * Pictures and pinouts at nr8o.dhlpilo

[2015-11-08 21:49] bstein5 commented on #900
Could you please post the code you've hashed out so far, especially the family code, so I can run it on my end and check? I've determined that analog signals are simply too finicky for the temperatures and setup I'm working with, so digital it is!

[2015-11-09 01:15] BrianGenisio commented on #900
@bstein5 Yeah.  Sorry I haven't gotten any further yet...  life has gotten in the way. This is not complete, though it works.  It needs work to be less copy-pasty.  It is mostly my hacking to get it working.  If you work on it further, let's collaborate.  Show me your code, etc.  Perhaps it makes sense for me to make you an admin on my fork?  Anyways, here is the start: https://github.com/BrianGen

[2015-11-10 02:40] scottgonzalez opened #955 "Sensor: Boolean barrier should be based on raw value"
The boolean barrier is currently based on the scaled value, but it seems like it should be based on the raw value.

If there's consensus on this, I can put together a PR.

[2015-11-10 03:35] ajfisher opened #956 "Implement HC-SR04-I2C-BACKPACK controller"
Implement a controller which works for the HC-SR04 module that works with the backpack at https://github.com/ajfisher/nodebots-hcsr04

@ajfisher to implement - this here as a note to finish it off.

[2015-11-10 05:44] boneskull commented on #949
dupe of #735

[2015-11-10 05:45] boneskull commented on #735
see referenced issue #949 for more information.  I closed that as a dupe of this

[2015-11-10 16:51] rwaldron commented on #953
- [x] Renaming files, updating file names
- [x] Alias: Temperature -> Thermometer
- [x] Update wiki
- [x] Update examples

https://github.com/rwaldron/johnny-five/commit/1cd5eeb01c143dc4a70f35630d7cec65b2b9c6a5

[2015-11-10 16:52] rwaldron commented on #953
Also, schedule here: https://github.com/rwaldron/johnny-five/wiki/Temperature

[2015-11-10 17:01] rwaldron opened #958 "Update wiki API docs pages: Reformat "Shape" sections"
Here's an example of the new format:

[code]

[2015-11-10 17:41] scottgonzalez commented on #958
Do you want a checklist to ease collaboration?

* [ ] Accelerometer
* [ ] Altimeter
* [ ] Animation
* [ ] Barometer
* [ ] Board
* [ ] Boards
* [ ] Button
* [ ] Compass
* [ ] ESC
* [ ] Expander
* [ ] Gyro
* [ ] Hygrometer
* [ ] IMU
* [ ] IR.Reflectance
* [ ] Joystick
* [ ] LCD
* [ ] Led
* [ ] Led.Digits
* [ ] Led.Matrix
* [ ] Led.RGB
* [ ] Motion
* [ ] Motor
* [ ] Multi
* [ ] Piezo
* [ ] Pin
* [ ]

[2015-11-10 17:41] rwaldron commented on #958
Thanks!

[2015-11-10 18:44] rwaldron commented on #949
https://github.com/rwaldron/mock-firmata

[2015-11-10 18:44] #949 closed

[2015-11-10 18:45] rwaldron commented on #735
https://github.com/rwaldron/mock-firmata

[2015-11-10 18:45] #735 closed

[2015-11-10 18:58] rwaldron commented on #955
I think this would give strange results:

[code]

If the `booleanBarrier` was 0-1023, this program would only sort of work correctly at the very bottom end of the potentiometer's range. If you need to work with the raw voltage reading, then I suggest using the standalone `scale` function, which is `five.Fn.scale(value, fromLow, fromHigh, toLow, toHigh)`.

[2015-11-10 19:15] scottgonzalez commented on #955
Here's an even simpler case that I had which made me find this:

[code]

`this.boolean` is always `false` because the values are scaled.

If this is intended, that's fine. The docs just weren't clear, so I can close this and update the docs if that's the preferred way to handle this.

[2015-11-10 19:20] rwaldron commented on #955
Maybe this is a documentation issue? In the docs, it says "defaults to 512": http://johnny-five.io/api/sensor/#api maybe it should be clearer somehow?

[2015-11-10 20:29] cescopag opened #959 "Motor: some commands skipped"
Hi everyone, i'm having weird problems trying to control two motors with Arduino and J5.
I'm using a L293D chip as motor driver with external power input.
I'm testing this simple script:

    var motorA, motorB;
    var five = require('johnny-five');
    var board = new five.Board();
    board.on('ready', start);

    function start() {

    	motorA = new five.Motor({
    		pins:{
    			pwm: 6,

[2015-11-10 21:01] cescopag commented on #959
UPDATE: I tried setting firmata and johnny-five both to 9600 bauds but I got the same issues

[2015-11-10 21:52] rwaldron commented on #959
@dtex this sounds strangely like that thing we encountered at jsconf... Any thoughts?

[2015-11-10 23:19] scottgonzalez commented on #955
That seems good. I can send a PR for that and update the docs once the PR is merged.

[2015-11-10 23:40] #955 closed

[2015-11-10 23:40] rwaldron commented on #955
@scottgonzalez good to go for the docs update

[2015-11-10 23:48] scottgonzalez commented on #955
Docs are updated.

[2015-11-10 23:51] rwaldron commented on #955
Thanks!

[2015-11-11 00:01] ajfisher commented on #956
Just got to fix a test - but this is failing on the within test.

[code]

Error:

[code]

I can't for the life of me see why it would be sending a NAN when the other two pass....

[2015-11-11 01:13] soundanalogous commented on #956
Is the backpack's I2C interface specific to the HCSR04? Would it be possible to create an i2c interface that covers a range of proximity devices (those that would require a backpack at least), or is the HCSR04 the only proximity sensor that currently needs a backpack?

[2015-11-11 01:27] dtex commented on #959
I'm trying to remember what we did to make it repeatable (if we ever did make it repeatable). It only happened on your computer right? I'm also trying to identify all the places where the bug could exist. What about hitting extra keys on the keyboard could possibly cause the value of a pin to change? That really sounds like something in USB/Serial/hardware land.

@cescopag I have lots of ideas to

[2015-11-11 02:06] ajfisher commented on #956
So I haven't tested this with a parallax Ping but it should work. At the moment, I think this is the only one that doesn't provide an i2c interface that is in common use within the nodebots world (as they are only a couple of bucks)

[2015-11-11 02:15] dtex commented on #959
... but it was with Motor() both times and I haven't heard of anything like this with any other class. LED is pretty much the same thing so...

[2015-11-11 08:36] cescopag commented on #959
Thank you for your feedback!

@dtex I'm using a proto-shield I built myself, but it's just a L293D pre-patched to some pins. It is basically equivalent to this: https://csacomani.files.wordpress.com/2012/09/l293d_proj.jpg

I'm using a Macbook and Arduino UNO via USB. I was using a HC-06 bluetooth adapter in the past, and I got similar problems. I'm not sure it was the exact same behavior, but I gu

[2015-11-11 18:32] dtex commented on #959
This is silly and is almost certainly a dead end but it's easy to check. Exactly which Macbook and USB host controller are you using? I wonder if they match @rwaldron's.

These are the items I'm talking about:
![screen shot 2015-11-11 at 12 25 19 pm](https://cloud.githubusercontent.com/assets/854911/11099208/a8575df0-886f-11e5-816d-947a59f35b24.png)

Assuming this isn't the culprit (and it probabl

[2015-11-11 19:14] dtex commented on #959
I made this little test rig using LED's, but still using all your code with motor() controlling the pin values and I was unable to replicate:

![screen shot 2015-11-11 at 1 08 40 pm](https://cloud.githubusercontent.com/assets/854911/11100219/8f9bf7f2-8875-11e5-92f6-f7b450892db7.png)

Expected behavior is:
[code]
We can eliminate the motor controller if the behavior persists for you with this setup

[2015-11-11 19:16] dtex commented on #959
Heck, you don't even need the red wires and LED's to test that, just green and yellow.

[2015-11-11 22:17] cescopag commented on #959
That was a very simple but clever test! I just tried it and made a video, so you can see the problem occurring a couple of times:
https://www.youtube.com/watch?v=fqh6WpT-zW4

Here is the details of my mac:
<img src="https://photos-6.dropbox.com/t/2/AAAqfMPZnTdsC6P7pMXMb1FYv_CrJ72c_nGzrSJvNsVVnw/12/218685/png/32x32/3/1447297200/0/2/Screenshot%202015-11-11%2023.13.30.png/ELOQMBjX7cKgBSAHKAc/fq9hC882

[2015-11-12 04:01] dtex commented on #959
The mac details didn't come through but the video did and that's some seriously weird shit. I don't know what to think. We know the calls are firing because the motor object is returned and written to the console. Tapping "W" on the keyboard a couple of times would not cause anything to happen in johnny-five, firmata, serialport or Arduino land but it seems to shake the commands loose somehow. The

[2015-11-12 07:03] cescopag commented on #959
Ok it prints both log lines immediately after each command every time, and nothing when I tap on the keyboard...

In this screenshot the a.forward() didn't turn the led on, but you can see the logs just after the a.forward()
https://www.dropbox.com/s/5leyj8nxx8v7tzz/Screenshot%202015-11-12%2007.54.46.png?dl=0

[2015-11-12 07:22] dtex commented on #959
So it seems to me our problem has to be in node-serialport or the USB Controller. I wonder if sending four commands in such short order is contributing to the problem...

Wait a minute.... did you try a different USB cable?

[2015-11-12 17:57] cescopag commented on #959
yes, tested with two two cables, same problem...

[2015-11-12 18:12] cescopag commented on #959
just tried with a linux laptop and it works like a charm!

[2015-11-12 18:24] dtex commented on #959
Ya, it works on other Macs as well.

I just learned a trick that will help us eliminate firmata and the JS side of node-serialport. It's like the firmata hack but you don't have to edit anything. If you normally run your program like this:
[code]
try this instead
[code]

It's kind of a pain because it outputs the motor object every time you call a method but if you scroll up you should see somethi

[2015-11-12 18:29] dtex commented on #959
Also, thanks for indulging me yet again and also thanks for noticing the traffic on the RX LED.

[2015-11-12 18:41] cescopag commented on #959
you're welcome, now I'm curious as well! here is the output, looks exactly the same as yours:

    AnalogWrite 6 0
    serialport Write: {"type":"Buffer","data":[230,0,0]} +4s
    DigitalWrite 2 0
    serialport Write: {"type":"Buffer","data":[144,40,0]} +1ms
    DigitalWrite 3 1
    serialport Write: {"type":"Buffer","data":[144,40,0]} +0ms
    AnalogWrite 6 128
    serialport Write: {"type":"Buf

[2015-11-12 18:42] cescopag commented on #959
I was thinking... is there a way to "ping back" from arduino back to mac what it is receiving?

[2015-11-12 18:56] dtex commented on #959
And thats an example where it didn't respond right?

I don't know to be honest. It would seem to me if we aren't seeing activity on the RX light when commands fail then the commands are not making it to the Arduino at all.

[2015-11-13 08:26] cescopag commented on #959
Yes that was when not responding...

I see what you say... Let's take the video test, I'm pretty sure this is what's going on:

1) Arduino received just the first two instructions, nothing happens (both pins set to zero)
2) When I type the first "w" the third instruction is sent, pin 3 turns on (but it's already on, green led)
3) Then I type the second "w", the fourth instruction is sent, pin 6 tu

[2015-11-13 15:28] dtex commented on #959
Oh man, I don't really know. These aren't things I've explored before.

Here's what I do know:
* All the commands are being sent from Johnny-Five to Firmata
* All the commands are being sent from Firmata to node-serialport
* Somewhere between the node-serialport javascript layer and the computer's USB port messages are getting stuck
* The messages are not lost, just stuck. Tapping any key on the k

[2015-11-13 16:31] rwaldron commented on #959
![](https://i.gyazo.com/d1531a52d36b0a999678d265e9948ca4.png)

Sorry I'm late with this...

[2015-11-13 17:14] scottgonzalez opened #963 "Piezo: isPlaying should be readonly"

[2015-11-13 19:17] scottgonzalez commented on #963
Docs are updated.

[2015-11-13 19:57] frxnz commented on #956
This was closed with https://github.com/rwaldron/johnny-five/commit/662098bce2efa52549e35fd387aeac7b711292ea

[2015-11-13 19:57] #956 closed

[2015-11-13 22:55] #963 closed

[2015-11-14 14:43] cescopag commented on #959
this is my setup:
![mac details]
(https://dl.dropboxusercontent.com/u/218685/J5-problem/mymac.png)
no USB hub or keyboard... just arduino straight into usb port

[2015-11-14 14:48] cescopag commented on #959
node.js version is 0.12.4
how can I find out the version of other parts?

[2015-11-14 16:02] dtex commented on #959
Your hardware is very different from @rwaldron's so likely nothing there. I'm going to install those versions and see if I can replicate. I'm afraid it won't be until Monday or Tuesday night because I am at Nodevember and left my test rig at home.

[2015-11-19 23:45] iammerrick opened #966 "Flashing EV3"
Would be great to have some documentation on how to flash the EV3 brick.

[2015-11-20 03:06] rwaldron commented on #966
I'm not sure I understand why? Johnny-Five code doesn't run on the EV3 Brick yet, that's a work in progress for 2016. The current Lego EV3 and NXT support is for use with the EVShield. http://johnny-five.io/news/lego-evshield-support/

[2015-11-20 19:04] iammerrick commented on #966
Oh I'm sorry @rwaldron I misunderstood. Thanks for the kind reply, sorry for the inconvenience.

[2015-11-20 19:04] #966 closed

[2015-11-20 19:07] rwaldron commented on #966
No inconvenience at all!

I _have_ been working on an IO plugin for running code directly on an EV3, but I have touched it in many months. I'm shooting to have something useable in spring of 2016

[2015-11-20 19:08] iammerrick commented on #966
Sweet! Looking forward to it!